@charset "utf-8";

/* CSS Document */

*, body, div, img, ul, li {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	font-size: 16px;
	text-decoration: none;
	list-style: none;
	color: #fff;
}

.clear { clear: both; }

.body_box {
	width: 100%;
	background: url(../images/xuanxiu/html_bg.jpg) no-repeat top;
	padding-bottom: 30px;
}

.content {
	width: 1000px;
	background: url(../images/xuanxiu/content.jpg);
	margin: 0 auto;
	color: #fff;
}




.head {
	background: url(../images/xuanxiu/head.jpg);
	position: relative;
	height: 810px;
}

.mydiv {
	background-color: #000;
	z-index: 999;
	width: 785px;
	height: 455px;
	left: 37%;
	top: 27%;
	margin-left: -150px!important;/*FF IE7 该值为本身宽的一半 */
	margin-top: -60px!important;/*FF IE7 该值为本身高的一半*/
	margin-top: 0px;
	position: fixed!important;/* FF IE7*/
	position: absolute;/*IE6*/
_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

.bg, .popIframe {
	background-color: #000;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;/*FF IE7*/
	filter: alpha(opacity=50);/*IE*/
	opacity: 0.5;/*FF*/
	z-index: 1;
	position: fixed!important;/*FF IE7*/
	position: absolute;/*IE6*/
_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/* www.codefans.net IE5 IE5.5*/
}

.close {
	width: 50px;
	height: 50px;
	background: url(../images/xuanxiu/close.jpg);
	display: block;
	left: 785px;
	top: -454px;
	position: relative
}

.mid { margin-top: 19px; }

.xuanfu {
	background: url(../images/xuanxiu/xf_bg.png);
	width: 130px;
	height: 485px;
	position: fixed;
	top: 25%;
	right: 30px;
	z-index: 10000000;
	text-align: center;
}

.hdxq {
	width: 219px;
	height: 218px;
	position: absolute;
}

.hdxq a {
	width: 111px;
	height: 40px;
	display: block;
	position: absolute;
	top: 10px;
	left: 4.3%;
	z-index: 100;
	background: url(../images/xuanxiu/xq.png);
}

.hdxq .hdxq_nr {
	position: absolute;
	top: -250%;
	left: -600px;
	display: none;
	z-index: 999;
}

.hdxq.on .hdxq_nr { display: block; }

.hdxq.on a { background: url(../images/xuanxiu/xq.png); }
 @charset "utf-8";

/* CSS Document */
#header {
	position: relative;
	height: 596px;
}

#header img { display: block; }

.topNav {
	
	left: 209;
	top: 0px;
	width: 980px;
}

.topNav a {
	float: left;
	width: 105px;
	height: 68px;
	padding-top: 42px;
	text-align: center;
	font-size: 18px;
	color: #19131f;
	font-family: "Microsoft YaHei";
	background: url(http://zxsj.wanmei.com/images/main150608/navFot.png) no-repeat 0 -100px;
}

.topNav a:hover {
	text-decoration: none;
	color: #FFF;
	background-position: 0 0;
}

.topNav span {
	display: block;
	font-family: arial;
	font-size: 10px;
	padding: 3px 0 0 0;
}

.js {
	border: 1px solid rgb(96, 96, 96);
	background-color: rgb(21, 21, 21);
	width: 998px;
	height: 536px;
	margin: 16 auto 16 auto;
	font-size: 14px;
	margin: 0 0 90px;

}

.js h1 {
	padding-left: 38px;
	padding-top: 20px;
	color: #c1a073;
}

.js p {
	font-size: 14px;
	line-height: 22px;
	display: block;
	padding-left: 38px;
	padding-top: 20px;
}
