@charset "utf-8";

/* CSS Document */

*, body, div, img, ul, li {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	font-size: 16px;
	text-decoration: none;
	list-style: none;
	color: #fff;
}

#header {
	position: relative;
	height: 596px;
}

#header img { display: block; }

.topNav {

	left:209;
	top: 0px;
	width: 778px;
}

.topNav a {
	float: left;
	width: 105px;
	height: 68px;
	padding-top: 42px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	font-family: "Microsoft YaHei";
	background: url(http://zxsj.wanmei.com/images/main150608/navFot.png) no-repeat 0 -100px;
}

.topNav a:hover {
	text-decoration: none;
	color: #FFF;
	background-position: 0 0;
}

.topNav span {
	display: block;
	font-family: arial;
	font-size: 10px;
	padding: 3px 0 0 0;
}

.videoBox {
	width: 275px;
	height: 120px;
	position: absolute;
	left: 50%;
	top: 421px;
	margin-left: -137px;
	background: #000;
	z-index: 1;
}

.videoBtn {
	width: 275px;
	height: 120px;
	position: absolute;
	left: 50%;
	top: 421px;
	margin-left: -137px;
	cursor: pointer;
	z-index: 2;
}







.clear { clear: both; }

.body_box {
	width: 100%;
	background: url(../images/xuanxiu/html_bg.jpg) no-repeat top;
	padding-bottom: 30px;
}

.content {
	width: 1000px;
	background: url(../images/xuanxiu/content.jpg);
	margin: 0 auto;
	color: #fff;
}

.head {
	background: url(../images/xuanxiu/head.jpg);
	position: relative;
	height: 810px;
}

.jp {
	position: absolute;
	top: 560px;
}

.jp img { position: absolute; }

.sp {
	width: 594px;
	position: absolute;
	top: 639px;
	left: 407px;
}

.pink {
	float: left;
	top: 0;
	left: 0;
	width: 368px;
	height: 142px;
	background: url(../images/xuanxiu/pink_bg.png);
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 1.5em;
}

.pink h1 { font-size: 16px; }

.mydiv {
	background-color: #000;
	z-index: 999;
	width: 785px;
	height: 455px;
	left: 37%;
	top: 27%;
	margin-left: -150px!important;/*FF IE7 该值为本身宽的一半 */
	margin-top: -60px!important;/*FF IE7 该值为本身高的一半*/
	margin-top: 0px;
	position: fixed!important;/* FF IE7*/
	position: absolute;/*IE6*/
_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}

.bg, .popIframe {
	background-color: #000;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;/*FF IE7*/
	filter: alpha(opacity=50);/*IE*/
	opacity: 0.5;/*FF*/
	z-index: 1;
	position: fixed!important;/*FF IE7*/
	position: absolute;/*IE6*/
_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/* www.codefans.net IE5 IE5.5*/
}

.close {
	width: 50px;
	height: 50px;
	background: url(../images/xuanxiu/close.jpg);
	display: block;
	left: 785px;
	top: -454px;
	position: relative
}

.mid { margin-top: 19px; }

.gd {
	background: url(../images/xuanxiu/gd_bg.png);
	float: left;
	margin-left: 50px;
	width: 308px;
	height: 24px;
	padding-top: 6px;
}

.bq {
	width: auto;
	height: 41px;
	float: left;
	padding: 0px;
	margin-left: 20px;
}

.bq ul li {
	float: left;
	list-style: none;
	margin-left: 13px;
}

.rw ul { margin-top: 20px; }

.rw li {
	float: left;
	background: #ff42a5;
	width: 230px;
	height: 385px;
	position: relative;
}

.rw ul li h1 {
	margin-top: 4px;
	margin-left: 80px;
}

.rw ul li h2 {
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	font-size: 14px;
}

.rw ul li h3 {
	margin-top: 5px;
	float: right;
	margin-right: 10px;
	font-size: 14px;
}

.lhbm {
	width: 905px;
	height: 188px;
	background: url(../images/xuanxiu/fs_bg.png) repeat;
	margin-top: 10px;
	padding: 26px 30px 26px 30px;
}

.sssp {
	width: 968px;
	height: 165px;
	background: url(../images/xuanxiu/fs_bg.png) repeat;
	margin-top: 10px;
	padding: 30px 15px 30px 15px;
}

.jpjs {
	width: 219px;
	height: 218px;
	position: absolute;
}

.jpjs a {
	width: 219px;
	height: 218px;
	display: block;
	position: absolute;
	left: 130px;
	top: 0;
	z-index: 3;
	background: url(../images/xuanxiu/ji_1.png);
}

.jpjs .jpjs_nr {
	position: absolute;
	top: 10px;
	left: 30px;
	display: none;
	z-index: 999;
}

.jpjs.on .jpjs_nr { display: block; }

.jpjs.on a { background: url(../images/xuanxiu/ji_1.png); }

.xuanfu {
	background: url(../images/xuanxiu/xf_bg.png);
	width: 130px;
	height: 485px;
	position: fixed;
	top:12%;
	right:30px;
	z-index:10000000;
	text-align:center;
}


.hdxq {
	width: 219px;
	height: 218px;
	position: absolute;
}

.hdxq a {
	width: 111px;
	height: 40px;
	display: block;
	position: absolute;
	top: 10px;
	left:4.3%;
	z-index: 100;
	background:url(../images/xuanxiu/xq.png);
}

.hdxq .hdxq_nr {
	display: none;
    left: 300px;
    position: fixed;
    top: -2%;
    z-index: 999;
}

.hdxq.on .hdxq_nr { display: block; }

.hdxq.on a { background:url(../images/xuanxiu/xq.png); }
