@charset "utf-8";
/* CSS Document */

*, body, div {
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
	padding: 0;
	margin: 0;
	display: block;
}

.content_box {
	background: url(../images/content_box_bg.jpg) no-repeat top;
	width: 100%;
}

.content {
	width: 992px;
	height: 992px;
	margin: 0px auto;
	background: url(../images/content_bg_02.jpg) no-repeat center;
	padding: 0px;
}

img.anniu {
	position: relative;
	top: 575px;
	left: 319px;
}

.clear { clear: both; }
