@charset "utf-8";

/* CSS Document */
body, div, *, ul, li, img {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	color: #483d44;
	font-weight: bold;
	list-style: none;
}

.bg_box {
	background: url(../../images/new/list_box_bg.jpg) no-repeat center;
	width: 100%;
	height: 995px;
}

.content {
	background: url(../../images/new/list_con_bg.jpg) no-repeat center;
	width: 992px;
	height: 995px;
	margin: 0px auto;
}

.biaoti {
	background: url(../../images/new/zuixin_bg.jpg) no-repeat;
	width: 300px;
	height: 54px;
	margin-left: 39px;
}

.biaoti span {
	float: left;
	margin-top: 10px;
	margin-left: 65px;
	font-size: 24px;
}

.clear { clear: both; }

.wenben {
	background: url(../../images/new/wenben.jpg) no-repeat center;
	width: 940px;
	height: 451px;
	margin: 0px auto;
	margin-top: 18px;
	position: relative;
}


.wenben ul {
	padding-top: 22px;
	font-size: 24px;
}

.wenben li {
	background: url(../../images/new/wenben_bg.png) repeat-x;
	height: 82px;
	width: 940px;
	position:relative;
}
.wenben h1 {
	position: absolute;
	top: 23px;
	left: 96px;
	font-size: 24px;
}

.wenben h2 {
	position: absolute;
	top: 23px;
	left: 245px;
	font-size: 24px;
}
.wenben h3 {
	position: absolute;
	top: 31px;
	left: 860px;
	font-size: 14px;
}

.wenben img {
	float: left;
	border: none;
	margin-top: 22px;
	margin-left: 23px;
}
