@charset "utf-8";

/* CSS Document */

body, div, {
 margin: 0px;
 padding: 0px;
 background:#f4dee9;
}

.box {
	background: url(../../images/new/news.jpg) no-repeat center;
	width: 100%;
	height: 310px;
	border-bottom: 2px solid #434040;
}

.content {
	width: 992px;
	background: url(../../images/new/news_01_02.jpg) no-repeat center;
	height: 310px;
	margin: 0px auto;
}

.clear { clear: both; }

.pink_box {
	background: #f4dee9;
	padding-top: 20px;
	min-height: 800px;
	_height: 800px;
}

.pink {
	background: #fac5d4;
	margin: 0px auto;
	display: block;
	width: 942px;
	position: relative;
	padding-top: 25px;
	padding-bottom: 100px;
}

img.circle {
	position: absolute;
	left: 381px;
	top: 18px;
}

.news {
	color: #483d44;
	font-family: "微软雅黑";
	font-size: 24px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 20px;
	text-align:center;
	
}

.zhengwen {
	color: #000;
	font-size: 14px;
	font-family: "微软雅黑";
}

.date {
	font-family: adamina;
	font-size: 10px;
	text-align: center;
}

.bt_box { width: 100%; }
.bt{
	width:940px;
	margin:0px auto;}
