﻿

#content{
	width: 100%;
	height: 3727px;
	position: relative;
	background:url(../img/body.jpg) #02111c no-repeat center top;
	margin: 0 auto;
}

#banner{
	width:1000px;
	height: 888px;
	overflow:visible;
	position: relative;
	margin: 0 auto;
}

#part1{
	width:1000px;
	height:465px;
	position: relative;
	background:url(../img/m.jpg);
	margin: 0 auto;
}


#video{
	position: absolute;
	left: 50px;
	top: 25px;
	height: 450px;
	width: 900px;
}
#ys{
	height: 80px;
	width: 224px;
	display: block;
	position: absolute;
	top: 180px;
	right: 60px;
	background:url(../img/bg/tb.png) no-repeat center top;
	background-position: 0px -126px;
}
#ys:hover{
	background:url(../img/bg/tb.png) no-repeat center top;
	background-position: 0px -224px;
}

#receive{
	height: 48px;
	width: 224px;
	display: block;
	position: absolute;
	top: 215px;
	right: 110px;
	background:url(../img/bg/tb.png) no-repeat center top;
	background-position: 0px 0px;
	overflow: visible;
}
#receive:hover{
	background:url(../img/bg/tb.png) no-repeat center top;
	background-position: 0px -58px;
	overflow: visible;
}

.dibu{ width:1000px; height:34px; background:url(../img/b.jpg); margin:auto;}




#part2{
	width:1000px;
	height: 283px;
	position: relative;
	background:url(../img/bg/bg3.jpg) no-repeat center top;
	margin: 0 auto;
}

#part3{
	width:1000px;
	height: 188px;
	position: relative;
	background:url(../img/bg/bg4.jpg) no-repeat center top;
	margin: 0 auto;
}

#part4{
	width:1000px;
	height: 383px;
	position: relative;
	background:url(../img/bg/bg5.jpg) no-repeat center top;
	margin: 0 auto;
	margin-bottom: 5px;
}


#part4_1{
	height: 204px;
	width: 950px;
	position: absolute;
	top: 103px;
	left: 40px;


}

#part4_1 a{
	height: 204px;
	width: 209px;
	border: 1px #808080 solid;
	display: block;
	float: left;
	margin-right: 13px;
	margin-left: 13px;
}

#part4_2{
	height: 20px;
	width: 950px;
	position: absolute;
	top: 320px;
	left: 40px;
	font-family: 微软雅黑;


}

#part4_2 a{
	height: 20px;
	width: 209px;
	display: block;
	float: left;
	margin-right: 13px;
	margin-left: 13px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
}

#part4_2 a:hover{
	color: #4E12D2;
}







#part5{
	width:1000px;
	height: 530px;
	position: relative;
	margin: 0 auto;
}
.nav1{ width:1000px; height:82px; background:url(../img/nav1.png); margin:20px auto 0px auto}
.nav2{ width:1000px; height:82px; background:url(../img/nav2.png); margin:20px auto 0px auto}
.nav3{ width:1000px; height:82px; background:url(../img/nav3.png); margin:20px auto 0px auto}
.dinbu{ width:1000px; height:35px; background:url(../img/t.jpg); margin:0px auto}
.zhongbu{ width:1000px; padding:5px auto; background:url(../img/m.jpg); margin:0px auto}
.n1{ width:483px; background:url(../img/n1.png) no-repeat; float:left; padding-top:45px; margin-left:20px; color:#a9c6d4; font-size:14px; font-family:"微软雅黑"; text-indent:2em; line-height:24px}
.n2{ width:413px; background:url(../img/n2.png) no-repeat; float:left; padding-top:41px; margin-top:4px; margin-left:45px}
.n3{ width:950px; height:318px; background:url(../img/n3.png) no-repeat; margin:30px auto 0px auto; padding-top:5px}
.xiahua{ width:949px; height:2px; background:url(../img/xiahua.jpg); clear:both; margin:0px auto 20px auto}
.xiazai img{ margin-top:20px; padding-left:30px}
.u1 li{ width:208px; float:left; margin-left:30px}
.u1 img{ width:208px; height:270px; border:1px solid #000000}
.u1 p { margin-top: 10px;text-align:center;color:#a9c6d4; font-size:14px; font-family:"微软雅黑"}
.u1 a:hover{ text-decoration:none}

















