@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body, th, td, input, select, textarea, button {
    font: 12px/1.5em "微软雅黑";
}
body, h1, h2, h3, h4, h5, h6, form, fieldset, div, dl, dt, dd, ul, ol, li, input, button, textarea, p, th, td, a, img, strong {
    margin: 0;
    padding: 0;
}
div, form, img, ul, ol, li, dl, dt, dd, p, fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
img, input {
    vertical-align: middle;
}
cite, em {
    font-style: normal;
}
object:focus {
    outline: 0 none;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a img {
    border: medium none;
}

 #tc p{
	font-family: Microsoft YaHei;
	color: #333333;
}
.ui_window{ position:absolute;z-index:10; display:none;}
.ui_window .ui_pop_box{ z-index:11;position:relative;*zoom:1; overflow:hidden; background:#fcfcfc;border-radius:2px;}

.ui_window .pop_head_tit{ height:30px; line-height:30px; padding-left:10px; font-size:14px; color:#333; font-weight:bold; border-bottom:1px solid #c5c5c5; overflow:hidden;}
.ui_window .ui_pop_head_btn_close{ position:absolute; right:5px; top:5px;z-index:12; cursor:pointer;}
.ui_window .pop_body{ background:#ffffff; position:relative; overflow:hidden;}
.ui_window .loading{ background:#ffffff url(http://i0.letvimg.com/img/201207/20/loading.gif) no-repeat center center;}
.ui_pop_mask{ display:none}
.ui_pop_head_btn_close,.login-input,.login-inputS{ background:url(http://i1.letvimg.com/img/201312/04/1536/login_icon.png) no-repeat;_background:url(http://i1.letvimg.com/img/201312/04/1536/login_icon.png) no-repeat;}
.ui_window .ui_pop_head_btn_close{ width:25px; height:25px; cursor:pointer; background-position:-310px 5px;}
.ui_window .ui_pop_head_btn_close:hover{background-position:-330px 5px;}

#complete{
	background:url(http://i2.letvimg.com/diany/201405/26/tc01_2.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#complete_look{
	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 141px;
	top: 185px;


}
#complete_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}
#complete_1{
	font-size: 24px;
	top: 104px;
	position: absolute;
	left: 140px;

}
#complete_2{
	font-size: 18px;
	top: 130px;
	position: absolute;
	left: 48px;

}

#fillnumber{
	background:url(http://i0.letvimg.com/diany/201405/21/tc02.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#fillnumber_look{
	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 140px;
	top: 167px;


}
#fillnumber_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}

#joined{
	background:url(../img/tc/tc006.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#joined_look{

	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 80px;
	top: 185px;

}
#joined_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}


#buy{
	background:url(../img/tc/tc004.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#buy_look{
	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 140px;
	top: 177px;


}
#buy_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}
#buy_1{
	font-size: 18px;
	top: 100px;
	position: absolute;
	left: 143px;

}
#buy_2{
	font-size: 18px;
	top: 130px;
	position: absolute;
	left: 57px;	
}


#fillnumber_book{
	background:url(../img/tc/tc003.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#fillnumber_book_look{
	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 140px;
	top: 165px;


}
#fillnumber_book_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}


#success{
	background:url(../img/tc/tc005.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#success_look{
	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 90px;
	top: 165px;

}
#success_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}

#member{
	background:url(http://i3.letvimg.com/diany/201405/21/tc07.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#member_look{
	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 140px;
	top: 176px;


}
#member_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}


#confirm{
	background:url(http://i2.letvimg.com/diany/201405/21/tc08.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#confirm_ok{
	display: block;
	height: 43px;
	width: 200px;
	position: absolute;
	left:73px;
	top: 198px;

}
#confirm_modify{
	display: block;
	height: 43px;
	width: 200px;
	position: absolute;
	left: 273px;
	top: 198px;

}
#confirm_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}

#confirm span{

	font-size: 24px;
	color: #990000;

}
#confirm_1{
	font-size: 18px;
	top: 117px;
	position: absolute;
	left: 69px;

}
#confirm_2{
	font-size: 18px;
	top: 147px;
	position: absolute;
	left: 123px;

}


#sign_ok{
	background:url(http://i1.letvimg.com/diany/201405/21/tc01.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}
#sign_ok_look{
	display: block;
	height: 43px;
	width: 220px;
	position: absolute;
	left: 140px;
	top: 186px;


}
#sign_ok_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}
#sign_ok p{
	font-family: Microsoft YaHei;
	color: #333333;
}
#sign_ok_1{
	font-size: 24px;
	position: absolute;
	left: 200px;
	top: 115px;

}
#sign_ok_2{
	font-size: 18px;
	top: 145px;
	position: absolute;
	left: 64px;
	
}



#information{
	background:url(../img/tc/tc007.jpg) no-repeat center top  #000000;
	height: 292px;
	width: 498px;
	position: relative;
	margin: 0 auto;

}

#information_close{
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 19px;
	top: 18px;
}
#information p{
	font-family: Microsoft YaHei;
	color: #333333;
	font-size: 14px;
}
#information span{
	color: #990000;

}
#information_1{
	position: absolute;
	left: 55px;
	top: 137px;
}
#information_2{
	position: absolute;
	left: 55px;
	top: 134px;	
}
#information_3{
	position: absolute;
	left: 55px;
	top: 175px;	
}
#information_4{
	position: absolute;
	left: 380px;
	top: 134px;	
}
#information_5{
	position: absolute;
	left: 380px;
	top: 175px;	
}
#information_6{
	position: absolute;
	left: 260px;
	top: 137px;	
	text-decoration: underline;
}
#information_text_name{
	position: absolute;
	left: 142px;
	top: 134px;
	width: 220px;
	height: 25px;
	border:1px solid #727071;
}
#information_text_address{
	width: 220px;
	height: 80px;
	position: absolute;
	left: 142px;
	top: 175px;
	border:1px solid #727071;
}

#information_7{
	height: 38px;
	width: 87px;
	display: block;
	position: absolute;
	left: 375px;
	top: 211px;
	text-align: left;
}