
html, body { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

html {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

html * {
	outline: 0;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}

/*body{ font-size:12rem;}*/

body, th, td, p, ol, ul, li, dl, dt, dd, a, h1, h2, h3, h4, h5, h6, form, fieldset, input, legend, select, textarea {
	margin: 0;
	padding: 0;
}

input, img, fieldset { border: none; }

input, select, fieldset { vertical-align: middle; }

ul, ol {
	padding-left: 0;
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	vertical-align: top;
}

.clear::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	line-height: 0;
	visibility: hidden;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

/*轮播*/
.slideBox {
	display: block;
	position: absolute;
	width: 14.24rem;
	height: 13.08rem;
	overflow: hidden;
	top: 18rem;
	left: 1rem;
	background: url(../images/vout-bg.png);
	background-size: cover;
}

.slideBox .hd {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 50%;
	left: 0;
	z-index: 1000;
}

.slideBox .hd img { width: 100%; }

.slideBox .prev, .slideBox .next {
	position: absolute;
	display: block;
	width: .64rem;
	height: .7rem;
}

.slideBox .prev { left: .62rem; }

.slideBox .next {
	left: auto;
	right: 0.9rem;
}

.slideBox .bd {
	position: relative;
	z-index: 0;
	width: 7.4rem;
	margin: 0 auto;
	margin-top: .32rem;
	z-index: 1001
}

.slideBox .bd li { position: relative; }

.slideBox .bd li img {
	width: 100%;
	height: auto;
	display: block;
}

.slideBox .bd li a { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */ }

.slideBox .bd li .tit {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-indent: 10px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
}

.shuoming {
	width: 13.81rem;
	height: 11.14rem;
	text-align: left;
	background: url(../images/shuoming.png);
	background-size: 100% auto;
	position: absolute;
	top: 32rem;
	left: 1.1rem;
}

.shuoming {
	width: 13.81rem;
	height: 8.02rem;
	background: url(../images/shuoming.png);
	background-size:cover;
	position: absolute;
	top: 32rem;
	left: 1.1rem;
	
}
.shuomingnei{
	margin:0px auto;
	width:13.21rem;
	font: .4rem/1.9rem 'Microsoft YaHei';
	color: #c0745c;
	line-height: .55rem;
	display: block;
	margin-top:1.33rem;}

.shouye {
	width: 3rem;
	position: absolute;
	top: 0.5rem;
	left: 10rem;
	font: .4rem/1.9rem 'Microsoft YaHei';
	color: #fff;
	display: block;
}


.bottom {
	position:absolute;
	left:3.8rem;
	top:42rem;
	width: 8.8rem;
	text-align:center;
	margin: 0px auto;
	margin-top: 1.4rem;
	font: .27rem/1.9rem 'Microsoft YaHei';
	color: #fff;
	line-height: .5rem;
	display:block;
}
