﻿.content{background:url(../images/mf_bigbg.jpg) no-repeat center 0; min-width: 300px; }
.bigmain{width: 100%;}
　@media screen and (max-device-width: 400px) {

　　　　.column {
　　　　　　float: none;
　　　　　　width:auto;
　　　　}

　　　　#sidebar {
　　　　　　display:none;
　　　　}

　　}
img { max-width: 100%;max-height: 100%;}
.navlogo img{float: left;}
.nav{height: 106px;margin: 0 auto;margin: 0 auto;}
.nav{ text-align: center;}
.nav .fl{width:105px;}
.nav .fr{float:left; display: inline-block;margin-left: 3%;}
.nav .fr li{float: left;width: 139px;height:55px;line-height:50px;text-align: center; padding-top:17px;overflow: hidden; font-family: "微软雅黑"; margin-left: 10px;cursor: pointer;}
.nav .fr li a{color:#FFF;display: block;margin-top: 7px;font-size: 14px;width: 139px;height:55px;line-height:50px;}
.nav .fr li a:hover{width: 139px;height:55px;color:#FFF; text-decoration: none; background: url(../images/mf_k_03.png) no-repeat center 0;line-height:50px;} 
.nav .ts{color:#FFF; text-decoration: none;}
.nav .fr li span {color: #FFF;font-size: 6px;}
.nav .fr li.on {background: url(../images/mf_k_03.png) no-repeat center bottom;width: 139px;height:55px;}
.mf_mv{float: left;}
.mf_mx{float: left;}
.mf_c1{float: left; margin-left:0;background-color: #b43751;height: 500px;width: 20%;min-width: 250px;  position: relative;
  z-index: 0;}
.mf_c2{float: left;background-color: #b43751;height: auto;}
.mf_c2_01{height: 500px;width: auto;}
.mf_c2_02{height: 365px;  width: 20%;}
.mf_c3{float: left;width: auto;background-color:#c84863}
.mf_c4{float: left;width: auto;height: 400px;}
.tab{position:relative;margin-left: 20px;}


.tab .tabList ul li{
	float:left;
	
	padding:6px 0;
	width:74px;
	text-align:center;
	margin-left:-1px;
	position:relative;
	cursor:pointer;
	color: #e1b0ba;
}
.tab .tabCon{
	position:absolute;
	left:-1px;
	top:25px;
	border-top:none;
	width:220px;
	height:100px;
	color: #fff;
	margin-top: 20px;
}
.tab .tabCon li{line-height: 22px;margin-top: 10px;width:220px; position: relative;}
.tab .tabCon li span{position: absolute;right: -10px;}
.tab .tabCon a {color: #fff;width:220px;}

.tab .tabCon div{
	padding:0px 0 10px 0;
	position:absolute;
	/*opacity:0;
	filter:alpha(opacity=0);*/
	height: 20%;
}
.tab .tabList li.cur{
	border-bottom:1px solid #b49461;
	color: #fff;
	font-weight: bold;
}
.tab .tabCon div.cur{
	opacity:1;
	filter:alpha(opacity=100);
}
.tab .tabCon li.first{width: 279px;height: 79px;}
#tab0{margin-top: 29px;}
#tab0 .tabList ul{height:28px;border-bottom:1px solid #e47fd93;width: 280px;}
#tab0 .tab .tabCon li{width: 225px;}
#tab1{margin-top: 20px}
#tab1 .tabList ul{margin-top:17px;height: 30px;border-bottom:1px solid #e47d93;width: 220px;padding-top: 17px;}
#tab2 .tabList ul{margin-top:17px;height: 30px;border-bottom:1px solid #e47d93;width: 100%;background-color: #b43751;}
.jia img{top:8px;right: 20px;}
.jia1 img{top:22px;right: 20px;cursor: pointer;z-index: 2;}
.jia2 img{top:257px;right: 33px;cursor: pointer;z-index: 2;}
.mf_c1_01{height: 190px;width: 20%;background-color: #b43751;}
.mf_c1_02{background-color: #c84863;height: 260px;}
#tab2 {height: auto;background-color: #c84863;}
#tab2 .tabCon{width: 85%;top: 15px;}
#tab2 .tabCon li{float: left;width: 40%;min-width: 220px; margin-right: 20px;color: #fff;height: 17px;}
#tab2 .tabCon li a{width: 100%;min-width: 220px; margin-right: 20px;color: #fff;height: 17px;}
.mf_c3 .kf{height: 24px;font-size: 16px;color: #fff;margin-top: 0px;height: 30px;text-align: center;line-height: 30px;}
.mf_c3 .kf_online{margin-top: 5px;height: 35px;text-align: center;}
.mf_c3 .kf_04{margin-left: 1px; margin-top: 5px;font-size: 14px;color: #fff;height: 24px;text-align: center;}
.mf_c3 .kf_05{margin-left: 1px; margin-top: 5px;font-size: 14px;color: #fff;height: 24px;text-align: center;}
.mf_c3_img{margin-bottom: 10px;}
.mf_c3_img2{height: 62px; text-align: center;}
.mf_c3_img2 ul{}
.mf_c3_img2 ul li{float: left;margin-left:10px;}
.mf_c4_lin{width: 100%;height: 120px;}
.mf_c4_lin ul li{float: left;}


.hzmt{ height: 84px;width:80%; margin: 0 auto;margin-top: 20px;position:relative; }
.hzmt_title{margin-left: 5%;float: left;margin-top: 10px; margin-right: 10px;}
.picMarquee-left{ width:60%;  overflow:hidden; position:relative;  }
.picMarquee-left .bd{ padding:10px;   }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center;  margin-top: 0PX;}
.picMarquee-left .bd ul li .pic img{ display:block;width: 85px;height: 33px;}
.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picMarquee-left .bd ul li .title{ line-height:24px;   }

/*footer*/
.footer{background: url(../images/bottom.png) repeat-x center 0;height: 70px;padding: 15px 0; color: #fff;margin-top: 15px;}
.footerphone{background: url(../images/bottom.png) repeat center 0;height: 121px;}
.footer_logo{width:150px;text-align: center;  margin-top: 10px;}
.footer_wx{width: 75px;padding-left: 30px;border-left: 1px solid #000;}
.footer_wb{width: 85px;margin-left: 30px;}
.copyright{width: 360px;padding: 0 55px 0 0;text-align: right;line-height: 20px; color: #fff;}
.copyright a{color: #fff;}
.mf_mx1{
	margin-left: 20px;
	
}
.mf_mx2{
	text-align: center;
}
.mf_mx3{
	margin-left: 23%;
}
.mf_mx4{
	margin-left: 20px;
	margin-top: 5px;
}
.mf_mx5{
	margin-left: 20px;
	margin-top: 5px;
}
.mf_mx_div div{float: left;text-align: center;}
.mf_mx_title{font-size: 20px;text-align: center;margin-left: 1%;}
.mf_mv .img001{margin-bottom: -5px;}
.mfimg{ width: 250px; height: 100px; margin-left: -7%;}
/* 本例子css */
.slideBox{ width:auto; height:239px; overflow:hidden; position:relative;   }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:10;   margin-bottom: 4px;}
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background: url(../images/index_y_03.png) -15px 0px no-repeat; cursor:pointer;margin-left: -3px; }
.slideBox .hd ul li.on{ background: url(../images/index_y_03.png) 0px 0px no-repeat; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:auto; height:239px; display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%;z-index: :20; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.slideBox li .bg_txt{width:99%;padding:0 10px;overflow:hidden;font-size:16px;height: 40px;line-height: 40px;position: absolute;background:url(../images/bg.png) repeat-x 0 0;bottom: 0;left: 0;}
.slideBox li .bg_txt a{color: #fff;}
.slideBox .bg{width:99%;padding:0 10px;overflow:hidden;background:url(../images/bg.png) repeat-x 0 0;height: 40px;position: absolute;bottom: 0;left: 0;}

/* focus */
#focus{width:566px;height:700px;margin:0 auto;}
.f_img{width:130px;height:380px;}
#focus div{position:absolute;overflow:hidden;}
#focus img{}
#focus #focus_img{display:none;}
.yc{width: 50px;display: block;}

.black_overlay{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}
.white_content {
display: none;
position: absolute;
top: 10%;
left: 37%;
width: 566;
height: 705px;

z-index:1002;
overflow: auto;
}
.white_content_small {
display: none;
position: absolute;
top: 20%;
left: 30%;
width: 566px;
height: 705px;

z-index:1002;
overflow: auto;
}

