﻿/* public */
html,body,form,ol,ul,li,div,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,font,em,ins,span,a{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;font-weight:normal}
html{_filter:expression(document.execCommand("BackgroundImageCache",false,true));}
ul,li,div,dl,dt,dd{list-style:none;}
h1.wm-public{height:0px; line-height:0px; font-size:0px;}
a{text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
img{border:0;}
font,em{font-style:normal; font-family:\5b8b\4f53;}
label{vertical-align:middle; font-family:tahoma;}
textarea,input{resize:none; outline:none;}
textarea{overflow:auto;}
ins{float:right; text-decoration:none; font-weight:normal;}
.pub_wsp{word-wrap:break-word; word-break:break-all;}
.pub_abso{vertical-align:middle;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.pub_yh{font-family:"Microsoft YaHei";}
.none{display:none;}
body{background:#f9c0cc; font-size:12px; font-family:Verdana,Geneva,sans-serif,\5b8b\4f53;}
.minWidth{margin:0 auto; width:1002px;}
#content,#sharediv{min-width:1002px; width:100%; width:expression((documentElement.clientWidth < 1002) ? "1002px" : "100%" );}

/* page background */
#wrap{background:url(../images/mainBg.jpg) no-repeat center top;}

/* header */
#header{position:relative; height:520px;}
#header img{display:block;}
#logo{position:relative; left:326px; top:0; z-index:1;}
.navBox{position:absolute; width:1002px; height:52px; left:0; top:0; background:url(../images/navBg.jpg) no-repeat 0 0;}
.navBox a{display:block; position:absolute; width:158px; height:52px; top:0; filter:alpha(opacity=0);-moz-opacity:0; opacity:0;}
.navBox a.nav1{background:url(../images/nav1.jpg) no-repeat 0 0; left:9px;}
.navBox a.nav2{background:url(../images/nav2.jpg) no-repeat 0 0; left:169px;}
.navBox a.nav3{background:url(../images/nav3.jpg) no-repeat 0 0; right:170px}
.navBox a.nav4{background:url(../images/nav4.jpg) no-repeat 0 0; right:10px;}
.navBox a.hover{filter:alpha(opacity=100); -moz-opacity:1.0 !important; opacity:1.0 !important;}

.mainBox1{height:482px; padding:0 0 0 52px;}
.box1{width:501px; height:482px; background:url(../images/box1Bg.jpg) no-repeat 0 0; float:left;}
.boxDown{height:134px; padding:12px 0 0 4px;}
.boxDown dt{float:left; width:147px; height:100px; border-right:1px solid #ae4d62; text-align:center;}
.boxDown dt h4{padding:4px 0 0 85px; height:30px;}
.boxDown dt h4 span{display:block; background:url(../images/se.png) no-repeat 0 0; width:49px; height:27px; line-height:19px; text-align:center; color:#FFF;}
.boxDown dt h4 span.color1{color:#ffe552;}
.boxDown dt h4 span.color2{background-position:0 -27px;}
.boxDown dt h2{text-align:center; color:#fff8cf; font-size:14px; padding:4px 0 0 0;}
.boxDown dd{float:left; padding:0 0 0 10px; width:185px;}
.boxDown dd h2{font-size:14px; color:#FFF; padding-bottom:4px;}
.boxDown dd img{float:left; width:83px; height:82px;}
.boxDown dd span{float:left; padding:10px 0 0 6px; color:#fff8cf; line-height:20px; width:95px;}
.boxDown dd strong{font-weight:normal; color:#e0c636;}

.newsHot{height:118px;}
.newsHot dt{float:left; padding:41px 0 0 19px; width:100px;}
.newsHot dt img{width:90px; height:72px; border:1px solid #7d031d;}
.newsHot dd{float:left; padding:41px 0 0 0; width:346px;}
.newsHot dd h2{padding:4px 0;}
.newsHot dd p{line-height:20px;}
.newsHot a{color:#cbff00;}
.newsHot a:hover{color:#FFF; text-decoration:underline;}

.newsBox{width:475px; background:#f96181; margin:0 auto; height:200px;}
.newsTab{padding:2px 0 0 10px; background:#e75675; border-bottom:1px solid #e24e6e; height:26px;}
.newsTab a{float:left; width:70px; line-height:26px; height:26px; text-align:center; color:#FFF; font-size:14px; display:inline; margin-right:2px;}
.newsTab a.hover,.newsTab a:hover{background:#940119;}

.newsList{padding:5px 5px 0 5px;}
.newsList p{border-bottom:1px dotted #FFF; height:24px; line-height:24px;}
.newsList a{color:#FFF;}
.newsList a:hover{color:#cbff00;}

.box2{width:395px; height:473px; float:left; background:url(../images/lbg.jpg) no-repeat 0 0; display:inline; margin-left:4px;}
.slideBox{width:395px; height:280px; position:relative;}
.slideBox .bd{width:380px; height:240px; position:relative; margin:0 auto; margin-top:9px; overflow:hidden;}
.slideBox .bd ul{width:5000px;}
.slideBox .bd li{float:left; width:380px; height:240px;}
.slideBox .bd img{width:378px; height:238px; border:1px solid #f86483; border-radius:5px;}

.slideBox .hd{height:15px; overflow:hidden; position:absolute; right:6px; bottom:16px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{float:left; margin-right:4px;  width:6px; height:6px; overflow:hidden; text-indent:-9999px; line-height:0; border:1px solid #f95570; background:#ec3e62; cursor:pointer; }
.slideBox .hd ul li.on{border:1px solid #c8fff7; background:#211b1b; }

.slideBox2{position:relative; width:380px; height:178px; margin:0 auto;}
.slideBox2 .bd{width:255px; height:178px; position:absolute; left:0; top:0; overflow:hidden; z-index:1;}
.slideBox2 .bd ul{width:5000px;}
.slideBox2 .bd li{float:left; width:255px; height:178px;}
.slideBox2 .bd img{width:253px; height:176px; border:1px solid #f86483; border-radius:5px;}

.slideBox2 .hd{background:url(../images/lb2Btn.jpg) no-repeat right 0; width:134px; height:178px; z-index:2; position:absolute; right:0; top:0; overflow:hidden;}
.slideBox2 .hd li{width:134px; height:43px; line-height:42px; margin-bottom:2px; text-align:center; font-size:17px; color:#eef5ac; cursor:pointer; text-indent:12px;}
.slideBox2 .hd li.on{background:url(../images/jiao.png) no-repeat 0 0;}

.mainBox2{height:171px; padding:0 0 0 57px;}
.mainBox2 li{float:left; width:304px; height:157px;}
.mainBox2 img{width:280px; height:155px; border:1px solid #f86483; border-radius:5px;}

.mainBox3{height:840px; padding:0 0 0 51px;}
.mainLeft{float:left; width:261px; height:840px; background:url(../images/mainLeftBg.jpg) no-repeat 0 0;}
.faqBox{height:66px;}
.faqBox a{display:block; width:261px; height:64px; background:url(about:blank);}
.codeBox{height:213px; padding:42px 0 0 0;}
.codeBox img{margin:0 auto; display:block; width:200px; height:200px;}
.info{height:275px;}
.infoTop{height:98px; padding:32px 0 0 26px;}
.infoTop img{float:left; display:inline; margin-right:10px; width:88px; height:86px;}
.infoTop span{float:left; line-height:22px; color:#cbff00; width:98px;}
.wbBox a{display:block; margin:0 auto; width:209px; height:42px; line-height:42px; text-indent:55px; font-size:18px; color:#fff; line-height:42px;}
.wbBox a.wb1{background:url(../images/wb1.jpg) no-repeat 0 0;}
.wbBox a.wb2{background:url(../images/wb2.jpg) no-repeat 0 0;}
.wbBox a.wb3{background:url(../images/wb3.jpg) no-repeat 0 0;}
.kefu{padding:40px 15px 0 15px;}
.kefu p{background:#c93451; font-size:14px; color:#fff6f8; line-height:26px; padding:10px;}
.kefu a{color:#fff6f8;}
.kefu a:hover{color:#ff0;}

.mainRight{float:left; width:634px; height:840px; background:url(../images/pBg.jpg) no-repeat 0 0; margin-left:7px; display:inline;}
.lrBox1{height:186px;}
.lrBox2{height:220px;}
.lrBox3{height:236px;}
.lrBox4{height:172px;}

.picBox{float:left; width:287px; height:198px; overflow:hidden; display:inline;}
.picBox ul{width:300px;}
.picBox li{float:left; display:inline; margin-right:9px; width:139px; height:116px; background:#df5a76;}
.picBox img{width:137px; height:89px; border:1px solid #df5b76; display:block;}
.picBox p{text-align:center; line-height:24px;}
.picBox a{color:#5d0000;}
.picBox a:hover{color:#FFF;}
.pic1{margin-left:15px;}
.pic2{margin-left:29px;}
.moreBox{height:68px;}
.moreBox h3{text-align:right; height:27px; line-height:27px;}
.moreBox a{color:#FFF;}
.moreBox a:hover{color:#FF0; text-decoration:underline;}

.showBox{width:368px; height:180px; float:left;}
.showh3{height:42px; line-height:36px; text-align:right; padding-right:24px;}
.showh3 a{color:#FFF;}
.showh3 a:hover{color:#FF0; text-decoration:underline;}
.showBox li{float:left; padding:0 0 0 17px;}
.showBox img{width:145px; height:106px; padding:4px; background:#fff; border:1px solid #e13156; border-radius:5px;}

.showInfo{float:left; width:266px; height:180px;}
.showText{padding:4px 0 0 10px;}
.showText p{height:28px; line-height:28px;} 
.showText strong{color:#f2f26f; float:left; width:68px; text-align:center; display:inline; margin-right:5px;}
.showText strong.sbg{background:url(../images/st.png) no-repeat center center;}
.showText a{color:#edccd3;}
.showText a:hover{color:#FF0; text-decoration:underline;}

.mediaTab{padding:15px 0 0 28px; height:26px;}
.mediaTab span{float:left; height:26px; line-height:26px; color:#940119; font-size:14px; color:#FFF; padding:0 10px; display:inline; margin-right:2px; cursor:pointer;}
.mediaTab span.hover{background:#940119;}
.mediaIframe{text-align:center;}
.mediaIframe iframe{width:574px; height:167px;}

.gdBox{width:619px; height:40px; overflow:hidden; margin:0 auto; padding-top:42px;}
.gdBox ul{width:1000px;}
.gdBox li{float:left; width:85px; height:40px; display:inline; margin-right:4px;}
.gdBox img{width:83px; height:31px; border:1px solid #ddd;}

/* footer */
#footer{background:#121316; text-align:center; padding:10px 0 20px 0; line-height:22px;}
#footer em{padding:0 12px;}
#footer,#footer a{color:#c0c0c0;}
#footer a:hover{color:#F00;}

.logolist p a img {background:#000; filter:alpha(opacity=70);-moz-opacity:0.7; opacity:0.7; }
.logolist p a:hover img{ filter:alpha(opacity=100);-moz-opacity:1.0; opacity:1.0;}

/* page for system */
.page{height:30px; line-height:30px; text-align:center; background:#3c2b25; font-family:"宋体",Simsun;}
.page,.page a{color:#dec99f;}
.page a:hover{color:#ff4e00;}
.page a,.page span{padding:0 5px;}
.page .current{color:#ff4e00; font-weight:bold;}
.page .prev,.page .next{color:#dec99f; font-weight:normal;}

/* page for cms */
.paging { height: 20px; line-height: 20px; text-align: center; padding-top: 20px; color:#8a7d99;}
.paging a{ display: inline-block; width: 20px; line-height: 20px; text-align: center; color: #8a7d99; background-color: #1b1428; }
.paging td.nlist font { color: #f8a700; }

/* share */
#sharediv{background:#000; height:32px; padding-top:2px;}
#share_line{width:1002px; height:25px; margin:0 auto; background:none !important; overflow:hidden;}
#share_line,#share_line a{color:#FFF !important;}
#share_line a:hover{color:#FF0 !important; text-decoration:underline;}