﻿/* public */
html,body,form,ol,ul,li,div,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,font,em,ins,span,a{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;font-weight:normal}
html{_filter:expression(document.execCommand("BackgroundImageCache",false,true));}
ul,li,div,dl,dt,dd{list-style:none;}
h1.wm-public{height:0px; line-height:0px; font-size:0px;}
a{text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
img{border:0;}
font,em{font-style:normal; font-family:\5b8b\4f53;}
label{vertical-align:middle; font-family:tahoma;}
textarea,input{resize:none; outline:none;}
textarea{overflow:auto;}
ins{float:right; text-decoration:none; font-weight:normal;}
.pub_wsp{word-wrap:break-word; word-break:break-all;}
.pub_abso{vertical-align:middle;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.pub_yh{font-family:"Microsoft YaHei";}
.none{display:none;}
body{background:#f9c0cc; font-size:12px; font-family:Verdana,Geneva,sans-serif,\5b8b\4f53;}
.minWidth{margin:0 auto; width:1002px;}
#content,#sharediv{min-width:1002px; width:100%; width:expression((documentElement.clientWidth < 1002) ? "1002px" : "100%" );}

/* page background */
#wrap{background:#fac0ce url(../images/insideBg.jpg) no-repeat center top;}

/* header */
#header{position:relative; height:520px;}
#header img{display:block;}
#logo{position:relative; left:326px; top:0; z-index:1;}
.navBox{position:absolute; width:1002px; height:52px; left:0; top:0; background:url(../images/navBg.jpg) no-repeat 0 0;}
.navBox a{display:block; position:absolute; width:158px; height:52px; top:0; filter:alpha(opacity=0);-moz-opacity:0; opacity:0;}
.navBox a.nav1{background:url(../images/nav1.jpg) no-repeat 0 0; left:9px;}
.navBox a.nav2{background:url(../images/nav2.jpg) no-repeat 0 0; left:169px;}
.navBox a.nav3{background:url(../images/nav3.jpg) no-repeat 0 0; right:170px}
.navBox a.nav4{background:url(../images/nav4.jpg) no-repeat 0 0; right:10px;}
.navBox a.hover{filter:alpha(opacity=100); -moz-opacity:1.0 !important; opacity:1.0 !important;}

#main{padding-bottom:80px;}
.left{float:left; width:260px; display:inline; margin-left:50px;}
.right{float:right; width:635px; background:#f17b94; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; border-radius:6px; display:inline; margin-right:50px;}

.insFaq{padding-bottom:1px;}
.insFaq a{display:block; background:url(../images/ins_faq.png) no-repeat 0 0; width:260px; height:64px;}
.insMedia{background:url(../images/insPub.png) no-repeat 0 0; height:913px;}
.insDown{height:317px; padding:29px 0 0 0;}
.insDown li.pic{height:150px;}
.insDown li.pic img{width:150px; height:150px; display:block; margin:0 auto;}
.insDown li.txt{text-align:center; color:#fff8cf; line-height:22px; padding:5px 0;}
.insDown li.txt span{color:#fff600;}
.insDown .insA{float:left; width:130px; height:110px; text-align:center;}
.insDown .insA h4{height:28px; padding-right:4px;}
.insDown .insA span{background:url(../images/se.png) no-repeat 0 -27px; width:49px; height:27px; line-height:19px; color:#FFF; float:right;}
.insDown .insA span.color1{background-position:0 0; color:#ffe552;}
.insDown .insA p{height:44px;}
.insDown .insA h2{font-size:14px; color:#fff8cf;}

.insInfo{height:267px;}
.infoTop{height:98px; padding:32px 0 0 26px;}
.infoTop img{float:left; display:inline; margin-right:10px; width:88px; height:86px;}
.infoTop span{float:left; line-height:22px; color:#cbff00; width:98px;}
.wbBox a{display:block; margin:0 auto; width:209px; height:42px; line-height:42px; text-indent:55px; font-size:18px; color:#fff; line-height:42px;}
.wbBox a.wb1{background:url(../images/wb1.jpg) no-repeat 0 0;}
.wbBox a.wb2{background:url(../images/wb2.jpg) no-repeat 0 0;}
.wbBox a.wb3{background:url(../images/wb3.jpg) no-repeat 0 0;}
.kefu{padding:40px 15px 0 15px;}
.kefu p{background:#c93451; font-size:14px; color:#fff6f8; line-height:26px; padding:10px;}
.kefu a{color:#fff6f8;}
.kefu a:hover{color:#ff0;}


.insMain{padding:18px;}
.insTitle{height:28px; background:#dd5975; line-height:28px; color:#FFF; padding:0 10px;}
.insTitle a{color:#FFF;}
.insTitle a:hover{color:#FF0;}
.insTitle strong{font-size:18px; font-weight:normal;}
.insTitle em{padding:0 10px;}

.insTab{padding:20px 0 0 0; height:40px;}
.insBtns{height:20px; border-bottom:2px solid #650610;}
.insBtns a{float:left; display:inline; margin-right:5px; border:1px solid #910920; height:18px; line-height:18px; border:1px solid #910920; width:58px; text-align:center; color:#b2fff5;}
.insBtns a:hover,.insBtns a.hover{background:#ea3658;}

.textList,.textPage,.enjoyList,.infoMain{height:auto !important; min-height:852px; height:852px;}
.textList p{line-height:30px; border-bottom:1px dotted #FFF; font-size:14px;}
.textList,.textList a{color:#FFF;}
.textList a:hover{color:#Ff0;}
.textList p.borbm{margin-bottom:15px;}

.textTop{height:70px; border-bottom:2px solid #f499ac; color:#FFF;}
.textTop h1{text-align:center; font-size:22px; padding-bottom:12px;}
.textTop a{color:#FFF;}
.textTop a.red{color:#FF0;}
.textTop em{padding:0 16px;}
.textTop p{padding:0 0 0 10px;}
.share_box{width:200px; height:20px;  right:0; top:36px;float:right}

.textPage{padding:40px 0; line-height:26px; color:#FFF; font-size:14px;}
.textPage p{text-indent:2em; padding-bottom:10px;}
.textPage a{color:blue;}
.textPage a:hover{color: #ff0; text-decoration: underline;}

.enjoyList{width:599px; overflow:hidden;}
.enjoyList ul{width:620px;}
.enjoyList li{float:left; width:193px; height:168px; padding-right:10px;}
.enjoyList img{display:block; width:193px; height:130px;}
.enjoyList p{background:#c2c0c0; color:#4a4949; height:20px; line-height:20px; text-align:center;}

.videoPop{background:#222; position:relative; width:640px; height:480px; padding:20px; display:none;}
.closePop{cursor:pointer; background:url(../images/close.png) no-repeat 0 0; width:58px; height:58px; display:block; position:absolute; right:-59px; top:0px;}

.infoTab{height:70px; padding-top:18px;}
.infoMenu{height:24px; border:1px solid #d1c5c3; background:#FFF; width:380px; padding:0 20px;}
.menuList{width:76px; height:24px; float:left; position:relative; cursor:pointer;}
.menuList h3{width:76px; height:24px; line-height:24px; text-align:center; background:url(../images/sj.png) no-repeat right center; color:#3e3e3e;}
.menuShow{width:76px; position:absolute; left:0; top:24px; background:#fff; display:none;}
.menuShow a{display:block; width:76px; height:20px; line-height:20px; background:#fff; color:#3e3e3e; text-align:center;}
.menuShow a:hover{background:#000; color:#FFF;}

.infoMain h3{font-size:18px; color:#FFF; padding-bottom:6px;}
.infoMain p{line-height:24px; padding-bottom:10px;}
.infoMain em{padding:0 6px;}
.infoMain,.infoMain a{color:#FFF;}
.infoMain a:hover{color:#FF0; text-decoration:underline;}

/* footer */
#footer{background:#121316; text-align:center; padding:10px 0 20px 0; line-height:22px;}
#footer em{padding:0 12px;}
#footer,#footer a{color:#c0c0c0;}
#footer a:hover{color:#F00;}

.logolist p a img {background:#000; filter:alpha(opacity=70);-moz-opacity:0.7; opacity:0.7; }
.logolist p a:hover img{ filter:alpha(opacity=100);-moz-opacity:1.0; opacity:1.0;}

/* page for system */
.page{height:30px; text-align:center; clear:both; overflow:hidden; text-align:center; font-family:"宋体",Simsun; font-size:14px; color:#fff;}
.page ul li{cursor:pointer; display:inline-block; margin:0 5px;}
.page ul li.thisclass{color:#C00;}
.page a{color:#fff;}
.page a:hover{color:#C00;}