﻿*{margin:0; padding:0;}
html,body,#wrap{width:100%; height:100%;}
html,body{font-family:"微软雅黑","宋体",Arial, Helvetica, sans-serif; background:none}
body{background:#f9c0cc url(../images/wapBg.jpg) no-repeat 0 0; background-size:100% auto;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.box{position:relative;}
.logo{position:absolute; width:45%; left:5%; top:20px;}
.wapBox{padding:72% 10px 10px 10px}
.wapBc{background:#fe6686 url(../images/wapBox.jpg) no-repeat 0 0; background-size:100% auto; box-shadow:1px 1px #6e555a;}
.wapMed img{width:100%; padding:10px 0;}
.wapVideo{padding:10px;}
.wapNews{padding:10px;}
.wapTitle{background:url(../images/titleBg.png) no-repeat 0 0; background-size:auto 100%; padding:2px 5px 0px 5px;}
.wapTitle img{width:30%;}
.wapList{background:#f8597b; padding:6px;}
.wapList p{border-bottom:1px dotted #FFF; font-size:12px; line-height:20px; height:20px;}
.wapList a{color:#FFF; text-decoration:none;}
.wapList a:hover{color:#FF0;}
.wapShare{padding:10px;}
.wapShare li{float:left; height:100px; text-align:center; color:#ffead1; font-size:12px; list-style:none; width:33%;}
.wapShare p{padding-top:5px;}
.share img{width:80%; display:block; margin:0 auto;}
.wapArt{background:#f75f86; padding:6px;}
.wapArt h1{text-align:center; font-size:18px; color:#cbff00; padding:5px;}
.wapArt h3{text-align:center; font-size:12px; color:#ffefc9; padding-bottom:10px;}
.wapStyle{font-size: 12px; color:#ffefc9; line-height:18px;}
.wapStyle p{line-height:18px; font-size:12px; color:#ffefc9; text-indent:2em; padding-bottom:10px;}
.wapStyle img{width: 80%; margin: 0 auto; display: block;}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
	.wapBox{padding:230px 10px 10px 10px}
}