﻿/* public */
html,body,form,ol,ul,li,div,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,font,em,ins,span,a{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;font-weight:normal}
html{_filter:expression(document.execCommand("BackgroundImageCache",false,true));}
ul,li,div,dl,dt,dd{list-style:none;}
h1.wm-public{height:0px; line-height:0px; font-size:0px;}
a{text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
img{border:0;}
font,em{font-style:normal; font-family:\5b8b\4f53;}
label{vertical-align:middle; font-family:tahoma;}
textarea,input{resize:none; outline:none;}
textarea{overflow:auto;}
ins{float:right; text-decoration:none; font-weight:normal;}
.pub_wsp{word-wrap:break-word; word-break:break-all;}
.pub_abso{vertical-align:middle;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.pub_yh{font-family:"Microsoft YaHei";}
.none{display:none;}
body{background:#f9c0cc; font-size:12px; font-family:Verdana,Geneva,sans-serif,\5b8b\4f53;}
.minWidth{margin:0 auto; width:1002px;}
#content,#sharediv{min-width:1002px; width:100%; width:expression((documentElement.clientWidth < 1002) ? "1002px" : "100%" );}

/* page background */
#wrap{background:url(../images/coverBg.jpg) no-repeat center top;}

/* header */
#header{position:relative; height:397px;}
#header img{display:block;}
#logo{position:relative; left:158px; top:0;}

/* main */
#main,#main .minWidth{height:734px;}
.left{width:182px; height:734px; float:left;}
.leBox{padding:27px 0 0 10px;}
.leTop{padding-bottom:18px;}
.leTop h2{font-size:18px; color:#fff8cf; padding:0 0 8px 10px;}
.leTop p{text-align:center; padding-bottom:5px;}
.leTop h3{text-align:center; font-size:14px; color:#fff8cf; line-height:22px;}
.leTop h3 span{color:#e0c636;}

.leMid h4{height:28px; padding:0 0 0 96px;}
.leMid h4 span{display:block; background:url(../images/se.png) no-repeat 0 0; width:49px; height:27px; line-height:19px; text-align:center; color:#FFF;}
.leMid h4 span.color1{color:#ffe552;}
.leMid h4 span.color2{background-position:0 -27px;}
.phoneBox{border:1px solid #d7916c; width:122px; height:71px; margin:0 auto; display:block; color:#FFF; text-align:center;}
.phone1{background:#430705 url(../images/c.jpg) no-repeat center 1px; font-size:22px;}
.phone2{background:#040001 url(../images/a.jpg) no-repeat center 1px; font-size:16px;}
.phoneBox span{display:block; padding-top:32px;}
.leMid h2{text-align:center; color:#fff8cf; font-size:18px; padding:5px 0;}

.right{float:left; width:514px; padding:0 0 0 2px; height:734px;}
.btnBox{height:56px; padding:0 0 0 3px;}
.btnBox a{float:left; width:170px; height:56px; background:url(about:blank);}
.videoBox{height:353px; padding:16px 0 0 0; text-align:center;}
#videoPlay{width:446px; height:332px; margin:0 auto; background:#000;}

.news{float:left; width:288px; height:272px;}
.newsList{padding:56px 20px 0 20px;}
.newsList p{border-bottom:1px dotted #FFF; height:28px; line-height:28px;}
.newsList a{color:#FFF;}
.newsList a:hover{color:#cbff00;}

.info{float:left; width:222px; height:272px; padding:0 0 0 3px;}
.infoTop{height:98px; padding:32px 0 0 15px;}
.infoTop img{float:left; display:inline; margin-right:10px; width:88px; height:86px;}
.infoTop span{float:left; line-height:22px; color:#cbff00; width:98px;}

.wbBox a{display:block; margin:0 auto; width:209px; height:42px; line-height:42px; text-indent:55px; font-size:18px; color:#fff; line-height:42px;}
.wbBox a.wb1{background:url(../images/wb1.jpg) no-repeat 0 0;}
.wbBox a.wb2{background:url(../images/wb2.jpg) no-repeat 0 0;}
.wbBox a.wb3{background:url(../images/wb3.jpg) no-repeat 0 0;}

/* footer */
#footer{background:#121316; text-align:center; padding:10px 0 20px 0; line-height:22px;}
#footer em{padding:0 12px;}
#footer,#footer a{color:#c0c0c0;}
#footer a:hover{color:#F00;}

.logolist p a img {background:#000; filter:alpha(opacity=70);-moz-opacity:0.7; opacity:0.7; }
.logolist p a:hover img{ filter:alpha(opacity=100);-moz-opacity:1.0; opacity:1.0;}

/* page for system */
.page{height:30px; line-height:30px; text-align:center; background:#3c2b25; font-family:"宋体",Simsun;}
.page,.page a{color:#dec99f;}
.page a:hover{color:#ff4e00;}
.page a,.page span{padding:0 5px;}
.page .current{color:#ff4e00; font-weight:bold;}
.page .prev,.page .next{color:#dec99f; font-weight:normal;}

/* page for cms */
.paging { height: 20px; line-height: 20px; text-align: center; padding-top: 20px; color:#8a7d99;}
.paging a{ display: inline-block; width: 20px; line-height: 20px; text-align: center; color: #8a7d99; background-color: #1b1428; }
.paging td.nlist font { color: #f8a700; }

/* share */
#sharediv{background:#000; height:32px; padding-top:2px;}
#share_line{width:1002px; height:25px; margin:0 auto; background:none !important; overflow:hidden;}
#share_line,#share_line a{color:#FFF !important;}
#share_line a:hover{color:#FF0 !important; text-decoration:underline;}