@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:"Microsoft YaHei";
	color:#555;
	background-color: #dcdcdc;
	background-position: center top;
	background-repeat: no-repeat;
}
html,div,p,span,h1,h2,h3,h4,em,b,table,tr,td,dl,dd,dt,ul,li,i{
	margin:0;
	padding:0;
	list-style:none;
	font-style:normal;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0; 
	font-weight: normal;
}
img{
	border:medium none;
}
a {
	color:#666;
	text-decoration:none;
}
a:link {
	text-decoration:none;
	// font-size:14px;
}
a:foucs,a:active{
	outline:none;
}
a,a:hover{
	outline:none;
	// blur:expression(this.onFoucs=this.blur());
}
a:hover {
	color: #333;
	text-decoration:underline;
}

.t_right {
	text-align: right;
}
.ui_last {
	border-bottom: none !important;
	background: none !important;
}
.ui_red {
	color: red;
}
.ui_green {
	color: #8fc31f;
}
.ui_yahei {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	font-weight: normal;
}
.f12 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.fn_clear{
	zoom:1;
}
.fn_clear:after{
	clear:both;
	display:block;
	font-size:0;
	content:"";
	visibility:hidden;
	height:0;
}
.fn_left{
	float:left;
}
.fn_right{
	float:right;
}
.w1080 {
	width: 1080px;
	margin: 0 auto;
}
.ui_btn {
	background: url(../img/ui_btn.gif) no-repeat;
	display: inline-block;
	height: 40px;
	text-indent:-999em;
	overflow:hidden;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	&:hover {
		opacity:0.8;
		filter:alpha(opacity=80);
	}
}
.ui_next {
	text-align: right;
	color: #999;
	.ui_btn {
		margin-left: 20px;
	}
}
.w1000 {
	width: 1000px;
	margin: 0 auto;
}
.header {
	// width: 1000px;
	margin: 0 auto;
}
//index
.index {
	position: relative;
	// overflow-x:hidden;
	.header {
		position: relative;
		z-index: 12;
		.top_info {
			a {
				color: #fff;
				background-position: 0 -34px;
			}
		}
	}
	.header_banner {
		position: absolute;
		position: absolute;
		width: 100%;
		// height: 100%;
		top: 0;
		left: 0;
		height: 1152px;
		// height: 300px;
		z-index: 9;
		.banner_img {
			// position: absolute;
			// top: 0;
			// bottom: 0;
			// background: url(../pic/index01.jpg) no-repeat top center;
			// width: 100%;
			// text-align: center;
			// .banner_con {
			// 	padding-top: 400px;
			// }
		}
	}
}
//首页
.index {
	.homeShow { position: relative; height: 1152px; }
	.homeShow, 
	.index_banner { height: 1152px; width: 100%; overflow: hidden; margin: 0; }
	.slide { background-position: 50% top; background-repeat: no-repeat; float: left; height: 1152px; width: 100%; }
	#gallery, 
	.index_banner { 
		height: 1152px; width: 100%; overflow: hidden;
		.game_link {
			width: 165px;
			height: 50px;
			display: inline-block;
			position: absolute;
			background-color: red;
			opacity:0;
			filter:alpha(opacity=0);
		}
	}
	#slides {
		position: relative;
		.slide {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.slide { background-position: 50% top; background-repeat: no-repeat; float: left; height: 1152px; width: 100%; }
	// .homeHead { width: 1000px; position: relative; margin: 0px auto;
	// background-color: #eee;
	// z-index: 99;
	//  }
	.index_banner {
		.w1000 {
			width: 1000px;
			margin:0 auto;
			position: relative;
			height: 550px;
			.game_link {
				position: absolute;
				bottom:40px;
				z-index: 999;
			}
		}
	}
	.homeHead .homeTop { height: 59px; width: 980px; margin: 0px auto;  position: absolute; z-index: 9; background-color: #eee; }
	.homeHead .homeTop h2 { display: none; }
	.homeHead .homeTop a { display: inline-block; height: 59px; width: 150px; }
	.homeHead .homeTop a.fleft { width: 280px; }
	.homeHead ul.fix { position: absolute; top: 500px; right: 124px; z-index: 999; }
	.homeHead ul.fix li { 
		cursor: pointer; width: 14px; height: 14px; line-height: 18px; text-align: center; margin-right: 10px; 
		background: url(../img/index_d_nav.png) no-repeat -39px 0;
	}
	.homeHead ul.fix li a {
		width: 14px; height: 14px;
		display: block;
		text-indent: -999em;
		overflow:hidden; _zoom:1;
	}
	// .homeHead ul.fix li span { display: none;}
	.homeHead ul.fix li.on { background-position: 0px 0; }
	.homeHead ul.fix li.on a { color: rgb(255, 255, 255); }
	.homeHead ol.fix { top: 380px; left: 20px; }
	.homeHead ol.fix li { width: 271px; height: 90px; padding: 3px; margin-right: 3px; }
	.homeHead ol.fix li a { display: block; width: 100%; height: 100%; background: url('homebtn130313-01.png') repeat scroll 0% 0% transparent; }
	.homeHead ol.fix li.b2 a { background-position: -281px 0px; }
	.homeHead ol.fix li a span { display: block; width: 587px; height: 99px; cursor: pointer; }
	.homeHead ol.fix li.b2 span { left: -281px; }

	.fright { float: right; }
	.fleft { float: left; }
	.ov { overflow: hidden; }
	.p-a { position: absolute; }
	.n-t { text-indent: -999em; overflow: hidden; }
	.fix:after, dl:after { clear: both; display: block; content: "clear"; line-height: 0; visibility: hidden; }
	.fix, div.option-dd, dl {  }
	header, #content, footer { width: 980px; margin: 0px auto; }
	.x-imgbox { 
		position: relative;
		.arrows {
			position: absolute;
			z-index: 6;
			// left: 0;
			top: 240px;
			width: 1000px;
			margin: 0 auto;
			//
			display: none;
		}
	}
	.x-imgbox .img-ov {height: 255px;overflow: hidden; position: relative;float: left; }
	.x-imgbox .width { width: 9999px; position: absolute; top: 0; left: 0; }
	.x-imgbox .big-img { overflow: hidden; }
	.x-imgbox .big-img li { float: left; }
}
//header
.header {
	.header_nav {
		height: 59px;
		position: absolute;
		width: 100%;
		top: 50px;
		background-image: url(../img/nav_bg.png);
		background-repeat: no-repeat;
		background-position: center top;
		min-width: 1000px;
		z-index: 30;
	}
	.nav_content {
		width: 1000px;
		margin: 0 auto;
		position: relative;
		.logo {
			position: absolute;
			left: 0;
			top: -10px;
		}
	}
	.nav_ul {
		position: absolute;
		left: 260px;
		top: 5px;
		li {
			float: left;
			// padding:0 25px;
			text-align: center;
			width: 93px;
			height: 38px;
			line-height: 38px;
			*line-height: 44px;
			a {
				font-family: "Microsoft YaHei";
				font-size: 18px;
				color:#fffab8;
				text-shadow:1px 1px 1px #2b4a02;
			}
			&.on {
				background:url(../img/nav_on.png) no-repeat;
			}
		}
	}
}
.index_main_content {
	position: relative;
	z-index: 12;
	width: 1000px;
	margin: 0 auto;
	top: 550px;
	.box {
		border:1px solid #a0a0a0;
		background-color: #fff;
		padding: 10px 15px;
	}
	.w310 {
		width: 280px;
		height: 643px;
		float: left;
		.thumb {
			a {
				display: block;
				img {
					display: block;
				}
			}
		}
		.box;
		.game_list {
			li {
				// padding: 10px 0 0 0;
				h5 {
					a {
						color: #eb6100;
						font-size: 14px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.w680 {
		width: 640px;
		height: 643px;
		float: right;
		.box;
		.main_news {
			padding: 0 0 10px 0;
			h5 {
				font-size: 24px;
				color: #eb6100;
				line-height: 32px;
				padding: 4px 0;
				margin-top: 5px;
				a {
					font-size: 24px;
					color: #eb6100;
					line-height: 32px;
					padding: 4px 0;
				}
				.time {
					font-size: 14px;
				}
			}
			p {
				line-height: 24px;
			}
		}
		.w315 {
			width: 315px;
			h5 {
				font-size: 14px;
				color: #eb6100;
				padding: 5px 0;
				a {
					font-size: 14px;
					color: #eb6100;
					padding: 5px 0;
				}
				.time {
					font-size: 12px;
				}
			}
			display: block;
			img {
				display: block;
			}
			p {
				line-height: 22px;
			}
		}
	}
	.two_news {
		padding-top: 15px;
		*padding-top: 10px;
		padding-top: 10px\9;
	}
	.all_game {
		.box;
		margin-top: 18px;
	}
	.all_game_list {
		li {
			width: 322px;
			float: left;
			height: 270px;
			.fn_clear;
			padding:10px 0;
			img {
				float: left;
			}
			.info {
				float: left;
				width: 180px;
				padding-left: 15px;
				h5 {
					a {
						color: #eb6100;
						font-size: 20px;
						line-height: 30px;
						margin-top: 2px;
					}
				}
				p {
					line-height: 24px;
					margin-top: 6px;
				}
			}
		}
	}
	.index_all_game {
		.all_game_list {
			.thumb {
				height: 130px;
			}
		}
	}
}
.h3 {
	padding: 5px 0 10px 0;
	h3 {
		float: left;
		font-weight: normal;
		font-size: 18px;
		color: #333;
	}
	.more {
		float: right;
	}
}
.footer {
	border:1px solid #a0a0a0;
	background-color: #fff;
	// margin-top: 18px;
	width: 1000px;
	margin:30px auto 0 auto;
	.link {
		font-size: 14px;
		color: #FF6600;
		text-align: center;
		a {
			color: #FF6600;
			text-decoration: underline;
			margin: 0 10px;
		}
		padding: 20px 10px;
	}
	.footer_content {
		background-color: #d95718;
		color: #fff;
		font-size: 12px;
		padding: 10px;
		line-height: 24px;
		text-align: center;
		a {
			color: #fff;
		}
	}
}
.page {
	width: 1000px;
	margin:0 auto;
	padding-top: 180px;
	h1 {
		font-size: 48px;
		color: #fff;
		margin-bottom: 80px;
	}
	.page_content {
		border: 1px solid #a0a0a0;
		background-color: #fff;
		padding: 10px 15px;
		margin-bottom: 80px;
	}
	.post {
		padding: 30px 20px;
	}
	.cate {
		font-size: 16px;
		line-height: 16px;
		padding-bottom: 20px;
		clear: both;
		.name {
			float: left;
		}
		b {
			display: inline-block;
			width: 10px;
			height: 10px;
			// float: left;
			margin: 0 6px 0 5px;
			border: #666666 1px solid;
			cursor: pointer;
			background-repeat: no-repeat;
			background-position: center;
		}
		.tag {
			float: left;
			// margin-left: 0px;
			a {
				float: left;
				width: 120px;
				margin-right: 20px;
				text-decoration: none;
				&.on {
					b {
						background-color: #333;
					}
				}
			}
		}
	}
	.game_list {
		h5 {
			a {
				color: #eb6100;
				font-size: 16px;
				line-height: 30px;
				// display: inline-block;
			}
		}
	}
	.game_list {
		width: 928px;
		overflow:hidden; _zoom:1;
		// background: #ccc;
		.game_list_ul {
			width: 1100px;
			padding-top: 0px;
			li {
				float: left;
				img {
					border:1px solid #eaeaea;
					display: block;
					width: 280px;
					// height: auto;
					height: 175px;
				}
				margin:5px 41px 20px 0;
				.tags {
					i {
						display: none;
						color: #999;
						margin-right: 10px;
						font-size: 12px;
						&.on {
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.news_list {
		padding: 30px 40px;
		.news_ul {
			li {
				padding-top: 10px;
				padding-bottom: 50px;
				h2 {
					margin-bottom: 10px;
					 a {
						font-size: 24px;
						color: #eb6100;
						line-height: 32px;
						padding: 4px 0;
						// margin-top: 5px;
					}
				}
				p {
					line-height: 24px;
				}
			}
		}
	}
	.page_number {
		text-align: center;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.news_page {
		padding: 120px 0;
		h1 {
			color: #eb6100;
			margin: 10px 0 40px 0;
			font-size: 32px;
			padding:20px 0 0 0;
			// line-height: 16px;
			display: block;
			// he
		}
		.time {
			font-size: 16px;
			// padding: 10px 0;
			// margin-bottom: 20px;
			color: #999;
		}
		.content {
			line-height: 26px;
			font-size: 14px;
		}
		.page_number {
			padding-top: 20px;
		}
	}
	.width640 {
		width: 640px;
		margin: 0 auto;
	}
}
