/**
* The admin css file of RanZhi.
*
* @copyright   Copyright 2009-2015 青岛易软天创网络科技有限公司(QingDao Nature Easy Soft Network Technology Co,LTD, www.cnezsoft.com)
* @license     ZPL (http://zpl.pub/page/zplv11.html)
* @author      Chunsheng Wang <chunsheng@cnezsoft.com>
* @package     RanZhi
* @version     $Id:style.css 1454 2009-10-23 01:45:26Z wwccss $
* @link        http://www.ranzhico.com
*/

/* global settings. */
body {background: #fff;}

/* body-content */
#body-content {margin: 0;}
#body-content > div {transition: all .8s cubic-bezier(0.175,0.885,0.32,1);}

/* left menu. */
.menu {width: 140px; margin-left: 15px;}
.row > .menu {margin-left: 0;}
.page-content > .page-content {padding: 0}
.menu .nav {box-shadow:0px 2px 1px rgba(0,0,0,0.15); border-radius: 4px}
.menu.affix {top:56px;}
.menu.affix-bottom {position:absolute; top:auto; bottom:270px;}

.page-content {margin-right: 0; margin-left: 0;}
.page-content.with-menu {margin-top: 42px;}

/* panel */
.panel .table-bordered {border:none; margin-bottom: 0;}
.panel .table-bordered > thead > tr:first-child th,.panel .table-bordered > tbody > tr:first-child th,.panel .table-bordered > tr:first-child th {border-top: 0;}
.panel .table-bordered tr > td:first-child,.panel .table-bordered tr > th:first-child {border-left: 0;}
.panel .table-bordered tr > td:last-child,.panel .table-bordered tr > th:last-child {border-right: 0;}
.ie-8 .panel .table-bordered {border-top: 1px solid #ddd}

/* image */
.image-small{max-height:100px; max-width:100px;}

/* settings for article create and edit page. */
#summary  {background:#fff; margin-bottom:0; padding:4px 6px;}
#keywords {margin-top:0}

/* set css for tablesorter. */
table.tablesorter thead tr div {padding:0; margin:0}
table.tablesorter thead tr .header {cursor:pointer;}
table.tablesorter thead tr .header a,table.tablesorter thead tr .headerSortUp a,table.tablesorter thead tr .headerSortDown a{display: inline-block; text-decoration:none}
table.tablesorter thead tr .header a{color:#707070;}
table.tablesorter thead tr .header:after {font-family: ZenIcon; font-weight: normal;content: " \e6bd";font-size: 14px;}
table.tablesorter thead tr .headerSortUp:after {font-family: ZenIcon; font-weight: normal;content: " \e6b9";font-size: 14px;color:#2973EA;}
table.tablesorter thead tr .headerSortDown:after{font-family: ZenIcon; font-weight: normal;content: " \e6b8";font-size: 14px;color:#2973EA;}

/* responsive. */
@media(max-width:998px) {.affix{position: inherit;} .leftmenu.affix{top: 0; width: 100%; margin-bottom: 20px;}}
@media(max-width:768px) {body{padding-bottom: 0;} .navbar-fixed-bottom{display: none;}}
@media(min-width: 992px) {.navbar-collapse .navbar-nav:first-child {margin-left: 0;}}

/* help-inline */
.help-inline {display: block;margin: 7px 0;color: #666}

/* navbar */
#mainNavbar .navbar-collapse .navbar-nav.navbar-right:last-child {margin-right: 0;}
@media (max-width: 767px) {
  #mainNavbar .navbar-collapse .navbar-nav > li > a {padding: 10px 20px;}
}
#navbarSwitcher {display: none;}
@media screen and (min-width:768px) and (max-width:1210px)
{
  #mainNavbar .navbar-collapse .navbar-nav > li > a {padding: 10px 12px;transition:all 0.5s;}
  #mainNavbar .mainNavbarNav {height: 50px;overflow:hidden;}
  #navbarSwitcher {display: block;}
  #mainNavbar .navbar-collapse .navbar-nav > li.simple-mode-b > a {width: 0;padding: 0;opacity: 0}
  #mainNavbar .navbar-collapse .navbar-nav > li.simple-mode-a > a {width: inherit;padding: 10px 12px;opacity: 1}
  #mainNavbar.navbar-simple .navbar-collapse .navbar-nav > li.simple-mode-a > a {width: 0;padding: 0;opacity: 0}
  #mainNavbar.navbar-simple .navbar-collapse .navbar-nav > li.simple-mode-b > a {width: inherit;padding: 15px 12px;opacity: 1}
  #mainNavbar.navbar-simple #navbarSwitcher .icon-chevron-sign-right:before {content: '\e70f'}
}
@media screen and (min-width:768px) and (max-width:991px)
{
  #mainNavbar.navbar-simple .navbar-collapse .navbar-nav > li.simple-mode-b > a,#mainNavbar .navbar-collapse .navbar-nav > li.simple-mode-a > a {padding: 15px 8px;}
  #mainNavbar .navbar-nav.navbar-right > li > a {padding: 15px 4px;font-size: 12px;}
  #navbarSwitcher a {padding: 15px 5px;}
}

/* fixed table */
.with-fixed-table {overflow: hidden;}
#fixedHeader {position: fixed; z-index: 10; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); display: none; background-color: #fff}
.with-fixed-table #fixedHeader {display: block;}
.with-fixed-table-footer .table-fixed-footer {position: fixed; z-index: 10; box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2); background-color: #fff;}

/* menu */
#menu {position: absolute; top: 41px; left: 0; right: 0; border-bottom: 1px solid #ddd; background: #f1f1f1; padding: 0 5px; z-index: 900}
#menu > .nav {float: left; padding: 0 5px}
#menu > .nav > li {float: left; padding: 5px 0}
.ie-8 #menu > .nav > li {padding-bottom: 3px}
#menu > .nav > li.divider {height: 40px; width: 1px; background: #ddd; margin: 0 5px;}
#menu > .nav > li.divider.angle {position: relative; width: 10px; background: none; margin: 0;}
#menu > .nav > li.divider.angle:before, #menu > .nav > li.divider.angle:after {position: absolute; content: ' '; display: block; width: 0; height: 0; top: 0; left: 0; border-style: solid; border-width: 20px 0 20px 10px; border-color: transparent transparent transparent #cdcdcd; z-index: 1}
#menu > .nav > li.divider.angle:after {z-index: 2; left: -1px; border-color: transparent transparent transparent #f1f1f1;}
#menu > .nav > li > a {padding: 5px 6px; font-size: 13px;}
#menu > .nav > li > a:hover {background: #ddd}
#menu > .nav > li.selected > a, #menu > .nav > li.active > a, #menu > .nav > li.active > a:hover, #menu > .nav > li.active > a:active {font-weight: bold;}
#menu > .nav > li.title {font-weight: bold; padding: 11px 10px;}

#menu > .pull-right {margin-right: 15px;}
#menu > .pull-right .btn {position: relative; top: 3px;}

#menu .dropdown-menu {margin-top: -3px; left: -5px}

#menuActions {position: absolute; right: 15px; top: 45px; z-index: 940}

.row-table {display: table; width: 100%;}
.col-side, .col-main { padding: 0; display: table-cell; vertical-align: top;}
.col-side {width: 350px; padding-left: 10px;}
.col-main {padding-right: 10px;}

.table-footer {padding: 5px; line-height: 30px}
.table-footer:before, .table-footer:after {content: ' '; display: table}
.table-footer:after {clear: both}
.table-footer .page {padding: 0 3px; width: auto;}

@media (max-width: 1200px) {.table th, .table td {padding: 8px 5px}}
