@charset "gb2312";
/* CSS Document */
.content{border:1px solid #efefef;}
.content h1{ height:45px; line-height:45px; font-family:"微软雅黑"; background:url(../images/orange_block.jpg) no-repeat 15px 16px #f1f1f1  ; border-bottom:1px solid #efefef;font-weight:normal; text-indent:30px; border-top:2px solid #FF6600;font-size:16px;color:#333}
.content h1 a{ font-size:16px;color:#333}

/*最新消息*/
.news{}
.news .newslist li{width:620px; margin-left:45px; border-bottom:1px solid #efefef; padding-bottom:20px;}
.news .newslist li .tit{ line-height:55px; position:relative}
.news .newslist li .tit a{font-size:16px; color:#333}
.news .newslist li .tit a:hover{color:#FF3300}
.news .newslist li .tit span{color:#666; position:absolute; right:0px}
.news .newslist li dl{}
.news .newslist li dl dd{ width:182px; float:left}
.news .newslist li dl dd img{border:1px solid #efefef}
.news .newslist li dl dt{width:420px; float:right}
.news .newslist li dl dt p{line-height:23px; font-size:14px; color:#999}
.news .newslist li dl dt .more{ height:25px; width:46px; margin-left:320px; margin-top:10px; background:url(../images/more.png) no-repeat; display:block}
.news .newslist li dl dt .more:hover{ background:url(../images/more.png) no-repeat left -26px;}
/*文章*/
.art_box{}
.art_box .tit_box{ height:110px; width:630px; margin-bottom:30px; border-bottom:1px solid #efefef; margin-left:40px;}
.art_box .tit_box h2{height:40px; line-height:40px; font-size:18px; font-family: "微软雅黑"; text-align:center; font-weight:normal; padding-top:30px}
.art_box .tit_box p{ text-align:center; color:#999}
.art_box .tit_box p span{font-family:"宋体";}
.art_box .art_body{width:620px; margin-left:45px; padding-bottom:150px;line-height:25px; font-size:14px;}
.art_box .art_body p{line-height:25px; font-size:14px; color:#333}
.art_box .art_body div{line-height:25px; font-size:14px; color:#333}

/*单页*/
.index_art_box{padding-bottom:150px}
.index_art_box .art_body{width:630px; margin-top:33px; margin-left:40px;line-height:25px; font-size:14px; color:#666;}
.index_art_box .art_body p{line-height:25px; font-size:14px; color:#666; }
.index_art_box .art_body div{line-height:25px; font-size:14px; color:#666;}
/*分页*/
.pagelist{ margin-left:40px; padding-top:30px; padding-bottom:50px}
.pagelist a{ display:inline-block; text-align:center; line-height:31px; height:31px; min-width:10px; border:1px solid #eee; font-size:14px; margin-left:5px; color:#999; font-weight:bold; padding:0 10px}
.pagelist a:hover{color:#fff; background:#FF6600}
.pagelist b{ display:inline-block; text-align:center; line-height:31px; height:31px; min-width:10px; border:1px solid #eee; font-size:14px; margin-left:5px; color:#ccc; font-weight:bold; padding:0 10px; background:#f8f8f8}

/*游戏列表*/
.game{ padding-top:20px;}
.game ul{ height:130px; clear:both}
.game .gamelist_bg{background: #f3f3f3; height:130px;}
.game .gamelist li{width:290px; height:130px; float:left; margin-left:40px;}
.game .gamelist li dl{margin-top:20px}
.game .gamelist li dl dd{width:82px; float:left}
.game .gamelist li dl dt{width:192px; float:right}
.game .gamelist li dl dt .download{float:left; margin-top:10px}
.game .gamelist li dl dt .download a{ display:block; width:21px; height:21px;}
.game .gamelist li dl dt .download a.ios{background:url(../images/ios_ico.png) no-repeat; float:left}
.game .gamelist li dl dt .download a.andriod{background:url(../images/andriod_ico.png) no-repeat; float:left; margin-left:2px}
.game .gamelist  li dl dt .more{ height:24px; width:46px; margin-top:10px; background:url(../images/more.png) no-repeat; margin-right:20px; float:right; display:block}
.game .gamelist  li dl dt .more:hover{background:url(../images/more.png) no-repeat left -26px;}
.game .gamelist li dl dt h2 a{ font-size:14px; color:#333} 
.game .gamelist li dl dt h2 a:hover{ color:#FF6600} 
.game .gamelist li dl dt p{line-height:20px; color:#999}

/*游戏内容页*/
.game .game_body  .game_info{ padding-bottom:30px; width:640px; margin-left:40px; margin-top:24px}
.game .game_body  .game_info dl dd{ width:204px; float:left}
.game .game_body  .game_info dl dt{ width:410px; float:left; margin-left:26px;}
.game .game_body  .game_info dl dt h2{ line-height:40px; font-size:14px; border-bottom:1px solid #efefef; margin-bottom:8px;}
.game .game_body  .game_info dl dt .info span{ width:205px; display:block; float:left; line-height:24px}
.game .game_body  .game_info dl dt .download{ margin-top:15px}
.game .game_body  .game_info dl dt .download .store{ width:129px; padding-right:15px; float:left; border-right:1px solid #ccc}
.game .game_body  .game_info dl dt .download .store a{margin-bottom:8px; display:block}
.game .game_body  .game_info dl dt .download .code{}
.game .game_body  .game_info dl dt .download .code em{ display:block; float:left; font-style:normal; margin-left:15px; text-align:center; line-height:23px}
.game .game_body  .game_info dl dt .download .code em img{border:1px solid #ccc}
.game .game_body  .game_intro{ width:640px; margin-left:40px; padding-bottom:30px}
.game .game_body  .game_intro h2{ height:30px; line-height:30px; font-size:14px; color:#666; text-indent:20px; background:#efefef}
.game .game_body  .game_intro .intro_body{margin-top:30px; width:600px; margin-left:20px; line-height:24px; font-size:14px;color:#333;}
.game .game_body  .game_intro .intro_body img{ 
   border:0;   
  margin:0;   
  padding:0;   
  max-width:600px;   
  width:expression(this.width>600?"600px":this.width); display:inline;
  }
.game .game_body  .game_intro .intro_body p{line-height:24px; color:#333;line-height:24px; font-size:14px}
.game .game_body  .game_intro .intro_body div{line-height:24px; color:#333;line-height:24px; font-size:14px}

/*联系我们*/
.contact_item{margin-top:40px; display:block;width:300px; float:left}
.contact_item dl dd{width:79px; float:left; margin-right:10px}
.contact_item dl dt{float:left;}
.contact_item dl dt h2{ font-weight:normal; font-size:14px;}
.contact_item dl dt p a{ color:#00c}

/*加入我们*/
.join_us{}
.join_us .joblist{ width:640px; margin-left:40px; min-height:10px;}
.join_us .joblist h2{ line-height:40px; border-bottom:1px solid #efefef; margin-bottom:10px; margin-top:25px}
.join_us .joblist span{font-size:16px; display:inline-block; float:left; font-weight:normal}
.join_us .joblist .job_name{ width:33%; text-indent:20px;}
.join_us .joblist .job_place{ width:24%;}
.join_us .joblist .branch{ width:23%;}
.join_us .joblist .pubdate{ width:19%;}
.join_us .joblist li{ line-height:30px;}
.join_us .joblist li span{font-size:14px; overflow:hidden}
.join_us .joblist li span a{font-size:14px; color:#06F}
.join_us .joblist li span a:hover{color: #FF6600}

/*职位内容页*/
.job_body{width:640px; margin-left:35px; padding-top:30px;}
.job_body  .job_info{}
.job_body  .job_info h2{ height:30px; line-height:30px; font-size:14px; color:#666; text-indent:20px; background:#efefef}
.job_body  .job_info .info{margin-top:15px; margin-bottom:15px;}
.job_body  .job_info .info span{ width:320px; text-indent:10px; display:block; float:left; line-height:30px}
.job_body  .job_intro h2{ height:30px; line-height:30px; font-size:14px; color:#666; text-indent:20px; background:#efefef}
.job_body  .job_intro .intro{margin-left:10px;margin-top:15px; margin-bottom:15px;}
.job_body  .job_intro .intro p{line-height:23px}
.job_body  .job_request{ margin-top:30px; border-bottom:1px dashed #ccc}
.job_body  .job_request h2{ height:30px; line-height:30px; font-size:14px; color:#666; text-indent:20px; background:#efefef}
.job_body  .job_request .info{margin-top:15px; margin-bottom:15px;}
.job_body  .job_request .info span{ width:320px; text-indent:10px; display:block; float:left; line-height:30px}
.job_body  .job_submit { margin-top:20px; margin-bottom:30px; margin-left:200px}
.job_body  .job_submit a{display:block; height:30px; width:95px; background:url(../images/job_submit_btn.png); color:#333; text-align:center; line-height:30px; font-size:14px; font-weight:bold}
.job_body  .job_submit a:hover{color:#a20000}

/*团队*/
.team{}
.team .teamlist{ width:610px; margin-left:60px; margin-top:53px}
.team .teamlist li{margin-bottom:57px; overflow:hidden;}
.team .teamlist li dl{display:block; overflow:hidden; }
.team .teamlist li dd{ width:128px; float:left}
.team .teamlist li dt{width:440px; float:right}
.team .teamlist li dt h2{ font-size:14px}
.team .teamlist li dt .intro{ line-height:30px; margin-top:10px;}
.team .teamlist li dt .intro p{color:#999}