@charset "utf-8";
/* CSS common */
.user-Form .p1 b,.user-Form .s1 a,.user-Form .Li03 span a,.user-Form .Li03 u,form h6 span a,.up-ico{ background:url(http://i1.letvimg.com/playlist/201209/06/video-ico.png) no-repeat -10000px -10000px;}

.comSrcoll{ overflow-y:auto;margin-right:10px; position:relative;}
.list{ display:block; }
.list dl{}
.list dl dt{ position:relative;}
.list dl dt span{ position:absolute; bottom:0px; right:0px; height:20px; line-height:20px; display:block; text-align:right; cursor:pointer;}
.list dl dt .bg{ background:#000;filter:alpha(opacity=30); opacity:0.3;}
.list dl dt .time{ color:#fff;}

.page{ padding:25px;}
.page span{   color: #C6C6C6;cursor: default;padding: 0 6px;}
.page a,.page span{ display:inline-block!important;border:1px solid #e8e8e8; text-align:center; overflow:hidden; border-radius:2px; background-color:#f7f7f7;}
.page a:hover{ box-shadow:1px 1px 3px #ccc; background-color:#fafafa; text-decoration:none; border:1px solid #d7d7d7;}
.page a:active{ border:1px solid #ccc; box-shadow:1px 1px 4px #ccc inset; background-color:#e6e6e6;}
.page .active,.page .active:hover{ background-color:#e6e6e6; box-shadow:1px 1px 4px #ccc inset; color:#2b83c1; font-weight:bold; border:1px solid #ccc;}

/**/

.w48{ padding:10px 0; margin:0 15px;}
.w48 span{ display:inline-block;}
.w48 dt{ display:inline-block; float:left; width:48px; margin-right:10px;}
.w48 dt a{ cursor:default;}
.w48 dt img{ width:48px; height:48px;}
.w48 dd{ position:relative; overflow:hidden;}
.w48 textarea{ width:100%; border:0px solid; overflow:hidden; overflow-y:scroll;resize:none; color:#969696; height:66px; *height:65px; padding:5px 0;font-size:12px;}

.user-Form{ padding:0 0 0 2px;}
.user-Form .Li01{ color:#969696; height:22px; overflow:hidden;}
.user-Form .Li01,.user-Form .Li02{ line-height:22px;}
.user-Form .Li01 .vip{ width:20px; height:20px; background-position:left 2px; display:inline-block; float:left;}
.user-Form .Li02 img{ vertical-align:top; *vertical-align:middle;}
.user-Form .Li04{ border:1px solid #ebebeb; border-top:1px solid #c0c0c0; border-radius:2px; height:76px; padding:0 0 0 5px;background-color:#fff;}
.user-Form .Li04:hover{ box-shadow:1px 1px 4px #ebebeb inset;}
.user-Form .active,.user-Form .active:hover{ border:1px solid #00a0e9; border-top:1px solid #0094d7; box-shadow:-1px 0px 1px #beebff;}
.user-Form .Li05 input{border-radius:2px;font-size:13px;font-weight:bold;width:50px;text-align:center;cursor:pointer;height:24px;}
.user-Form .Li05 input:hover,.D-Info .s2 a:hover{ box-shadow:1px 1px 3px #ccc;}
.user-Form .Li05{ padding:10px 0 5px 1px; height:30px; position:relative;}
.user-Form .Li05 .r{ color:#E70015;}
.user-Form .Li05 .ip-1,.D-Info .s1 a{ background-color:#c8000b; box-shadow:1px 1px 4px #C6010B inset; border:0;color:#fff;}
.user-Form .Li05 .ip-1:hover,.D-Info .s1 a:hover{ box-shadow:1px 1px 3px #999;}
.user-Form .Li05 .ip-2{ background-color:#f7f7f7; color:#444; border:1px solid #e8e8e8;}
.user-Form .Li05 .ip-2:hover{background-color:#fafafa; border:1px solid #d7d7d7;}
.user-Form .Li05 .ip-2:active{background-color:#e6e6e6; border:1px solid #ccc;}
.user-Form .Li05 .s1{ float:left;}
.user-Form .Li05 .s1 a{display:inline-block; width:28px; height:26px; background-position:-108px -291px; border:1px solid #d7d7d7; border-radius:2px;}
.user-Form .Li05 .s1 a:hover{box-shadow:1px 1px 3px #ccc; background-color:#fafafa; border:1px solid #ccc;}
.user-Form .Li05 .s1 a:active{box-shadow:1px 1px 4px #ccc inset; background-color:#e6e6e6; background-position:-143px -291px; border-radius:3px; border:1px solid #ebebeb; }
.user-Form .Li05 .s2{ float:right;}
.user-Form .Li05 .s2 i{ font-family:Arial; font-size:14px; padding:0 2px;}
.user-Form .Li06{ margin-top:10px; position:relative;}

.up-ico{ display:inline-block; position:absolute; left:15px; top:-7px; width:16px; height:8px; background-position:-204px top;}
.listCom .up-ico{ left:7px;}
.listCom .page a,.listCom .page span{ margin:0 0 0 11px; line-height:20px;}

.w17{ background:#fbfbfb; border:1px solid #EBEBEB; border-radius:2px; padding:15px;}
.w17 dt{ width:100%; float:none; margin:0;}
.w17 dt img{ width:17px; height:17px;}
.w17 dt a,.w17 dt b,.w17 dt i{ float:left;}
.w17 dt a{ margin-top:3px;}
.w17 dt i{ font-family:Arial; padding:0 3px 0 5px; color:#969696;}
.w17 dt u{ font-size:13px; line-height:24px; text-decoration:none}
.w17 dd{ float:none; width:100%; margin-left:0; color:#444;}

.list .w48{ border-bottom:1px solid #ebebeb; padding:10px 0;margin-right:0;}
.list .w48:hover{ background-color:#fbfbfb;}
.list .user-Form .Li02{ word-wrap:break-word;overflow:hidden; color:#444;}
.list .user-Form .Li03{ height:32px; padding-right:4px; line-height:32px;}
.list .user-Form .Li03 em,.list .user-Form .Li03 i,.list .user-Form .Li03 b,.list .user-Form .Li03 em{ height:32px; display:inline-block;}
.list .user-Form .Li03 u{ background-position:-54px -113px; padding-left:22px; display:inline-block; margin-left:5px; text-decoration:none}
.list .user-Form .Li03 b{ padding-right:10px;}
.list .user-Form .Li03 i,.list .user-Form .Li03 em{ padding:0 3px; color:#c6c6c6;}
.list .user-Form .Li03 span{ float:right; display:none; height:32px; overflow:hidden; padding-right:3px;}
.list .user-Form:hover .Li03 span{ display:block;}
.list .user-Form .Li03 span a{ display:inline-block; width:45px; height:27px; border:1px solid #e8e8e8; border-radius:2px; background-position:-172px -290px; background-color:#f7f7f7;}
.list .user-Form .Li03 span a:hover{ box-shadow:1px 1px 3px #ccc; background-color:#fafafa; border:1px solid #d7d7d7;}
.list .user-Form .Li03 span a:active{ box-shadow:1px 1px 4px #ccc inset; background-color:#e6e6e6; background-position:-205px -290px; background-color:none;}
.list .user-Form .Li04{ margin-top:20px;}

.expression{ position:absolute; left:66px; top:175px; border:1px solid #eee; box-shadow:1px 1px 3px #ccc; padding:10px 10px; background-color:#fff; width:140px;}
.expression .list{ position:relative; overflow:visible;}
.expression ul{ overflow:hidden;}
.expression li{ display:inline-block; float:left; overflow:hidden;}
.expression li a{ display:inline-block; width:18px; height:18px; padding:5px; cursor:pointer;}
.expression li a:hover{ background-color:#f7f7f7;}
.expression .up-ico{ top:-18px;}

/**/

.commbox{ position:relative;}
.commbox h3{ padding:0 25px; color:#444; overflow:hidden;font-size:12px;font-weight:normal; text-align:right}
.commbox form{ padding-bottom:30px; margin-top:5px;}
.commbox .page{ text-align:right;}
.commbox .page a{ padding:0 8px;}

.tab{}
.tab i{ padding:0 5px;}
.tab ul{ margin:0 0 0 15px; border-bottom:1px solid #ebebeb;}
.tab li{ font-size:12px; display:inline-block; line-height:34px; height:34px; float:left;}
.tab li a:hover{ color:#e70015; text-decoration:none; cursor:pointer;}
.tab .active a,.tab .active a:hover{ font-weight:bold; color:#e70015;}

/**/

.loaInfo{}
.loaInfo a{display:block;text-align:center;color:#2b83c1;background:#fafafa;margin:15px 25px 0 25px;border:1px solid #ebebeb;border-top:1px solid #ccc;border-radius:2px;line-height:34px;}
.loaInfo a:hover{ box-shadow:1px 1px 3px #ccc; text-decoration:none;}

.loading{background:url(http://i2.letvimg.com/img/201112/08/nav/loading.gif) no-repeat center;}

/**/

.Ggao{border:1px solid #ede6c7;padding:10px 15px 10px 45px; margin:0 0  0 15px;background:#fffbd9 url(http://i2.letvimg.com/playlist/201206/05/tip.png) no-repeat 10px 15px;color:#DD9631;font-size:12px;clear:both;}
.Ggao u{ text-decoration:underline;}
.GGclose{color:#dd9631;font-weight:bold;float:right;font-size:12px;position:relative;top:-7px;right:-5px;height:10px;width:10px;}
.GGclose:hover{ text-decoration:none; color:#DD9631;}
.no-com{ padding:10px 0; margin:10px 25px;}

.commbox .j-pager.page span{float:none;padding:5px 8px 3px;}
.commbox  .page a,.commbox  .page span{margin-top:3px;display: inline-block;}
.listCom .page a, .listCom .page span {margin: 5px 0 0 4px;}