﻿@charset "utf-8";

*{padding:0;margin:0;outline:none;}
html{background:#f3f3f3;min-height:101%;}
*html{background-image:url(about:blank);background-attachment:fixed;}
body{font-family:'MicroSoft Yahei',verdana,arial,tahoma;font-size:14px;color:#666666;-webkit-text-size-adjust: none;}
div{margin:0 auto;}
ul,ol,li {list-style:none;}
a{color:#666;text-decoration:none;outline:none;hide-focus:expression(this.hideFocus=true);transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;}
a:hover{color:#FF7402;text-decoration:none;}


.head_top{width:100%;height:29px;background:url(head_top.png) repeat-x;}
.head_top .head_ttt{width:1003px;margin:0 auto;position:relative;height:29px;line-height:29px;}
.head_top .head_ttt .hh_ll{float:left;padding-left:36px;background:url(h_hy.png) no-repeat 8px center;}
.head_top .head_ttt .hh_ll a{padding:0 5px;}
.head_top .head_ttt .hh_rr{float:right;}
.head_top .head_ttt .hh_rr .aa{padding:0 6px;}

.head_dh{ height:60px; position:relative; width:1003px; margin:0px auto; margin-top:10px;}

.head_logo{ width:170px; height:60px; position:absolute; left:0px; top:0px;} 
.head_login{ width:400px; height:60px; line-height:60px; position:absolute; right:20px; top:0px; font-size:14px; text-align:right;} 
.head_login a{color:#3dabf0;} 


.reg_change{}
.reg_change li{ border:#eee 1px solid; background-color:#f6f6f6; line-height:50px; font-size:14px; margin-bottom:8px; width:300px; margin-left:50px; padding-left:30px;}
.reg_change p{margin-left:80px; margin-top:20px;}


.Dg{width:1000px;margin:0 auto; line-height:35px;height:35px; font-size:14px;color:#666;padding-left:8px; font-family:Arial, Helvetica, sans-serif}
.Dg a{padding:0px 1px;color:#0270ce;}

.fullBox {
	clear:both;
	width:1000px;
	overflow:hidden;
	background:#fff;
	margin:0 auto 10px auto;
	border:1px solid #dcdcdc;
}
.fullBox .fullBoxTop { height:80px; }
.fullBox .fullBoxMid {
	width:978px;
	overflow:hidden;
}
.boxTitleReg, .boxTitleReg2 {
	width:500px;
	float:left;
	color:#3dabf0;
	height:80px;
	line-height:80px;
	vertical-align:middle;
	font-size:24px;
	padding-left:30px;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
.boxTitleReg2 {color:#f17f00;}
.regBox {
	width:978px;
	overflow:hidden;
	background:url(login.gif) no-repeat 100% 100%;
}
.regLeft {
	width:600px;
	float:left;
	padding:0 0 30px 30px;
	overflow:hidden;
}
.regRight {
	width:330px;
	height:360px;
	float:right;
}
.loginTab { width:350px; }
.regTab { width:590px; }
.login1Tab { width:590px; }
.loginTab th {
	width:120px;
	font-size:14px;
	text-align:right;
	font-weight:normal;
	padding:10px 0;
}
.loginTab td { padding:10px 0; }
.regTab td { width:220px; }
.loginTab p, .loginTab input, .loginTab img, .loginTab a, .loginTab span, .loginTab label { vertical-align:middle; }
.loginTab a {
	padding-left:10px;
	color:#666;
}
.regTab a {
	padding-left:4px;
	color:#3dabf0;
}
a.downClient2 {
	display:block;
	width:150px;
	color:#fff;
	text-align:center;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	background:#36F;
	padding:0;
}
.loginInp {
	width:210px;
	padding:6px 4px;
	background:#f6f6f6;
	border:1px solid #ccc;
}
.loginInp2 { width:80px; }
.loginInpHover {
	border:1px solid #f37c3b;
	background:#fff;
}
.loginBtnBig, .regBtnBig {
	width:130px;
	height:42px;
	cursor:pointer;
	background:url(loginBtn.gif) no-repeat 0 -60px;
	border:none;
}
.regBtnBig { background:url(loginBtn.gif) no-repeat 0 0; }
.regTab p { color:#888; }
.regTab p.ok {
	width:18px;
	height:17px;
	background:url(loginBtn.gif) no-repeat -113px -130px;
}
.regTab p.error {
	height:17px;
	overflow:hidden;
	color:#ee2559;
	line-height:17px;
	vertical-align:middle;
}
.regNow, .loginNow {
	width:280px;
	font-size:14px;
	text-align:center;
	padding:20px 0;line-height:50px;
	border:1px solid #fff2c8;
	background:#fefbf0;
}
.regNow a, .loginNow a {
	font-size:20px;
	color:#e76e2b;
	font-family:"微软雅黑", "黑体", "宋体";
}
.loginNow a { color:#0090eb; }
dl.boast {
	width:280px;
	color:#666;
	line-height:2em;
	text-align:center;
	padding:30px 0 0 0;
}
dl.boast dt {
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
}
.submitBtn{width:110px;height:33px;font-size:14px;color:#fff;cursor:pointer;background:url(ucBtn.gif) no-repeat 0 -110px;border:none;}


.m_copyright{
	padding-top:5px; border-top: 1px #eee solid; line-height:30px; text-align:center; font-size:14px; color: #666666; margin-bottom:10px;

}