﻿@charset "utf-8";


*{padding:0;margin:0;outline:none;}
html{background:#f3f3f3;min-height:101%;}
*html{background-image:url(about:blank);background-attachment:fixed;}
body{font-family:'MicroSoft Yahei',verdana,arial,tahoma;font-size:14px;color:#666666;-webkit-text-size-adjust: none;}
div{margin:0 auto;}
ul,ol,li {list-style:none;}
a{color:#666;text-decoration:none;outline:none;hide-focus:expression(this.hideFocus=true);transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;}
a:hover{color:#FF7402;text-decoration:none;}


.head_top{width:100%;height:29px;background:url(head_top.png) repeat-x;}
.head_top .head_ttt{width:1003px;margin:0 auto;position:relative;height:29px;line-height:29px;}
.head_top .head_ttt .hh_ll{float:left;padding-left:36px;background:url(h_hy.png) no-repeat 8px center;}
.head_top .head_ttt .hh_ll a{padding:0 5px;}
.head_top .head_ttt .hh_rr{float:right;}
.head_top .head_ttt .hh_rr .aa{padding:0 6px;}
.head_dh{ height:60px; position:relative; width:1003px; margin:0px auto; margin-top:10px;}
.head_logo{ width:170px; height:60px; position:absolute; left:0px; top:0px;} 
.head_login{ width:400px; height:60px; line-height:60px; position:absolute; right:20px; top:0px; font-size:14px; text-align:right;} 
.head_login a{color:#3dabf0;} 


.m_copyright{padding-top:5px; border-top: 1px #eee solid; line-height:30px; text-align:center; font-size:14px; color: #666666; margin-bottom:10px;}

.epages {text-align: center;padding-top:15px; padding-bottom:10px; margin:0px auto;margin:3px 0;}
.epages *{vertical-align:middle; font-size:12px;}
.epages a{border:1px solid #eee;text-align:center; padding:2px 8px 2px 8px;text-align:center;text-decoration:none; font-size:12px;color:#333333;}
.epages a:hover{border:1px solid #2867a0;text-align:center; padding:2px 8px 2px 8px;text-decoration:none;color:#fff; font-size:12px;background:#5aaadb;}
.Total  b{padding:2px 2px 2px 2px;text-decoration:none;color:#ffffff; font-size:12px; background: none!important;}




.fullBox{width:1000px;;margin:0 auto;position:relative;height:auto;overflow:hidden;}
.uLeftBox{position:absolute;width:205px;float:left;height:950px;}
.uRightBox{width:799px;float:right;background:#fff;border:1px solid #ced2d4;min-height:950px;height:auto;}
.uContent{width:778px;float:left;overflow:hidden;}
.uFace{clear:both;width:198px;overflow:hidden;border:1px solid #ced2d4;background:#f9f9f9;}
.uFace dl{clear:both;width:190px;padding:15px 0 15px 0;overflow:hidden;}
.uFace dl dd{width:190px;font-weight:bold;margin:0 auto;text-align:center;}
.uFace ul{clear:both;width:190px;padding:0 0 15px 15px;overflow:hidden;}
.uMenu{clear:both;width:200px;background:#fff;border-left:1px solid #ced2d4;}
.uMenu li{width:198px;height:52px;font-size:14px;font-weight:bold;border-bottom:1px solid #ced2d4;border-right:1px solid #ced2d4;}
.uMenu li.focus{width:200px;background:url(ucBtn.gif) no-repeat 0 0;border:0;}
.uMenu li a{display:block;width:198px;height:52px;line-height:52px;vertical-align:middle;text-align:center;cursor:pointer;}
.uMenu li a:hover{text-decoration:none;background:#f6f6f6;}
.uMenu li.focus a,.uMenu li.focus a:hover{color:#fff;background:none;}
.uContent h2{font-size:20px;font-family:"微软雅黑","黑体","宋体";padding:25px 30px 15px 30px;margin:0;border-bottom:1px solid #e8e8e8;}
.aboutTxt{width:710px;overflow:hidden;padding:10px 33px;}
.aboutTxt p{line-height:2.1em;font-size:14px;padding:0 0 15px 0;}
.aboutTxt dl{line-height:2.1em;font-size:14px;padding:10px 0;}
.aboutTxt dd{padding:0 0 10px 20px;}
.aboutTxt h3{color:#13a9e1;font-size:16px;padding:0 0 10px 0;margin:0;}
.uEsc{width:180px;overflow:hidden;padding:10px 0;background:url(line3.gif) repeat-x 0 0;margin:0 auto;}
.uBtn1,.uBtn2{display:block;width:70px;height:25px;line-height:24px;vertical-align:middle;text-align:center;background:url(ucBtn.gif) no-repeat 0 -70px;cursor:pointer;}
.uBtn2{color:#ce0505;background:url(ucBtn.gif) no-repeat -80px -70px;}
.uBtn3,.uBtn4{width:50px;height:25px;background:url(ucBtn.gif) no-repeat 0 -170px;cursor:pointer;border:none;}
.uBtn4{background:url(ucBtn.gif) no-repeat -60px -170px;}
.uEsc .uBtn1{margin:0 auto;}
.infoBox{clear:both;width:695px;overflow:hidden;background:#f9f9f9;border:1px solid #e2e2e2;margin:20px auto;padding:20px;}
.infoBox .welcome{color:#888;padding-bottom:10px;}
.infoBox .welcome strong{font-size:20px;color:#13a9e1;}
.infoBox .welcome b{font-size:14px;color:#13a9e1;padding:0 10px;}
.detailInfo{width:470px;float:left;height:120px;padding:30px;background:url(uInfo.gif) no-repeat 0 0;}
.bigFace{width:123px;float:right;overflow:hidden;padding:5px 18px 0 0;}
.bigFace dt{width:120px;height:120px;padding:4px;border:1px solid #d1d1d1;}
.bigFace dt img{width:120px;height:120px;}
.bigFace dd{clear:both;padding-top:10px;}
.bigFace dd .uBtn1{margin:0 auto;}
.coupon{width:160px;overflow:hidden;float:left;}
.coupon p{font-size:14px;}
.integral{width:300px;overflow:hidden;float:right;}
.integral p{font-size:14px;}
.integral span{color:#888;font-size:12px;}
.integral b{color:#f30;font-size:16px;}
.integral ul{padding:10px 0 0 0;}
.integral ul li{width:150px;height:18px;line-height:18px;vertical-align:middle;padding:5px 0;float:left;}
.integral ul li b{font-size:12px;color:#333;}
.uIcon1,.uIcon2,.uIcon3,.uIcon4,.uIcon5{width:24px;height:18px;line-height:18px;display:inline-block;zoom:1;*display:inline;vertical-align:middle;background:url(ucIco.gif) no-repeat 0 -2px;}
.uIcon2{background:url(ucIco.gif) no-repeat 0 -32px;}
.uIcon3{background:url(ucIco.gif) no-repeat 0 -62px;}
.uIcon4{background:url(ucIco.gif) no-repeat 0 -92px;}
.uIcon5{background:url(ucIco.gif) no-repeat -60px -92px;}
.uIcon6{clear:both;padding:10px 0 0 18px;background:url(ucIco.gif) no-repeat -60px -107px;margin-bottom:10px;}
.uIcon6 b{font-size:18px;color:#f30;padding-right:5px;}
.uCol{width:740px;margin:0 auto;padding-bottom:20px;}
.uCol dt{padding:10px 0;font-size:14px;font-weight:bold;}
.uCol dd{padding:0 0 0 20px;}
.uCol b{color:#f30;font-size:14px;padding:0 4px;}
.uCol a{color:#0493ee;}
.uCol a:hover{color:#f30;text-decoration:underline;}
.upLoad{}.upLoad strong{font-size:16px;color:#f30;padding:0 4px;}
.upLoad li{padding:5px 0;}
.upLoad li.t1{padding-left:30px;background:url(ucIco.gif) no-repeat -55px 8px;}
.upLoad li.t2{padding-left:30px;background:url(ucIco.gif) no-repeat -55px -22px;}
.upLoad li.t3{padding-left:30px;background:url(ucIco.gif) no-repeat -55px -52px;}
.upLoad li.t1 b{color:#060;}
.upLoad li.t2 b{color:#36F;}
.upLoad li.t3 b{color:#900;}
.line4{width:740px;height:20px;background:url(line4.gif) repeat-x 0 100%;}
.uTab{width:740px;height:32px;margin:20px auto 0 auto;overflow:hidden;}
.uTab li{float:left;margin-right:13px;width:108px;line-height:31px; text-align:center;vertical-align:middle;border:1px solid #e1e1e1;cursor:pointer;padding:0;}
.uTab li a:hover{float:left;border:solid 1px #e1e1e1;background:#e1e1e1;margin-right:13px;width:108px;line-height:31px;text-align:center;vertical-align:middle;cursor:pointer;padding:0;}
.uTab li a{width:110px;height:30px;text-decoration: none; display:block}
.tabs_header { width:740px;margin:20px auto 0 auto;height:32px; border-bottom:1px solid #dedede; margin-bottom:15px;}
.tabs_header li { width:84px; float:left; text-align:center; margin-left:8px; margin-top:5px; line-height:30px; background:url(../images/tabs.gif) left -27px no-repeat;}
.tabs_header li a { display:block; height:27px;}
.tabs_header li.active { height:28px; background:url(tabs.gif) left 1px no-repeat; font-weight:bold}
.display { width:740px;margin:20px auto 0 auto;height:100%; overflow:hidden; clear:both}
.display td { padding:3px; line-height:20px;}
.display .menu { margin:5px; line-height:30px;}
.display .menu h3 { color:#0033FF; font-weight:bold}
.display .table_title { margin-bottom:10px; border-bottom:1px solid #dedede;}
.display .table_list td a { color:#0000cc}
.uInp1{width:230px;padding:6px 4px;background:#f6f6f6;border:1px solid #ccc;}

.uInp2{width:300px;height:80px}
.uInp3{padding:2px;width:240px;}
.uInp4{width:230px;padding:4px 4px;background:#f6f6f6;border:1px solid #ccc;}
.uInp5{width:230px;padding:1px 4px;border:1px solid #ccc;}
.uInpHover{border:1px solid #f37c3b;background:#fff;}
.uTabCon{width:100%;clear:both;overflow:hidden;}
.uProfile{width:650px;margin:20px auto;}
.uProfile1{width:740px;margin:10px auto;}
.uProfile th{width:140px;font-size:14px;text-align:right;font-weight:normal;padding:5px 0;}
.uProfile td{padding:5px 0;}
.uProfile td span{color:#888;}
.uProfile input,.loginTab img,.loginTab a,.loginTab span{vertical-align:middle;}
.submitBtn{width:110px;height:33px;font-size:14px;color:#fff;cursor:pointer;background:url(ucBtn.gif) no-repeat 0 -110px;border:none;}
.submitBtnbuy{width:74px;height:28px;font-size:14px;color:#f00;cursor:pointer;background:url(ucBtn.gif) no-repeat -78px -68px;border:none;}
.submitBtnf{width:72px;height:28px;font-size:14px;color:#f00;cursor:pointer;background:url(ucBtn.gif) no-repeat 0 -68px;border:none;}
.submitBtns{width:86px;height:21px;font-size:14px;color:#fff;cursor:pointer;background:url(ucBtn.gif) no-repeat -120px -169px;border:none;}
.upLoadFace{width:740px;overflow:hidden;padding:20px 0;margin:0 auto;}
.bigavatar{width:204px;height:204px;float:left;overflow:hidden;background:#fff;}
.bigavatar td{width:200px;height:200px;text-align:center;vertical-align:middle;border:2px solid #ccc;_border:1px solid #ccc;}
.avatarflash{width:500px;overflow:hidden;float:right;}
.favManage{width:740px;margin:0 auto;}
.selClass{overflow:hidden;clear:both;padding:15px 20px;background:#fafafa;margin-top:10px;}
.selClass label{padding-right:8px;font-weight:bold;}
.selClass label,.selClass input,.selClass select{vertical-align:middle;}
.favList{width:100%;border-top:1px solid #ccc;}
.favList td{text-align:center;padding:8px 2px;border-bottom:1px solid #eee;}
.favList th{text-align:center;padding:1px 2px;background:#f2f2f2;border:1px solid #ccc;}
.favList td.app img,.favList td.app a{width:48px;height:48px;padding-right:5px;vertical-align:middle;}
.w40{width:40px;}
.w140{width:140px;}
.w130{width:130px;}
.w150{width:150px;}
.favList td.app,.favList td.favClassName{text-align:left;}
.favList td.favClassName div{display:none;}
.opBtn1,.opBtn2,.opBtn3{text-align:left;display:block;width:38px;height:16px;line-height:16px;vertical-align:middle;overflow:hidden;float:left;cursor:pointer;margin-right:5px;padding-left:22px;background:url(ucBtn.gif) no-repeat -186px -109px;}
.opBtn2{background:url(ucBtn.gif) no-repeat -186px -69px;}
.opBtn3{width:50px;background:url(ucBtn.gif) no-repeat -186px -149px;}
.moveFav{width:100%;overflow:hidden;padding:10px 0;}
.moveFav .uBtn1,.moveFav .uBtn2,.moveFav select{float:right;margin-right:10px;}
.contactSim{width:199px;border-left:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;background:url(line5.gif) no-repeat 50% 90px;padding:10px 0;}
.contactSim dl{text-align:center;color:#666;}
.contactSim dl dt.tel{padding:5px 0;background:url(ucIco.gif) no-repeat -8px -142px;}
.contactSim dl dt.mail{padding:5px 0;margin-top:10px;background:url(ucIco.gif) no-repeat -8px -170px;}
.contactSim dd b{color:#f90;font-size:20px;}
.contactSim dd a{color:#064d8d;}p.feedbackTips{font-size:12px;padding:10px 0;line-height:1.8em;}p.feedbackTips2{font-size:12px;color:#b30;padding:20px 0;line-height:1.8em;}p.feedbackTips a{color:#0493ee;}
.feedbackTips label{padding-right:15px;}
.feedbackBox{color:#666;width:600px;height:150px;border:1px solid #ccc;padding:4px;}
.feedbackInp{width:220px;color:#666;padding:4px;border:1px solid #ccc;}
.friendPage{overflow:hidden;padding-bottom:20px;}
.txtLink{clear:both;overflow:hidden;padding:15px 0;}
.txtLink li{width:142px;overflow:hidden;white-space:nowrap;word-break:keep-all;float:left;padding:5px 0;}
.apkLink{border-top:1px solid #e8e8e8;clear:both;}
.apkLink h3{color:#333;padding:20px 0 10px 0;}
.sitemapTxt,.contactTxt{width:730px;clear:both;overflow:hidden;margin:0 auto;padding:20px 0;}
.contactTxt{width:710px;padding:10px 0;}
.sitemap{padding:0 0 10px 0;}
.sitemap dt{font-size:14px;font-weight:bold;color:#0a7cbe;background:#f3f3f3;padding:3px 20px;}
.sitemap dt a{color:#0a7cbe;}
.sitemap dd{color:#aaa;font-size:12px;line-height:2.4em;clear:both;overflow:hidden;padding:10px 0 10px 10px;}
.sitemap ul li{width:700px;clear:both;}
.sitemap ul.mapL2 li h3{padding:0 0 0 10px;margin:0;font-size:12px;width:70px;float:left;overflow:hidden;}
.sitemap ul.mapL2 li p{width:620px;float:right;}
.sitemap dd p a{color:#666;padding:0 10px;word-break:keep-all;word-wrap:normal;white-space:nowrap;}
.sitemap a:hover{color:#f60;}
.contactTxt dl{font-size:14px;line-height:1.9em;padding:10px 0 20px 0;}
.contactTxt dl dt{font-size:14px;font-weight:bold;color:#0a7cbe;padding:10px 0;}
.contactTxt dd b{color:#f60;font-weight:normal;}
.contactInfo{clar:both;background:url(line3.gif) repeat-x 0 100%;}
.contactInfo2{width:236px;float:left;}
.qqGroup{clear:both;overflow:hidden;background:url(line3.gif) repeat-x 0 0;}
.qqGroup h4{font-size:14px;font-weight:bold;color:#0a7cbe;padding:20px 0;margin:0;}
.qqGroupL,.qqGroupR{width:350px;float:left;overflow:hidden;}
.qqGroup p{padding-bottom:20px;}
.aboutP dt{font-size:14px;font-weight:bold;color:#0a7cbe;padding-bottom:5px;}p.indent20{padding:0 0 5px 20px;}p.indent40{padding:0 0 5px 40px;}p.faqQ{background:url(faqQ.gif) no-repeat 0 8px;padding:0 10px 0 20px;}p.faqA{color:#666;background:url(faqA.gif) no-repeat 0 8px;padding:0 0 15px 20px;}
.ruleTab{width:680px;border:1px solid #ccc;}
.ruleTab td{padding:0 4px;border:1px solid #eee;}
.ruleTab th{background:#e8e8e8;border:1px solid #eee;}
.feedbackInp1{width:120px;color:#666;padding:4px;border:1px solid #ccc;}
.zzliuyan{float:left; width:66px}
.liuyan{float:left; width:54px}
.tMid{text-align:center; font-style:#fff}
.pagination {text-align:center; }
.pagination li { display:-moz-inline-box;display:inline-block; margin:10px 0px;color:#fff;}
.pagination li { *display:inline;}
.pagination a { display:block; padding:4px 8px; background:#777; color:#fff; text-decoration:none; line-height:1.2em;}
.pagination a:hover {background:#04a6cf; border:none;color:#000;}
.cellBg{height:30px}
.tabSub {height: 22px; background-color:#FFFFFF; padding:5px 10px 4px; border-top:1px solid #DCDCDC; z-index:1; border-left:1px solid #DCDCDC; border-right:1px solid #DCDCDC; }
.tabSub li {border:#0CF solid 1px;border:none; background:none; float:left; margin:0 3px; position:relative; z-index:10; }
.tabSub li a {border:#0CF solid 1px;float:left; padding:0 9px; text-decoration:none; color:#313131; font-weight:100; height:20px; line-height:20px; }
.tabSub li a:hover {border:#0CF solid 1px; height:20px; line-height:20px; padding:0 9px; margin:0; background:#CCC}
.tabSub .thisTab a { font-weight: bold; border:#0CF solid 1px; background:#8CD5F7;}
.tabSub .thisTab a:hover {border:#0CF solid 1px;height:20px; line-height:20px; padding:0 9px; background:#8CD5F7}
.thisclass{z-index:9999;background:#04a6cf;display:inline;border:1px solid #008eb2; padding:0px 6px; height:20px; line-height:20px;font-weight:bold;}
.yigong{display:block; padding:4px 8px; background:#777; color:#fff; text-decoration:none; line-height:1.2em;}
.submitBtnz{width:45px;height:25px;font-size:14px;color:#fff;cursor:pointer;background:url(ucBtn.gif) no-repeat -129px -107px;border:none;}
.submitBtns{width:45px;height:26px;font-size:14px;color:#fff;cursor:pointer;background:url(ucBtn.gif) no-repeat -129px -106px;border:none;}
.uInp6{background:#999;width:70px;border:1px;padding:1px 7px;border-radius:8px;-webkit-border-radius:10px;-moz-border-radius:10px;vertical-align:middle}