.container {margin: 10% auto 0 auto}

#login {margin: 0 auto; width: 500px; min-height: 230px; background-color: #fff; border: 1px solid #dfdfdf; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-box-shadow: 0px 1px 15px rgba(0,0,0,0.15); -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15); box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15)}
#login .panel-head {min-height: 55px; background-color: #edf3fe; border-bottom: 1px solid #dfdfdf; position: relative}
#login .panel-head h4 {margin: 0 0 0 20px; padding: 0; line-height: 55px; font-size: 14px}
#login .panel-actions {float: right; position: absolute; right: 15px; top: 12px; padding: 0}
#login .panel-actions .dropdown {display: inline-block; margin-right: 2px}
#login #submit {min-width: 100px;}
#loginForm {padding: 20px 20px;}
.table-form th, .table-form td {padding: 8px 5px}
.checkbox {display: inline-block; padding-left: 80px;}
