﻿/*主体*/
body{}
.content{background:url(../img/bigbg.jpg) no-repeat center 0;}


.nav{height: 106px;margin: 0 auto;}
.navnews{ text-align: center;}
.navnews .fl{width:105px;}
.navnews .fr{float: none; display: inline-block;}
.navnews .fr li{float: left;width: 101px;text-align: center; padding-top:17px;overflow: hidden; font-family: "微软雅黑"; margin-left: 10px;cursor: pointer;}
.navnews .fr li a{color:#FFF;display: block;margin-top: 7px;font-size: 14px;}
.navnews .fr li.ts{width: 184px;height: 93px;}
.navnews .fr li.ts a{padding-top:0px}
.navnews .fr li a:hover{color:#FFF; text-decoration: none;}
.navnews .ts{color:#FFF; text-decoration: none;}
.navnews .fr li.on {background: url(../img/sqyy.png) no-repeat center 0;width: 101px;height: 106px;}
.navnews .fr li span {color: #FFF;font-size: 6px;}
/*mian*/
.bigmain{background-color: #efb3fc;width: 860px;height: 700px;padding-top: 10px;margin:0 auto;  margin-top: -260px;
  z-index: 10;  position: relative;}
.pic{margin-top:500px;}

.fs_ul{height: 223px;width: 875px;padding-top: 5px;}
.fs_ul > li{float: left;margin-left: 5px;height: 223px;width: 155px;}
.fs_ul li.pic_data{background: url(../img/sq_02_10.jpg) no-repeat center 0;width: 190px;height: 223px;margin-left: 15px;}
.fs_ul li.pic_data1{margin-left: 5px;}
.fs_ul ul li{width: 100%;height: 20px;line-height: 20px;}
.pic_data ul{margin-left: 38px;margin-top: 20px;}
.pic_data h4{margin-left: 40px; margin-top: 30px;font-size: 16px;}
.pic_data span{margin-left: 40px; margin-top: 30px;font-size: 18px; color:#efb3fc ; font-weight: bold;}
.hzmt{background: url(../img/mt_bg_07.png) repeat-x center 0; height: 84px;width: 860px; margin: 0 auto;margin-top: 20px;position:relative; }
.hzmt_title{margin-left: 15px;float: left;margin-top: 10px; margin-right: 10px;}
.picMarquee-left{ width:631px;  overflow:hidden; position:relative;  }
.picMarquee-left .bd{ padding:10px;   }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center;  margin-top: 0PX;}
.picMarquee-left .bd ul li .pic img{ display:block;width: 85px;height: 33px;}
.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picMarquee-left .bd ul li .title{ line-height:24px;   }


/* box */
#box{position:relative;width:754px;height:292px;margin:115px auto 0;top: -520px;}
#box ul{position:relative;width:754px;height:292px;}
#box li{position:absolute;list-style:none;width:0;height:0;top:146px;left:377px;z-index:0;cursor:pointer;overflow:hidden;border-radius:3px;}
#box li img{width:100%;height:100%;vertical-align:top;}
#box .prev, #box .next{position:absolute;top:100%;width:39px;height:80px;margin-top:-40px;overflow:hidden;text-indent:-999px;cursor:pointer;background:url(../img/btn.png) no-repeat;}
#box .prev{left:-150px;}
#box .next{right:-150px;background-position:-39px 0;}
.slogan img{position: absolute;z-index: 50;top: 431px;}
/*footer*/
.footer{background: url(../img/fbg.png) repeat-y center 0;height: 70px;padding: 15px 0; color: #fff;}
.footer_logo{width:195px;text-align: center;  margin-top: 10px;}
.footer_wx{width: 75px;padding-left: 30px;border-left: 1px solid #000;}
.footer_wb{width: 85px;margin-left: 30px;}
.copyright{width: 360px;padding: 0 55px 0 0;text-align: right;line-height: 20px; color: #fff;}
.copyright a{color: #fff;}
.xuanfu{position: fixed; top: 40px;right:40px;width: 96px;height: 273px;background-color:#efb3fc;z-index: 100;}
.xuanfu .xf_ewm{margin-top: 10px; margin-left: 10px;margin-bottom: 5px;}
.xuanfu .xf_zt{  width: 70px;font-size: 15px;margin-left: 17px; color: #4f2c6e; font-weight: bold;margin-top: 19px;}
.xuanfu .xf_wb{  margin-top: 8px; margin-left: 11px;}
.xuanfu .xf_wz{  margin-left: 5px;  margin-bottom: 5px;}
