@charset "utf-8";

/* CSS Document */
div, body, *, ul, li {
	margin: 0px;
	padding: 0px;
	color: #5a4c32;
	font-family: "微软雅黑";
	font-size: 12px;
	list-style: none;
}

.middle_box { background: url(../images/demo_2.jpg) no-repeat center; }

.middle {
	background: url(../images/bc.jpg) no-repeat center;
	width: 1002px;
	height: 1200px;
	margin: 0px auto;
}

.top_left { float: left; }

.top_right {
	float: left;
	position:relative;
}

.top_left_up {
	background: url(../images/m__left__1.jpg);
	width: 586px;
	height: 84px;
}

.top_left_down {
	background: url(../images/m__left__2.jpg);
	width: 586px;
	height: 172px;
}

.top_left_down p {
	margin-left: 122px;
	width: 450px;
	line-height: 27.95px;
	display: block;

}

.top_left_down h1 {
	color: #5a4c32;
	font-family: "微软雅黑";
	font-size: 12px;
	font-weight: normal;
	margin-left: 128px;
	margin-top: 20px;
}


.tijiao_banner {
	margin: 0px auto;
	display: block;
}

.clear { clear: both; }

.buzou {
	margin-left: 155px;
	margin-top: 15px;
}

.buzou img { float: left; }

.shuru { margin-top: 25px; }

.shurukuang {
	width: 462px;
	float: left;
	margin-left: 68px;
}

.shurukuang ul li img {
	margin-top: 24px;
	float: left;
}

.shurukuang ul li p {
	margin-top: 24px;
	float: left;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #312b37;
	font-weight: bold;
	margin-left: 6px;
}

.text {
	margin-left: 25px;
	margin-top: 15px;
	width: 180px;
	height: 30px;
}

.libao {
	margin-left: 25px;
	margin-top: 15px;
	width: 180px;
	height: 30px;
	float: left;
}

.yanzheng {
	width: 100px;
	height: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

.yanzhengma {
	background: #ED75AD;
	width: 100px;
	height: 50px;
	margin-left: 10px;
	margin-top: 15px;
	float: left;
}

.anniu {
	background: url(../images/tijiao.jpg) no-repeat center;
	width: 96px;
	height: 43px;
	margin-left: 185px;
	margin-top: 30px;
	border: 0px;
}

.fl { margin-top: 25px; }
