@charset "utf-8";

/* CSS Document */


.bc_box {

	width: 100%;
	height: 100%;
}

.bc {
	background: url(../images/bc.png) no-repeat center;
	width: 738px;
	height: 593px;
	margin: 0px auto;
}

table.jp {
	width: 413px;
	float: left;
	margin-top: 220px;
	margin-left: 23%;
}

tr.jp { margin-top: 220px; }

td.jp {
	display: block;
	float: left;
}

.clear { clear: both; }

.round {
	display: block;
	width: 61px;
	height: 24px;
	-moz-border-radius: 8px;      /* Gecko browsers */
	-webkit-border-radius: 8px;   /* Webkit browsers */
	border-radius: 8px;
	background-color: #b893bd;
	font-family: "微软雅黑";
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	text-align: center;
	margin-left: 220px;
	margin-top: 28px;
}

.round2 {
	display: block;
	width: 105px;
	height: 24px;
	-moz-border-radius: 8px;      /* Gecko browsers */
	-webkit-border-radius: 8px;   /* Webkit browsers */
	border-radius: 8px;
	background-color: #b893bd;
	font-family: "微软雅黑";
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	text-align: center;
	margin-left: 145px;
	margin-top: 28px;
}

.wenzi {
	font-size: 14px;
	color: #7a4f80;
	width: 185px;
	float: left;
	margin-left: 220px;
	margin-top: 10px;
}

.wenzi2 {
	font-size: 14px;
	color: #7a4f80;
	width: 185px;
	float: left;
	margin-left: 22px;
	margin-top: 10px;
}

a.ct {
	background: url(../images/ct.jpg) no-repeat center;
	width: 99px;
	height: 45px;
	display: block;
	float:left;
	margin-left: 245px;
	margin-top: 20px;
}

a.ct2 {
	background: url(../images/qr.jpg) no-repeat center;
	width: 99px;
	height: 45px;
	display: block;
	float:left;
	margin-left: 30px;
	margin-top: 20px;
}