@charset "utf-8";
/* CSS Document */
//base
body{
	margin:0;
	padding:0;
	// font-size:14px;
	// font-family:"Microsoft YaHei";
	// color:#555;
	// background-color: #dcdcdc;
}
html,div,p,span,h1,h2,h3,h4,em,b,table,tr,td,dl,dd,dt,ul,li,i{
	margin:0;
	padding:0;
	list-style:none;
	font-style:normal;
}
img{
	border:medium none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color:#666;
	text-decoration:none;
}
a:link {
	text-decoration:none;
	// font-size:14px;
}
a:foucs,a:active{
	outline:none;
}
a,a:hover{
	outline:none;
	// blur:expression(this.onFoucs=this.blur());
}
a:hover {
	// color: #FB6C90;
	text-decoration:underline;
}
.ico {
	background: url(../img/ico.gif);
}
.ui_ico16 {
	height: 16px;
	width: 16px;
	background: url(../img/ico_16.gif) no-repeat;
	display: inline-block;
}
.ui-yahei {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	font-weight: normal;
}
.fn_clear{
	zoom:1;
}
.fn_clear:after{
	clear:both;
	display:block;
	font-size:0;
	content:"";
	visibility:hidden;
	height:0;
}
.fn_left{
	float:left;
}
.fn_right{
	float:right;
}
.clear {
	clear: both;
}
// base END
body {
	background: url(../img/bg.gif) #474747;
}
.admin_page {
	width: 1100px;
	// background-color: #f4f5ea;
	background-color: #fff;
}
.header {
	background-color: #ec7c25;
	color: #fed8a0;
	padding: 20px 15px;
	height: 40px;
	font-size:14px;
	font-family:"Microsoft YaHei";
	.logo {
		// display: block;
		float: left;
	}
	p {
		color: #fed8a0;
	}
	i {
		// padding: 0 0 40px 20px;
		display: inline-block;
		margin:10px 0 0 30px;
	}
	.admin_btn {
		border:1px solid #d9650a;
		border-radius:3px;
		height: 35px;
		line-height: 35px;
		// padding: 0 10px;
		color: #fff;
		a {
			color: #fff;
			display: inline-block;
			padding-left: 35px;
			font-size:12px;
			font-weight: normal;
			text-decoration:none;
			background-color: #e1711a;
			opacity:0.8;
			filter:alpha(opacity=80);
			&:hover {
				background-color: #e1711a;
			}
			.ico;
			&.a1 {
				border-right:1px solid #d9650a;
				padding-right: 15px;
				background-position: 10px -38px;
			}
			&.a2 {
				border-left: 1px solid #E47A3E;
				padding-left: 32px;
				padding-right: 10px;
				background-position: 8px -77px;
			}
		}
	}
}
.admin_nav {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	min-height: 41px;
	line-height: 40px;
	padding: 0 12px 0 15px;
	display: block;
}
.admin_content {
	// background-color: #F4F5EB;
	background-color: #f2f2f2;
	padding: 10px 15px;
	.main_body {
		border:1px solid #d3d3d3;
		border-radius:4px;
		overflow:hidden; _zoom:1;
		// float: left;
		background-color: #fff;
		margin-left: 205px;
		margin-right: 0;
		margin-top: 0;
		// min-height: 100%;
		h3 {
			// line-height: 28px;
			border-bottom: 1px solid #e8e8e8;
			// font-size:20px;
			// color: #69aa46;
			padding: 10px 15px 10px 15px;
			// font-weight: normal;
			color:#646464; font-size:14px;
			clear: both;
		}
	}
}
.admin_menu {
	overflow:hidden;
	float:left;
	width:190px;
	.menu_dl {
		dl {
			border:1px solid #d3d3d3;
			border-radius:4px;
			background-color: #fff;
			margin-bottom: 10px;
			padding: 5px 0;
			color: #666;
			a {
				color: #666;
			}
			dt {
				padding: 0 10px 4px 10px;
				border-bottom:1px solid #eee;
				margin-bottom: 5px;
				position: relative;
				a {
					display: block;
					text-decoration:none;
					&:hover {
						color: #ec7c25;
					}
				}
				.ico {
					.ui_ico16;
					background-position: -310px -118px;
					position: absolute;
					right: 10px;
					top: 2px;
					opacity:0.2;
					filter:alpha(opacity=20);
					display: none;
				}
			}
			dd {
				padding: 0 15px 0 25px;
				background: url(../img/ico.gif) no-repeat 10px 8px;
				&.on {
					a {
						color: red;
					}
				}
			}
			&.frap {
				// background: #eee;
				padding-bottom: 0;
				.ico {
					display: inline-block;
				}
				dt {
					border-bottom: none;
					padding-bottom: 0;
				}
				dd {
					display: none;
				}
			}
			&#iteam-home {
				.ico {
					background-position: 3px -20px;
				}
			}
		}
	}
}
.inputform {
	width: 100%;
	td {
		border-bottom: 1px solid #e8e8e8;
		padding: 6px 0px 6px 15px;
		// width: 100%;
		border-right: 1px solid #e8e8e8;
		&:last-child {
			border-right: none;
		}
	}
	tr {
		&:nth-child(odd) { 
			background: #f9f9f9;
		}
		&.th {
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(1, #ececec));
		}
		&:hover {
			// background-color: #f7f7f7;
		}
	}
	.option_td {
		background-color: #fff;
		padding: 0;
		.option_link_table {
			margin-bottom: 20px;
		}
	}
	.label
	{
		width:120px;
		background-color: #f3f3f3;
	}
}
.subtn {
	display: inline-block;
	color: #FFF!important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)!important;
	background-image: none!important;
	border-radius: 2px;
	border:1px solid #ed853d;
	box-shadow: none!important;
	-webkit-transition: all ease .15s;
	transition: all ease .15s;
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
	position: relative;
	background-color: #e59729!important;
	// border-color: #ffb752;
	padding: 6px 30px;
	margin: 15px 0;
	.ui-yahei;
}
.inputform .input
{
	background:#f8f8f8;
	padding:10px;
	text-indent:0px;
}
.login_page {
	.ui-yahei;
	.login {
		width: 620px;
		.login-body {
			background-color: #fff;
			height: 300px;
			border-radius:3px;
			box-shadow: 1px 2px 2px #000;
		}
		.info {
			font-size: 12px;
			color: #959595;
			padding-top: 10px;
			line-height: 22px;
			a {
				color: #959595;
			}
			.mail {
				text-decoration: underline;
			}
		}
	}
	.login_con {
		padding: 30px 40px;
	}
	.login_btn {
		// padding-top: 10px;
		.btn {
			height: 41px;
			width: 224px;
			background:url(../img/login_btn.gif) no-repeat;
			border:none;
			text-indent: -999em;
			overflow:hidden; _zoom:1;
			cursor: pointer;
			margin: 5px auto 0 auto;
			&:hover {
				opacity:0.8;
				filter:alpha(opacity=80);
			}
		}
	}
}
.login_logo {
	width: 280px;
	border-right: 1px solid #f5f5f5;
	height: 240px;
	// text-align: center;
	.login_img {
		margin-top: 80px;
		margin-left: 25px;
	}
}
.default-form {
	width: 220px;
	padding-top: 10px;
	margin-left: 28px;
	// border-left: 1px solid #f5f5f5;
	input.txt {
		border: 1px solid #dadada;
		height: 30px;
		line-height: 30px;
		width: 180px;
		padding: 0 10px;
		color: #999;
	}
	h2 {
		background: url(../img/login_text.gif);
		width: 101px;
		height: 20px;
		margin: 0 auto 15px auto;
		text-indent: -999em;
		overflow: hidden;
	}

	#username {
		background: url(../img/login_input_ico.gif) 6px 8px no-repeat #fff !important;
	}
	.input_bg {
		padding-left: 28px;
		// 
		border: 1px solid #dadada;
		height: 30px;
		line-height: 30px;
		width: 188px;
		color: #999;
		margin-left:2px;
		.txt {
			border:none;
			border-left: 1px solid #dadada;
			width: 167px;
		}
	}
	#password {
		background: url(../img/login_input_ico.gif) 6px -24px no-repeat;
		padding-left: 28px;
	}
	.item {
		padding: 6px 0;
		.zh {
			display: none;
		}
	}
	.capcode {
		overflow:hidden; _zoom:1;
		.label {
			float: left;
			.ui-yahei;
			height: 30px;
			line-height: 30px;
			color: #999;
			margin-left: 2px;
		}
		.capcode-con {
			border: 1px solid #dadada;
			float: right;
			* {
				vertical-align: middle;
			}
			.txt {
				border: none;
				border-right: 1px solid #dadada;
				width: 64px;
				font-size: 16px;
				color: #333;
				text-transform:uppercase;
			}
		}
	}
}
.login {
	margin:auto;
	width:500px;
	margin-top:160px;
}
.red {
	color: red !important;
}