@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
textarea{resize:none;}
fieldset, img { border:0; }
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
abbr, acronym { border:0; }
a{ text-decoration:none; outline:none;}
.clear{zoom:1;}
.clear:after{ content:"."; display:block; clear:both; height:0; visibility:hidden;}

/*body*/
body{ font-family:"microsoft yahei",Arial, Helvetica, sans-serif; -webkit-text-size-adjust: none; font-size:12px; background:url(/images/bg.jpg-4.jpg) center 0 no-repeat #f5f5f5; color:#7b7b7b; }
.wrap{ width:100%; margin:0 auto;}
.top,.box,.foot{ width:980px; margin:0 auto;}
/*bg*/
/*color*/
a:link{ color:#4e4e4f;}
a:hover{ color:#035be8; text-decoration:underline; }
.foot em a{ color:#494949;}
.foot em a:hover{ color:#f9460f; text-decoration:none;}
/*img*/
.show_part img,.link_list a img,.mean_part a img{ display:block;}
/*h*/
.invo_part{ height:50px; line-height:50px; padding:0 7px 0 15px; font-size:14px; overflow:hidden; position:relative; background:-webkit-gradient(linear, left top, right bottom, from(#0056e8), to(#319de2));background:-moz-linear-gradient(left, #0056e8,#319de2); background:-o-linear-gradient(left, #0056e8,#319de2); background: -ms-linear-gradient(left, #0056e8, #319de2); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#0056e8,endcolorstr=#319de2,gradientType=1);}
.h3_part,.h3_part2,.h3_part3,.h3_part4,.h3_part5,.h3_part6{ float:left; font-size:20px; color:#fff; padding:0 0 0 37px; background:url(/images/icon_5.png-4.png) 0 center no-repeat;}
.h3_part2{ background:url(/images/icon_6.png-4.png) 0 center no-repeat;}
.h3_part3{ background:url(/images/icon_7.png-4.png) 0 center no-repeat;}
.h3_part4{ background:url(/images/icon_8.png-4.png) 0 center no-repeat;}
.h3_part5{ background:url(/images/icon_p.png-4.png) 0 center no-repeat;}
.h3_part6{ background:url(/images/icon_x.png-4.png) 0 center no-repeat;}
.invo_part a.more_part{ float:right; padding:0 10px; line-height:22px; margin-top:14px; background:#c3e2f7; border-radius:4px; color:#4fa9ef;}
.invo_part2{ height:40px; line-height:40px; font-size:18px; color:#fff; padding:0 10px; background:#3ca00a;}
.h3_pal{ padding:0 0 0 35px; background:url(/images/icon_22.png-4.png) 0 center no-repeat;}
.invo_guide{ float:left; padding:6px 10px 0 10px; height:44px; line-height:44px; color:#fff;}
.invo_guide a{ color:#fff;}
.invo_guide em{ font-style:normal;}
.h3_site{ text-align:center; height:56px; line-height:56px; font-size:30px; color:#f6d44d;}
/*top*/
.top{ height:550px; position:relative;}
.logo{ position:absolute; left:-48px; top:0; width:180px; height:150px; background:url(/images/logo.png-4.png) 0 0 no-repeat;}
.logo a,.foot h2 a,.sus_flod a{ display:block; width:100%; height:100%; text-indent:-9999px;}
/*nav*/
.nav{ height:46px; padding:0 0 0 345px;}
.nav li{ float:left; width:124px; height:46px; font-size:20px; text-align:center; }
.nav li a{ display:block; height:38px; line-height:38px; padding:4px 0; color:#4e4e4f;}
.nav li a:hover,.nav li.nav_on a{ border-top:4px solid #035be8; padding:0 0 4px 0; text-decoration:none; color:#035be8;}
.nav li a em{ display:block; padding:0 2px; font-size:9px; text-transform:uppercase; font-style:normal; line-height:16px; color:#000;}
/*down_box*/
.down_box{ margin:326px 0 0 0; width:612px; position:relative; height:150px; overflow:hidden; background:url(/images/bg2.png-4.png) 0 0 no-repeat;}
.down_feat{ float:left; width:420px;}
.down_feat a{ position:absolute; top:2px; width:198px; height:63px;}
.down_feat a.feat_icon{ left:2px;}
.down_feat a.feat_icon2{ left:203px; top:14px;}
.down_feat a.feat_icon3{ left:9px; top:61px;}
.down_feat a.feat_icon4{ left:210px; top:73px;}
.down_feat a.feat_icon:hover{ background:url(/images/icon_1.png-4.png) 0 0 no-repeat;}
.down_feat a.feat_icon2:hover{ background:url(/images/icon_2.png-4.png) 0 0 no-repeat;}
.down_feat a.feat_icon3:hover{ background:url(/images/icon_3.png-4.png) 0 0 no-repeat;}
.down_feat a.feat_icon4:hover{ background:url(/images/icon_4.png-4.png) 0 0 no-repeat;}

.down_pic{ float:right; width:108px; margin:37px 48px 0 0; display:inline;}
.down_pic img{ display:block; width:102px; height:102px; transform:rotate(2deg); -webkit-transform:rotate(2deg);}
/*box*/
.part_box{ margin-top:20px; overflow:hidden; zoom:1;}
.part_box2{ margin-top:10px;}
.part_left{ float:left; width:420px;}
.part_right{ float:right; width:540px;}
.part_left2{ float:left; width:212px;}
.part_right2{ float:right; width:750px;}
.link_part{ float:left; width:260px; background:#f8f8f8;}
.link_part2{ float:right;}
.hot_part{ background:#f8f8f8; padding-bottom:3px;}
/*hot_tab*/
.hot_tab{ height:30px; line-height:30px; text-align:center; border-bottom:1px solid #d7d7d7; font-size:14px; background:#fff;}
.hot_tab a{ padding:0 20px; color:#2a2a2a;}
.hot_tab a:hover,.hot_tab a.hot_on{ color:#1e81e4; text-decoration:none;}
/*hot_list*/
.hot_list li{ padding:15px 6px 12px 6px; line-height:20px; color:#7b7b7b; border-bottom:1px dotted #cecece; overflow:hidden; zoom:1; background:#f8f8f8; vertical-align:top;}
.hot_list li h4,.hot_list li p,.hot_list li span,.hot_list li cite{ padding:0 20px 0 24px;}
.hot_list li h4{ height:22px; line-height:22px; font-size:16px; overflow:hidden; zoom:1; font-weight:normal;}
.hot_list li h4 cite{ float:right; padding:0; font-size:14px;}
.hot_list li h4 a{ color:#004e9c;}
.hot_list li h4 i{ float:left; width:18px; height:18px; line-height:0; font-size:0; margin:3px 2px 0 -20px;}

.hot_list li h4 i.hotl_icon3{ background:url(/images/icon_9.png-4.png) 0 0 no-repeat;}
.hot_list li h4 i.hotl_icon5{ background:url(/images/icon_10.png-4.png) 0 0 no-repeat;}
.hot_list li h4 i.hotl_icon2{ background:url(/images/icon_11.png-4.png) 0 0 no-repeat;}

.hot_list li h4 i.hotl_icon{ background:url(/images/icon_12.png-4.png) 0 0 no-repeat;}

.hot_list li h4 i.hotl_icon4{ background:url(/images/icon_13.png-4.png) 0 0 no-repeat;}

.hot_list li h4 i.hotl_icon6{ background:url(/images/icon_c.png-4.png) 0 0 no-repeat;}


.hot_list li p{ text-indent:8px; height:60px; overflow:hidden; text-align:justify; text-justify:inter-ideograph ;}
.hot_list li cite{ display:block; font-style:normal; color:#91bfe2;}
.hot_list li span{ display:block; text-align:right; line-height:20px; height:20px;}
.hot_list li span a{ display:inline-block; line-height:16px; height:16px; padding:0 5px; background:#91bfe2; border-radius:3px; color:#fff;}
.hot_list li.hotl_on{ background:#fff; padding:13px 6px 12px 6px;}
.hotl_pic{ float:left; width:124px; padding:0 8px;}
.hot_list li em img{ display:block;}
/*.hot_list li.hotl_on p,.hot_list li.hotl_on span,.hot_list li.hotl_on cite{ padding:0 20px; text-indent:0;}*/

.hot_list li.hotl_on h4 a{ color:#f9460f;}
.hot_list li.hotl_on2 h4 a{ color:#7b7b7b;}
/*show_part*/
.show_part{ width:551px; height:268px; overflow:hidden;position:relative;}
.pic_part2{ width:100%; overflow:hidden;}
.pic_part2 ul{ width:555px;}
.pic_part2 li{ float:left; width:170px; margin:7px 15px 0 0; display:ininline; }
.pic_part2 li a img{ display:block; border:1px solid #d7d7d7;}

/*ser_part*/
.ser_part{ background:url(/images/bg3.png-4.png) 0 0 repeat-x #f8f8f8; padding:0 0 6px 0;}
.ser_part li,.ser_part2 li{ padding:18px 10px 18px 72px; line-height:18px; vertical-align:top; font-size:14px; color:#959595; background:url(/images/icon_14_01.png-4.png) 7px 11px no-repeat;}
.ser_part li em,.ser_part2 li em{ display:block; font-style:normal;color:#65adea;}
.ser_part li b{ display:block; font-weight:normal;}
.ser_part li.ser_icon2{ background:url(/images/icon_14_02.png-4.png) 7px 11px no-repeat;}
.ser_part li.ser_icon3{ background:url(/images/icon_14_03.png-4.png) 7px 11px no-repeat;}
.ser_part2{ background:#f8f8f8;}
.ser_part2 li{padding:12px 10px 12px 44px; background:url(/images/icon_25_01.png-4.png) 11px 18px no-repeat;}
.ser_part2 li.ser_icon5{ background:url(/images/icon_25_02.png-4.png) 11px 18px no-repeat;}
.ser_part2 li.ser_icon6{ background:url(/images/icon_25_03.png-4.png) 11px 18px no-repeat;}
/*link_list*/
.link_list{ padding:3px 8px 6px 8px; overflow:hidden; zoom:1; position:relative; width:244px;}
.link_list ul{ width:9999px;}
.link_list li{ float:left; width:244px;}
.link_list li a{ float:left; width:113px; height:65px; margin:15px 3px 0 4px; display:inline;}
.link_serch{ clear:both; padding:23px 0 24px 0; height:24px; text-align:center;}
/*fture_part*/
.fture_part li{ height:49px; margin-bottom:10px; vertical-align:top;}
.fture_part li a{ display:block; width:100%; height:100%; background:url(/images/icon_20.png-4.png) 0 0 no-repeat;}
.fture_part li a:hover,.fture_part li.ftre_on a{ background:url(/images/icon_21.png-4.png) 0 0 no-repeat;}
.fture_part li a.ftre_icon2:hover,.fture_part li.ftre_on a.ftre_icon2,.fture_part li a.ftre_icon2{ background-position:0 -63px;}
.fture_part li a.ftre_icon3:hover,.fture_part li.ftre_on a.ftre_icon3,.fture_part li a.ftre_icon3{ background-position:0 -126px;}
.fture_part li a.ftre_icon4:hover,.fture_part li.ftre_on a.ftre_icon4,.fture_part li a.ftre_icon4{ background-position:0 -189px;}
/*ser_part*/
.pal_part{ padding:10px 9px; overflow:hidden; zoom:1; background:#fff; line-height:26px; font-size:14px; font-weight:bold;}
.pal_part span{ float:left; width:102px;}
.pal_part span img{ display:block; border:2px solid #b6b6b6;}
.pal_part p{ padding:12px 0 0 115px;}
.pal_part p a,.pal_part p em{ color:#3ca00a; font-style:normal; font-size:18px; display:block;}
/*pros_part*/
.pros_part{ padding:28px 52px; background:#fff;}
.info_tab{ height:34px; line-height:34px; font-size:16px; text-align:center;}
.info_tab a{ display:inline-block; position:relative; width:100px; height:34px; margin:0 2px; color:#000; background:#f8f8f8;}
.info_tab a:hover,.info_tab a.info_on{ background:#3dc6ff; color:#fff; text-decoration:none;}
.info_tab a.info_on i,.info_tab a:hover i{ position:absolute; left:50%; bottom:0; margin:0 0 0 -6px; width:12px; height:5px; background:url(/images/icon_24.png-4.png) 0 0 no-repeat;}
/*info_list*/
.info_list{ padding:24px 0;}
.info_list li{ height:38px; line-height:38px; overflow:hidden; list-style:disc inside; color:#97f3ff; padding:0 10px; border-bottom:1px dashed #ccc;}
.info_list li cite{ float:right; font-style:normal; color:#004e9c;}
.info_list li a{ color:#004e9c;}
/*posi_tit*/
.posi_tit{ line-height:20px; color:#666; text-align:center;}
.posi_tit h4{ height:30px; line-height:30px; width:445px; margin:0 auto 16px auto; font-size:16px; color:#004e9c; background:#d7effe;}
.posi_text{ padding:20px 0; line-height:22px; color:#333;}
/*.posi_text td img{width:100%;}*/
/*info_page*/
.info_page{ text-align:center; line-height:24px; color:#666; overflow:hidden; zoom:1;}
.info_page a{ padding:0 7px; color:#666;}
.info_page b{ color:#F9460F;}

/*foot*/
.foot{ margin-top:70px; height:100px; color:#8c8c8c; line-height:20px; text-transform:uppercase; padding-top:15px;}
.foot h2{ float:left; width:312px; height:100%; background:url(/images/logo2.png-4.png) 94px 0 no-repeat;}
.foot em{ display:block; font-style:normal; color:#494949; font-size:14px;}
/*sus_pop*/
.sus_pop{ position:fixed; right:0; top:60px; z-index:99;}
.sus_flod,.sus_close{ position:absolute; left:-21px; top:280px; width:21px; height:67px; background:url(/images/btn2.png-4.png) 0 0 no-repeat; z-index:100;}
.sus_close{ background:url(/images/btn.png-4.png) 0 0 no-repeat;}
.sus_flod2{ border:1px solid #b7e1ff; border-right:none; width:184px; padding:10px 15px; background:#aac5cc; background:rgba(236,251,255,0.4); box-shadow:-5px 2px 15px  rgba(255,255,255,1) inset;}
.h4_stus{ height:29px; background:url(/images/icon_h.png-4.png) center 0 no-repeat; margin-bottom:10px;}
.h4_stus a{ display:block; width:100%; height:100%;}
.h4_sus,.h4_sus2,.h4_sus3{ height:30px; overflow:hidden; margin-bottom:10px;}
.h4_sus{ background:url(/images/icon_15.png-4.png) 0 center no-repeat;}
.h4_sus2{ background:url(/images/icon_16.png-4.png) 0 center no-repeat;}
.h4_sus3{ background:url(/images/icon_17.png-4.png) 0 center no-repeat;}
.sus_tab span{ display:inline-block; width:92px; line-height:22px; height:22px; vertical-align:middle; overflow:hidden;}
.sus_tab span a{ display:block; padding:0 5px 0 30px; color:#002449;}
.sus_tab span a.sus_ticn{ background:url(/images/icon_18.png-4.png) 5px center no-repeat;}
.sus_tab span a.sus_ticn2{ background:url(/images/icon_19.png-4.png) 12px center no-repeat;}
.sus_tab span.sus_on  a.sus_ticn,.sus_tab span a.sus_ticn:hover,.sus_tab span.sus_on  a.sus_ticn2,.sus_tab span a.sus_ticn2:hover{ background-color:#fff;  background-color:rgba(255,255,255,0.8);}
.sus_with{ line-height:25px; color:#00388d; text-align:center; margin-bottom:10px; padding:5px 0 10px 0; background:#fff; background:rgba(255,255,255,0.8);}
.sus_with p{ margin-top:10px;}
.sus_with img{ vertical-align:top;}
.sus_with2{ background:none;}
.sus_with2 p,.sus_with2 p.sus_wbtm{ margin:-5px 0 0 0;}
.sus_with .wth_btn{ display:inline-block; width:98px; height:25px; background:#00d8ff; font-size:14px; color:#fff;}
.wth_btn2{ display:inline-block; width:126px; height:42px; background:url(/images/btn3.png-4.png) 0 0 no-repeat;}
