.table td .checkbox {margin: 0}
.table .checkbox,.table input[type="radio"] + label {margin-right: 10px;}
.table textarea.form-control{height: 32px;}
.icon-question{cursor: pointer;}
.table .out .chosen-container .chosen-drop, .table .in .chosen-container .chosen-drop{min-width: 250px;!important}
.chosen-container[id^="trader"] .chosen-single {max-width: 173px;}
.chosen-container[id^="dept"] .chosen-single {max-width: 80px;}
