
*, body, div, ul, li, a{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
	text-decoration:none; 
}

body { background: url(../../images/gamedo_sxyjh/bg-2.png); }

.clear { clear: both; }

.top_box {
	background: url(../../images/gamedo_sxyjh/top_box_bg.jpg) no-repeat center;
	width: 100%;
}

.top {
	background: url(../../images/gamedo_sxyjh/top.jpg);
	width: 983px;
	height: 500px;
	margin: 0 auto;
}

.content_box {
	background: url(../../images/gamedo_sxyjh/content_box_bg.jpg) no-repeat center;
	width: 100%;
}

.content {
	background: url(../../images/gamedo_sxyjh/content_bg.jpg);
	width: 983px;
	height: 321px;
	margin: 0 auto;
}

.btn {
	width: 262px;
	float: left;
}

.btn img {
	margin: 0;
	padding: 0;
	display: block;
}

.con_2_box {
	background: url(../../images/gamedo_sxyjh/con_2_box.jpg) no-repeat center;
	width: 100%;
}

.con_2 {
	width: 983px;
	height: 262px;
	margin: 0 auto;
	position: relative;
}

.erweima { float: left; }

.weibo {
	position: absolute;
	top: 318px;
	left: 5px;
}

.xinwen_bg {
	position: absolute;
	top: 30px;
	left: 281px;
	background: url(../../images/gamedo_sxyjh/xinwen_bg.jpg);
	width: 719px;
	height: 581px;
}

.zuixin {
	width: 410px;
	float: left;
	color: #2a2a2a;
	font-size: 12px;
}

.zuixin .redian {
	display: block;
	font-size: 14px;
	margin: 0 auto;
	padding-top: 24px;
	font-weight: bold;
	text-align: center;
}

.liebiaonum {
	background: url(../../images/gamedo_sxyjh/list.png) no-repeat left;
	color: #FFFFFF;
	margin-left: 40px;
	margin-top: 19px;
	width: 21px;
	height: 14px;
	text-align: center;
	padding-bottom: 2px;
}

.liebiaonum2 {
	background: url(../../images/gamedo_sxyjh/list.png) no-repeat left;
	color: #FFFFFF;
	margin-top: 10px;
	width: 21px;
	height: 14px;
	text-align: center;
}

.liebiaobt {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 30px;
	text-align: left;
	padding-bottom: 2px;
}

.liebiaobt2 {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 5px;
	text-align: left;
	padding-bottom: 2px;
}

.down {
	width: 983px;
	margin: 0 auto;
	padding-top: 10px;
}

.down_left {
	width: 271px;
	float: left;
}

.bg {
	margin-top: 10px;
	margin-left: 5px;
}

.xuanze {
	width: 236px;
	color: 000;
	font-size: 16px;
	font-weight: bolder;
	margin-left: 12px;
	height: 38px;
}

.kefu {
	background: url(../../images/gamedo_sxyjh/kefu.jpg) repeat;
	margin-top: 10px;
	width: 262px;
	height: 351px;
	font-size: 14px;
	color: #2a2a2a;
	position: relative;
}

.kefu img {
	position: absolute;
	top: 36px;
	left: 36px;
}

.kefu2 {
	position: absolute;
	top: 92px;
	left: 45px;
	line-height: 3em;
}

.erweima {
	float: left;
	background: url(../../images/gamedo_sxyjh/erweima.jpg);
	width: 262px;
	height: 260px;
}

.erweima2 {
	float: left;
	width: 262px;
	height: 260px;
}

.down_box {
	width: 100%;
	background: url(../../images/gamedo_sxyjh/down1.jpg) repeat;
}

.down_2_box {
	width: 100%;
	background: url(../../images/gamedo_sxyjh/bg-2.png) repeat;
	padding-bottom: 30px;
}

.down_2 {
	width: 983px;
	margin: 0 auto;
	background: url(../../images/gamedo_sxyjh/bg-2.png) repeat;
}

.yx {
	width: 720px;
	margin-top: 10px;
}

.yx_tab {
	overflow: hidden;
	height: 49px;
	margin: 0 auto;
	width: 720px;
	background: #acacac;
	color: #ffffff;
}

.yx_tab a {
	display: block;
	float: left;
	text-decoration: none;
	color: #ffffff;
	width: 179px;
	height: 49px;
	border-left: 1px #fff solid;
	text-align: center;
	padding-top: 9px;
	font-size: 18px;
}

.yx_tab a:hover {
	color: #fff;
	text-decoration: none;
}

.yx_on {
	color: #fff;
	text-decoration: none;
	background: url(../../images/gamedo_sxyjh/qhbg.jpg) repeat-x;
}

.yx_con {
	overflow: hidden;
	background: #eaeaea;
	width: 720px;
	height: 351px;
}

.yx_con li { display: none; }

.yx_tubiao {
	Width : 85px;
	Height : 85px;
	background: #666666;
	border: #080103 1px solid;
	display: block;
	margin-left: 28px;
	margin-top: 22px;
	float: left;
}

.hezuo{	background: #eaeaea; margin-top: 10px;}

#gpic {
	width : 720px;
	height : 200px;
	overflow: hidden;
	margin-top: 10px;
}

#preview { position:absolute; border:1px solid #ccc; background:#333; padding:5px; display:none; color:#fff; }

