
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block;}

* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }

.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.ui-state-disabled { cursor: default !important; }

.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { background: #1b1b1b; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { background: #1b1b1b; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #222222; }

.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6; font-weight: normal; color: #555555; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff; font-weight: normal; color: #212121; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

.ui-icon { width: 16px; height: 16px; }

.ui-widget-overlay { background: #000000; opacity: .30;filter:Alpha(Opacity=30); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }

.ui-dialog { position: relative; padding: 0px; width: 300px; z-index:20000;}
.ui-dialog .ui-dialog-titlebar { height: 26px; position: relative;  }
.ui-dialog .ui-dialog-title {  color: #fff; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 0; top: 0; width: 55px; height: 26px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; width: 100%; height: 100%; background: url(http://fbb.gamedo.com.cn/templets/web/images/close_btn.gif); cursor: pointer; }
.ui-dialog .ui-dialog-titlebar-zoom { position: absolute; right: 87px; top: 0; width: 55px; height: 26px; }
.ui-dialog .ui-dialog-titlebar-zoom span { display: block; width: 100%; height: 100%; background: url(http://fbb.gamedo.com.cn/templets/web/images/zoom_btn.gif); cursor: pointer; }

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: 0px 2px 2px 2px; background: url(http://fbb.gamedo.com.cn/jquery/imgzoom/images/loading.gif) 8px 2px no-repeat; overflow: auto; zoom: 1; overflow: hidden; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.ui-dialog-alt { position: absolute; width: 23px; height: 26px; background: url(http://fbb.gamedo.com.cn/templets/web/images/zoom_icon.gif) no-repeat; right: -23px; top: 0px; opacity: .70;filter:Alpha(Opacity=70); cursor: pointer;}
.ui-dialog-alt.hover { background: url(http://fbb.gamedo.com.cn/templets/web/images/zoom_icon_hover.gif) no-repeat; opacity: .70;filter:Alpha(Opacity=70); }
.ui-dialog-border{}
.ui-dialog-alt{display:none;}
