@charset "utf-8";

/* list css */


*, body, div, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
}

body { background: url(../../images/gamedo_sxyjh/bg-2.png); }

.a{ text-decoration:none; }

.clear { clear: both; }

.top_box {
	background: url(../../images/gamedo_sxyjh/top_box_bg.jpg) no-repeat center;
	width: 100%;
}

.top {
	background: url(../../images/gamedo_sxyjh/top.jpg);
	width: 983px;
	height: 500px;
	margin: 0 auto;
}

.list_box {
	background: url(../../images/gamedo_sxyjh/list_bg.jpg) no-repeat center;
	width: 100%;
}

.list {
	background: url(../../images/gamedo_sxyjh/list.jpg);
	width: 983px;
	height: 1270px;
	margin: 0 auto;
	position: relative;
}

.left {
	width: 262px;
	position: absolute;
}

.left img {
	margin: 0;
	padding: 0;
	display: block;
}

.num {
	background: url(../../images/gamedo_sxyjh/num3.jpg) no-repeat center;
	color: #FFFFFF;
	padding-top: 3px;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	float: left;
	margin-top:30px;
}

.liebiaobt {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 30px;
	text-align: left;
	padding-bottom: 2px;
}

.liebiaobt2 {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 5px;
	text-align: left;
	padding-bottom: 2px;
}

.down {
	width: 983px;
	margin: 0 auto;
	padding-top: 10px;
}

.down_left {
	width: 271px;
	float: left;
}

.bg {
	margin-top: 10px;
	margin-left: 5px;
}

.xuanze {
	width: 236px;
	color: 000;
	font-size: 16px;
	font-weight: bolder;
	margin-left: 12px;
	height: 38px;
	margin-top:10px;
}

.kefu {
	background: url(../../images/gamedo_sxyjh/kefu.jpg) repeat;
	margin-top: 10px;
	width: 262px;
	height: 351px;
	font-size: 14px;
	color: #2a2a2a;
	position: relative;
}

.kefu img {
	position: absolute;
	top: 36px;
	left: 36px;
}

.kefu2 {
	position: absolute;
	top: 92px;
	left: 45px;
	line-height: 3em;
}

.erweima {
	background: url(../../images/gamedo_sxyjh/erweima.jpg);
	width: 262px;
	height: 260px;
}

.erweima2 {
	float: left;
	width: 262px;
	height: 260px;
	margin-top:10px;
}

.down_box {
	width: 100%;
	background: url(../../images/gamedo_sxyjh/down1.jpg) repeat;
}

.right {
	position: absolute;
	left: 262px;
	Width : 720px;
	font-size: 14px;
}

.title {
	Width : 680px;
	Height : 53px;
	background: #acacac;
	color: #fff;
	padding-top: 23px;
	padding-left: 40px;
	overflow: hidden;
}

.zhengwen {
	background: #eaeaea;
	min-height: 517px;
	_height: 517px;
	Width : 720px;
}

.mingzi{
	float:left;
	width:auto;
	margin-top:30px;
	margin-left:30px;}