@charset "utf-8";

/* CSS Document 媒体tag的css */

.meiti {
	margin-top: 10px;
	width: 720px;
	height: 259px;
	font-family: '微软雅黑';
	background:#eaeaea;
	font-size:12px;
	
	
}

.meiti .meiti_tag {
	overflow: hidden;
	height: 49px;
	margin: 0 auto;
	width: 720px;
	background:#acacac;
}

.meiti .meiti_tag a {
	display: block;
	float: left;
	text-decoration: none;
	width: 81px;
	height: 49px;
	text-align: center;
	padding-top: 12px;
	font-size: 14px;
	color:#fff;
}


.meiti .meiti_tag a.meiti_on {
	color: #fff;
	text-decoration: none;background:url(../../images/gamedo_sxyjh/qhbg.jpg) repeat-x;
}

.meiti .meiti_con {
	overflow: hidden;
	padding: 10px;
}

.meiti_con li {
	width: 667px;
	height: 159px;
	display:none;
	}

.xuhao {
	border-radius: 5px;
	background-color: rgb(229, 84, 40);
	width: 21px;
	height: 14px;
	margin-top: 20px;
	margin-left: 20px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding-bottom: 3px;
	float: left;
}

.meiti_biaoti {
	float: left;
	width: 500px;
	color:2a2a2a;
	font-size: 12px;
	margin-top: 15px;
	margin-left: 20px;
}

.meiti_line {
	width: 635px;
	height: 1px;
	border-bottom: 1px dashed #d9c6b3;
	clear: both;
	margin-top: 10px;
	margin-left: 20px;
}
