@charset "utf-8";

/* CSS 顶部菜单css */


.nav {
/*	position: relative;*/
	width: 1000px;
	height: 125px;
	background: url(../../images/gamedo_sxyjh/menu_bg.jpg);
	overflow: hidden
}

.nav-item {
	position: relative;
	float: left;
	padding-top:17px;
	padding-left:60px
	}
