@charset "utf-8";

/* list css */


*, body, div, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
}

body { background: url(../../images/gamedo_sxyjh/bg-2.png); }

.clear { clear: both; }

.top_box {
	background: url(../../images/gamedo_sxyjh/top_box_bg.jpg) no-repeat center;
	width: 100%;
}

.top {
	background: url(../../images/gamedo_sxyjh/top.jpg);
	width: 983px;
	height: 500px;
	margin: 0 auto;
}

.list_box {
	background: url(../../images/gamedo_sxyjh/list_bg.jpg) no-repeat center;
	width: 100%;
}

.list {
	background: url(../../images/gamedo_sxyjh/list.jpg);
	width: 983px;
	height: 1270px;
	margin: 0 auto;
	position: relative;
}

.left {
	width: 262px;
	position: absolute;
}

.left img {
	margin: 0;
	padding: 0;
	display: block;
}

.num {
	background: url(../../images/gamedo_sxyjh/num3.jpg) no-repeat center;
	color: #FFFFFF;
	padding-top: 3px;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	float: left;
	margin-top:30px;
}

.liebiaobt {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 30px;
	text-align: left;
	padding-bottom: 2px;
}

.liebiaobt2 {
	font-size: 12px;
	margin-left: 25px;
	margin-top: 5px;
	text-align: left;
	padding-bottom: 2px;
}

.down {
	width: 983px;
	margin: 0 auto;
	padding-top: 10px;
}

.down_left {
	width: 271px;
	float: left;
}

.bg {
	margin-top: 10px;
	margin-left: 5px;
}

.xuanze {
	width: 236px;
	color: 000;
	font-size: 16px;
	font-weight: bolder;
	margin-left: 12px;
	height: 38px;
	margin-top:10px;
}

.kefu {
	background: url(../../images/gamedo_sxyjh/kefu.jpg) repeat;
	margin-top: 10px;
	width: 262px;
	height: 351px;
	font-size: 14px;
	color: #2a2a2a;
	position: relative;
}

.kefu img {
	position: absolute;
	top: 36px;
	left: 36px;
}

.kefu2 {
	position: absolute;
	top: 92px;
	left: 45px;
	line-height: 1.5em;
}

.erweima {
	background: url(../../images/gamedo_sxyjh/erweima.jpg);
	width: 262px;
	height: 260px;
}

.erweima2 {
	float: left;
	width: 262px;
	height: 260px;
	margin-top:10px;
}

.down_box {
	width: 100%;
	background: url(../../images/gamedo_sxyjh/down1.jpg) repeat;
}

.right {
	position: absolute;
	left: 262px;
	Width : 720px;
	font-size: 14px;
}

.title {
	Width : 680px;
	Height : 53px;
	background: #acacac;
	color: #fff;
	padding-top: 23px;
	padding-left: 40px;
	overflow: hidden;
}

.zhengwen {
	background: #eaeaea;
	min-height: 517px;
	_height: 517px;
	Width : 720px;
	padding-bottom:30px;
}

.mingzi{
	width:auto;
	text-align:center;
	display:block;
	padding-top:30px;
	color:#eba954;
	font-size:16px;
	font-weight:bold;}
	
.qiehuan {
	width: 630px;
	height: auto;
	padding-top:30px;
	margin:0 auto;
	
}

.qiehuan .tab {
	overflow: hidden;
	height: 49px;
	margin: 0 auto;
	width: 360px;
	background: #acacac;
	color: #ffffff;
}

.qiehuan .tab a {
	display: block;
	float: left;
	text-decoration: none;
	color: #ffffff;
	width: 179px;
	height: 49px;
	border-left: 1px #fff solid;
	text-align: center;
	padding-top: 9px;
	font-size: 18px;
}

.qiehuan .tab a:hover {
	color: #fff;
	text-decoration: none;
}

.qiehuan .tab a.on {
	color: #fff;
	text-decoration: none;
	background: url(../../images/gamedo_sxyjh/qhbg.jpg) repeat-x;
}

.qiehuan .content {
	overflow: hidden;
	background: #eaeaea;
	width: 630px;
}

.qiehuan .content li { display: none; }

.picnr{ margin-top:19px;width:300px; float:left; margin-left:10px; }
.picbiaoti{ text-align:center;background:#c2c0c0}