
.qiehuan {
	width: 720px;
	height: 260px;
	font-family: '微软雅黑';
	background-color: #eaeaea;
	float: left;
}

.qiehuan .tab {
	overflow: hidden;
	height: 49px;
	margin: 0 auto;
	width: 720px;
	background: #acacac;
	color: #ffffff;
}

.qiehuan .tab a {
	display: block;
	float: left;
	text-decoration: none;
	color: #ffffff;
	width: 179px;
	height: 49px;
	border-left: 1px #fff solid;
	text-align: center;
	padding-top: 9px;
	font-size: 18px;
}

.qiehuan .tab a:hover {
	color: #fff;
	text-decoration: none;
}

.qiehuan .tab a.on {
	color: #fff;
	text-decoration: none;
	background: url(../../images/gamedo_sxyjh/qhbg.jpg) repeat-x;
}

.qiehuan .content {
	overflow: hidden;
	background: #eaeaea;
	width: 720px;
	height: 212px;
}

.qiehuan .content li { display: none; }

.picqh {
	width: 720px;
	height: 260px;
	font-family: '微软雅黑';
	background: #eaeaea;
}

.picqh .pictab {
	overflow: hidden;
	height: 49px;
	margin: 0 auto;
	width: 720px;
	background: #acacac;
}

.picqh .pictab a {
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	width: 179px;
	height: 49px;
	text-align: center;
	padding-top: 9px;
	font-size: 18px;
	border-left: 1px #fff solid;
}

.picqh .pictab a:hover {
	color: #fff;
	text-decoration: none;
}

.picqh .pictab a.on {
	color: #fff;
	text-decoration: none;
	background: url(../../images/gamedo_sxyjh/qhbg.jpg) repeat-x;
}

.picqh .piccon {
	overflow: hidden;
	background: #eaeaea;
	width: 720px;
	height: 212px;
	position: relative;
}

.picqh .piccon ul {
	position: absolute;
	/*	left: -2px;
	top: -1px;*/
	height: 212px;
	left: -1px;
}

.picqh .piccon li {
	width: 720px;
	height: 212px;
	float: left;
	margin-top: 20px;
}

.picqh .piccon li img {
	float: left;
	margin-left: 35px;
}
