﻿/* public */
html,body,form,ol,ul,li,div,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,font,em,ins,span,a{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;font-weight:normal}
ul,li,div,dl,dt,dd{list-style:none;}
h1.wm-public{height:0px; line-height:0px; font-size:0px;}
a{text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
img{border:0;}
font,em{font-style:normal; font-family:\5b8b\4f53;}
label{vertical-align:middle; font-family:tahoma;}
textarea,input{resize:none; outline:none;}
textarea{overflow:auto;}
ins{float:right; text-decoration:none; font-weight:normal;}
.pub_wsp{word-wrap:break-word; word-break:break-all;}
.pub_abso{vertical-align:middle;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.pub_yh{font-family:"Microsoft YaHei";}
.none{display:none;}
.enjoyList{
    
   overflow: hidden;
	background: #3f241c;
	width: 667px;
	height: 740px;
	padding-top: 20px;
	margin:0 auto;
       

}
.enjoyList ul{width:660px;height:auto}
.enjoyList li{float:left; width:200px; height:250px; padding-right:10px;padding-left:10px;}
.enjoyList img{display:block; width:200px; height:200px;}
.enjoyList p{background:#c2c0c0; color:#4a4949; height:20px; line-height:20px; text-align:center;}
