

img {
	display: block;
	border: 0;
}

.focus {
	width: 720px;
	margin: 0 auto;
	overflow: hidden;
	float:left;
	margin-left:5px;
}

.focusbox { position: relative; }

.focusimg {
	width: 723px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.fimglist {
	width: 10000px;
	position: relative;
}

.fimglist img {
	display: block;
	width: 723px;
	height: 200px;
	cursor: pointer;
}

.fimglist li {
	width: 990px;
	height: 200px;
	float: left;
}

.focustool {
	width: 723px;
	height: 97px;
	position: relative;
	top: 3px;
	margin: 0 auto;
	margin-top:5px;
}

.ftoollist img {
	display: block;
	width: 238px;
	height: 97px;
	margin: 0 auto;
}

.ftoollist a {
	display: block;
	width: 238px;
	height: 97px;
	position: relative;
}

.ftoollist li {
	float: left;
	width: 238px;
	height: 102px;
	cursor: pointer;
	margin-left:2px;

}

.ftoollist a:hover {
	top: -2px;
}
