@charset "utf-8";

/* CSS list */

.list_con_box {
	background: url(../../images/gamedo_gmws/list_con_box_bg.jpg) no-repeat center;
	width: 100%;
	margin: 0px;
}

.list_con {
	background: url(../../images/gamedo_gmws/list_con_bg.jpg);
	width: 1000px;
	height: 950px;
	margin: 0 auto;
}

.list {
	width: 721px;
	height: 926px;
	font-family: '微软雅黑';
	float: right;
	margin-top: 5px;
	margin-left: 15px;
	background: url(../../images/gamedo_gmws/list_bg.jpg);
}

.list .list_tag {
	overflow: hidden;
	height: 41px;
	margin: 0 auto;
	width: 670px;
	margin-top: 30px;
	color: black;
	font-size: 20px;
}

.list .list_tag a {
	display: block;
	float: left;
	text-decoration: none;
	color: black;
	text-align: center;
	margin-left: 8px;
	font-size: 20px;
}

.list .list_tag a:hover {
	color: #fff;
	text-decoration: none;
}

.list .list_tag a.list_on {
	border-top: 3px #d9c6b3 solid;
	color: #fff;
	text-decoration: none;
}

.list .list_con {
	overflow: hidden;
	background: #3f241c;
	width: 667px;
	height: 781px;
	margin-top: 20px;
}

.list_con li {
	width: 600px;
	height: 780px;
	display: none;
}

.list_biaoti {
	float: left;
	width: 500px;
	color: #fff;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 20px;
}

.list_line {
	width: 635px;
	height: 1px;
	border-bottom: 1px dashed #d9c6b3;
	clear: both;
	margin-top: 10px;
	margin-left: 20px;
}

.fyxh {
	width: 18px;
	height: 15px;
	background: #89755f;
	text-align: center;
	float: left;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #fff;
}
