@charset "utf-8";

/* CSS Document 媒体tag的css */

.meiti {
	width: 720px;
	height: 274px;
	font-family: '微软雅黑';
	float: right;
	background: url(../../images/gamedo_gmws/meiti_bg.png);
	margin-top: 30px;
}

.meiti .meiti_tag {
	overflow: hidden;
	height: 41px;
	margin: 0 auto;
	width: 670px;
	margin-top: 30px;
}

.meiti .meiti_tag a {
	display: block;
	float: left;
	text-decoration: none;
	color: #d9c6b3;
	width: 81px;
	height: 41px;
	text-align: center;
	margin-left: 8px;
	background: #3f241c;
	padding-top: 6px;
	font-size: 14px;
}

.meiti .meiti_tag a:hover {
	color: #fff;
	text-decoration: none;
}

.meiti .meiti_tag a.meiti_on {
	border-top: 3px #d9c6b3 solid;
	color: #fff;
	text-decoration: none;
}

.meiti .meiti_con {
	overflow: hidden;
	padding: 10px;
}

.meiti_con li {
	width: 667px;
	height: 159px;
	display:none;
	}

.xuhao {
	border-radius: 5px;
	background-color: rgb(229, 84, 40);
	width: 21px;
	height: 14px;
	margin-top: 17px;
	margin-left: 24px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding-bottom: 3px;
	float: left;
}

.meiti_biaoti {
	float: left;
	width: 500px;
	color: #fff;
	font-size: 12px;
	margin-top: 15px;
	margin-left: 20px;
}

.meiti_line {
	width: 635px;
	height: 1px;
	border-bottom: 1px dashed #d9c6b3;
	clear: both;
	margin-top: 10px;
	margin-left: 20px;
}
