@charset "utf-8";

/* CSS 顶部菜单css */


.nav {
/*	position: relative;*/
	width: 1000px;
	height: 124px;
	background: url(../../images/gamedo_gmws/menu_bg.jpg);
	overflow: hidden
}

.nav-item {
	position: relative;
	float: left;
	width: 200px;
	height: 49px;
	padding-top:10px;
	padding-left:60px
	}
