@charset "utf-8";

/* CSS news */

.list_con_box {
	background: url(../../images/gamedo_gmws/list_con_box_bg.jpg) no-repeat center;
	width: 100%;
	margin: 0px;
}

.list_con {
	background: url../../images/gamedo_gmws/list_con_bg.jpg);
	width: 1000px;
	height: 951px;
	margin: 0 auto;
}

.news {
	width: 721px;
	font-family: '微软雅黑';
	float: right;
	margin-top: 5px;
	margin-left: 15px;
	background:#3f241c;
}

.news .news_tag {
	overflow: hidden;
	height: 41px;
	margin: 0 auto;
	width: 670px;
	margin-top: 30px;
}

.news .news_tag a {
	display: block;
	float: left;
	text-decoration: none;
	color: wheat;
	text-align: center;
	margin-left: 8px;
	font-size: 20px;
}

.news .news_tag a:hover {
	color: #fff;
	text-decoration: none;
}

.news .news_tag a.news_on {

	color: #fff;
	text-decoration: none;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}

.news .news_con {
	overflow: hidden;
	background: #3f241c;
	width: 667px;
	
	margin-top: 20px;
	margin:0 auto;
}

.news_con li {
	width:667px;
	
	display: none;
}


.news_biaoti {
	width: 500px;
	color: #fff;
	font-size: 20px;
	text-align:center;
	display:block;	
	margin:0 auto;
	padding-top:30px;
	
}
.news_time{
	width: 500px;
	color: #fff;
	font-size: 12px;
	text-align:center;
	display:block;	
	margin:0 auto;
	padding-top:20px;
	
}

.news_line {
	width: 635px;
	height: 1px;
	border-bottom: 1px dashed #d9c6b3;
	clear: both;
	padding-top:20px;
	margin:0 auto;
}
.zhengwen{ color:#fff; width:600px; margin:0 auto; padding-top:20px;}