.qiehuan {
	width: 667px;
	height: 260px;
	margin: 28px auto 0;
	font-family: '微软雅黑';
}

.qiehuan .tab {
	overflow: hidden;
	height: 41px;
	margin: 0 auto;
	width: 636px;
}

.qiehuan .tab a {
	display: block;
	float: left;
	text-decoration: none;
	color: #d9c6b3;
	width: 143px;
	height: 41px;
	text-align: center;
	margin-left: 10px;
	background: #3f241c;
	padding-top: 6px;
	font-size: 18px;
}

.qiehuan .tab a:hover {
	color: #fff;
	text-decoration: none;
}

.qiehuan .tab a.on {
	border-top: 3px #d9c6b3 solid;
	color: #fff;
	text-decoration: none;
}

.qiehuan .content {
	overflow: hidden;
	background: #3f241c;
	margin-top: 10px;
	width: 667px;
	height: 212px;
}

.qiehuan .content li { display: none; }

.picqh {
	width: 667px;
	height: 260px;
	font-family: '微软雅黑';
	margin: 28px auto 0;
}

.picqh .pictab {
	overflow: hidden;
	height: 41px;
	margin: 0 auto;
	width: 636px;
}

.picqh .pictab a {
	display: block;
	float: left;
	text-decoration: none;
	color: #d9c6b3;
	width: 143px;
	height: 41px;
	text-align: center;
	margin-left: 10px;
	background: #3f241c;
	padding-top: 6px;
	font-size: 18px;
}

.picqh .pictab a:hover {
	color: #fff;
	text-decoration: none;
}

.picqh .pictab a.on {
	border-top: 3px #d9c6b3 solid;
	color: #fff;
	text-decoration: none;
}

.picqh .piccon {
	overflow: hidden;
	width: 667px;
	height: 212px;
	position: relative;
	background: #3f241c;
}

.picqh .piccon ul {
	position: absolute;
	left: -2px;
	top: -1px;
	height: 175px;
}

.picqh .piccon li {
	width: 667px;
	height: 212px;
	float: left;
	margin-top: 18px;
}

.picqh .piccon li img {
	float: left;
	margin-left: 30px;
}

.zy {
	width: 720px;
	height: 523px;
	font-family: '微软雅黑';
	background: url(../../images/gamedo_gmws/zy_bg.png);
	float: left;
	margin-left: 12px;
	margin-top: 30px;
}

.zy .zytab {
	overflow: hidden;
	height: 41px;
	margin: 0 auto;
	width: 636px;
	padding-top: 30px;
}

.zy .zytab a {
	float: left;
	text-decoration: none;
	color: #d9c6b3;
	width: 143px;
	height: 41px;
	text-align: center;
	margin-left: 10px;
	background: #3f241c;
	padding-top: 6px;
	font-size: 18px;
}

.zy .zytab a:hover {
	color: #fff;
	text-decoration: none;
}

.zy .zytab a.on {
	border-top: 3px #d9c6b3 solid;
	color: #fff;
	text-decoration: none;
}

.zy .zyliulan {
	overflow: hidden;
	width: 720px;
	height: 420px;
	position: relative;
}

.zy .zyliulan ul {
	position: absolute;
	
	height:159px;;
}

.zy .zyliulan li {
	width: 720px;
	height: 450px;
	float: left;
	margin-top: 18px;
}

.zy .zyliulan li img { float: left; }

.zy .zyliulan .zynr {
	width: 270px;
	height: 386px;
	background: #3f241c;
	border: 2px solid #b28f69;
	padding-left: 20px;
	margin-left: 53px;
	float: left;
}

.zynr h1 {
	color: #ecd6ba;
	font-size: 18px;
	padding-top: 10px;
}

.zynr p {
	color: #fff;
	font-size: 16px;
	width: 260px;
	margin-top: 15px;
}

.zynr h2 {
	color: #e6803c;
	font-size: 14px;
	margin-top: 15px;
	float: left;
}

.zynr img {
	float: left;
	margin-top: 15px;
	margin-left: 12px;
}
