
.hg {
width: 100%;
border-top:4px solid #303030;}
.pr { position:relative;}
.bm{ border:none;}
.wp {width: 90%;}
.wp{ width:960px; margin:0 auto;}
#wp .wp{background-color:#f6f6f6; box-shadow: 1px 1px 25px #996413; }
#pt{ margin:0; padding:5px;}
#pt,.fl .bm_h{ background-color:#e4e5ef;}
.fl .bm_h{ background:url({STYLEIMGDIR}/conList.png) repeat-x center top;

height: 30px;

padding-left: 17px;
font: normal normal bold 14px/30px "simsun";
color: #616174;
border: 1px solid #d1d1dc;
border-bottom: 0;

}
#ct{ background-color:#f6f6f6;}
/*页头导航*/
.mainMenu li {
float: left;
}
.mainMenu .link_01 {
background-position: 0 0;
}
.mainMenu a {
float: left;
display: inline-block;
font: normal normal 14px/28px 'Microsoft Yahei';
height: 28px;
color: #d1bb94;
width: 103px;
text-align: center;
background: url({STYLEIMGDIR}/mainMenu.png) no-repeat;
text-indent: -999em;
}
.mainMenu .link_02 {
background-position: -103px 0;
}
.mainMenu .link_03 {
background-position: -206px 0;
width: 133px;
}
.mainMenu .link_01:hover{background-position:0 -28px;}
.mainMenu .link_02:hover{background-position:-103px -28px;}
.mainMenu .link_03:hover{background-position:-206px -28px;width:133px;}

/* 弹出菜单、弹出层及弹出窗口 */
	.p_pop, .p_pof, .sllt { padding: 4px; border: 1px solid; min-width: 60px; border-color: #7E2F22; {DROPMENUBGCODE}; box-shadow: 1px 2px 2px rgba(0,0,0,0.3); }
		.ie6 .p_pop { width: 100px; }
		.p_pof .p_pop { padding: 0; border: none; box-shadow: none; }
		.p_pof { width: 500px; }
		.p_opt { padding: 10px; }
		.p_pop li { display: inline; }
		.p_pop a { display: block; padding: 3px 5px; border-bottom: 1px solid {SPECIALBG}; white-space: nowrap; }
			.p_pop li:last-child a { border: none; }
			.ie6 .p_pop li { zoom: 1; clear: both; width: 100%; }
			.ie6 .p_pop a { position: relative; }
			.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: {SPECIALBG}; color: {HIGHLIGHTLINK}; text-decoration: none; }
			.prompt_news, .prompt_follower,.prompt_news_0, .prompt_follower_0, .ignore_notice, .prompt_concern { float: left; width: 18px; height: 14px; margin: 3px 3px 5px 0; display: inline; background: url({IMGDIR}/ico_notice.png) no-repeat 0 0; }
			.prompt_follower_0 { background-position: 0 -225px; }
			.prompt_news { background-image: url({IMGDIR}/new_pm.gif); }
			.prompt_follower { background-position: 0 -191px; }
			.prompt_concern { background-position: 0 -258px; }
			.ignore_notice { background: url({IMGDIR}/close.gif) no-repeat 0 0; position:absolute; right:0; top:0; width:12px; height:12px; overflow:hidden; }
			.p_pop .ignore_noticeli a,.p_pop .ignore_noticeli a:hover,.p_pop .ignore_noticeli a.a { background:none; border-bottom:0; }
			.p_pop .notice_interactive, .p_pop .notice_system, .p_pop .notice_manage, .p_pop .notice_app, .p_pop .notice_mypost { margin: 3px 2px 5px 0;}
			.ie6 .ignore_notice { display: none; }

		/* .blk -> block 内容较为复杂的弹出层使用 .blk 的 class，内部的 a 标签重新定义 */
		.blk a, .inlinelist a { display: inline; padding: 0; border: none; }
			.blk a:hover { background: none; color: {LINK}; text-shadow: none; text-decoration: underline; }
		.inlinelist { padding: 5px; }
			.inlinelist a { float: left; width: 5em; height: 2em; overflow: hidden; text-align: center; line-height: 2em; }
	.h_pop { min-width: 120px; border-top: none; margin-top: 25px;}

/*logo*/
/*#hd h2{ width:960px; text-align:center;}
#hd h2 img {
vertical-align: middle;
margin: 40px 0 20px 0;
}*/
/*nav*/
#nv { overflow: hidden; height: 80px; {MENUBGCODE }; box-shadow: 1px 1px 25px #FFFFFF;
} 
				#nv li { float: left; padding-right: 1px; height: 40px; line-height: 65px; background: none; font-weight: 700; font-size: 16px; }
					.ie_all #nv li { line-height: 43px; }
					.ie6 #nv li { line-height: 40px; }
					#nv li a { float: left; padding: 0 15px; height: 40px; text-shadow: 1px 1px 0px #000;}
						#nv li a { color: #d1bb94; }
						#nv li span { display: none; }
					#nv li.a { margin-left: -1px; {MENUHOVERBGCODE}; }
						#nv li.a a { color: {MENUHOVERTEXT}; }
						#nv li a:hover { background:none; }
						#nv li.hover a:hover, #nv li.hover a { background:none; }
						#um{ padding-top:28px;}
						#um .a{ color:#303030;}
						#hd { margin-top:78px;}
					
						#hd form a,#hd form label,#hd .ftid a{ color:#d1bb94 !important;}
					
						#hd h2{ padding:0;}
						#qmenu{ margin-top:21px;}
						
						
						.fl_tb td:hover{ background-color:#fff;}
						/*foot*/
						#online,#category_lk { border:none;}
						#ft a{ color:#d1bb94 !important;}
						
.content_mid{padding: 10px 20px 10px 20px;
border-bottom: 1px solid #d0d0de;}

/* 搜索 */
#scbar{ background:#FFF;overflow: visible;position: relative; box-shadow: 1px 1px 25px #3d3d3d;}
.scbar_txt_td, .scbar_type_td, .scbar_btn_td{ background:none;}
#scbar_form{background: url("{STYLEIMGDIR}/search.png") no-repeat 0 50%;margin-left: 20px;}
.scbar_narrow #scbar_txt,#scbar_txt {width: 315px!important; margin-left:5px;}
.scbar_btn_td{ width:40px; }
#scbar_btn{width:40px; height:38px;text-indent:-9999px;}
		.nvhm { width: 16px; background: url({IMGDIR}/search_1.png) no-repeat 0 0; line-height: 200px; overflow: hidden; }


/* 幻灯片 */
.slideblock { position: relative; }
	.slideshow { clear: both; }
		.slideshow li { position: relative; overflow: hidden; }
			.slideshow span.title { position: absolute; bottom: 0; left: 0; margin-bottom: 0; width: 100%; height: 32px; line-height: 32px; font-size: 14px; text-indent: 10px; }
			.slideshow span.title, .slidebar li { background: rgba(0, 0, 0, 0.3); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #30000000, endColorstr = #30000000); color: {LIGHTLINK}; overflow: hidden; }
			.slidebar li { float: left; margin-right: 1px; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 10px; cursor: pointer; }
				.slidebar li.on { background: rgba(0, 61, 255, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #50FFFFFF, endColorstr = #50FFFFFF); color: #000; font-weight: 700; }
.slidebar li {
font-size: 0px;
width: 15px;
height: 15px;
border-radius: 50%;
margin-right: 3px;}

/* 圆角 头像 */
	.brs, .avt img, .oshr { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 27px; box-shadow: 1px 1px 25px #FFFFFF;}
	.brm { -moz-border-radius: 10px; -webkit-border-radius: 10px;  border-radius: 10px; }
	.brw { -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;  }
