html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,i,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;font-style:normal;}
ul,li{list-style:none;}

.fcm_ifr{width:680px;float:left;overflow:hidden;}
	.zh_find{width:362px;height:95px;background:url("../images/fcm_sbg.jpg") no-repeat 0 0;margin:0 auto;padding-top:45px;}
	.zh_find li{padding:5px 0px;}
	.fcm_input{width:150px;height:24px;line-height:24px;background:#fff;border:1px solid #e3e3e3;padding:0 5px;}
	.zh_tb{width:566px;margin:0 auto;margin-top:10px;}
	.zh_tb table {width:564px;margin:0 auto;font-size: 14px;border-collapse: collapse;}
	.zh_tb th,.zh_tb td{height:30px;line-height:30px;text-align:center;border: 1px #c4c4c4 solid;}
	.zh_tb th{background:#e2e2e2;color:#666666;font-weight:bold;}
	.zh_tb td {color:#666666;line-height:16px;text-align:center;padding:0px 6px;}
	.fcm_page{width:566px;font-size:12px;float:left;overflow:hidden;margin-top:5px;text-align:right;}
	.zh_tb .tbbg01{color:#000;background:url("../images/tdbg01.gif") repeat-x 0 0;}
	.zh_tb .tbbg02{color:#000;background:url("../images/tdbg02.gif") repeat-x 0 0;}
	.zh_tb .tbbg03{color:#000;background:url("../images/tdbg03.gif") repeat-x 0 0;}
	.gz_find{background:url("../images/gz_sbg.jpg") no-repeat 0 0;}
	.hover{background:url("../images/tdbg.gif") repeat-x 0 0;}

#ifr_01{width:680px;height:230px;float:left;}
#auto_iframe01{width:680px;}
#auto_iframe02{width:680px;}
#auto_iframe03{width:680px;}
#auto_iframe04{width:680px;}
#auto_iframe05{width:680px;height:600px;}
