
*, body, div, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
}

.top_box {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/top_box_bg.jpg)no-repeat center;
	width: 100%;
}

.top {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/top.png);
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

.content_box {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/con_bg.jpg) no-repeat center;
	width: 100%;
	margin: 0px;
}

.content {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/content.jpg);
	width: 1000px;
	height: 311px;
	margin: 0 auto;
}

.btn {
	width: 256px;
	float: left;
	margin-left:5px;
}

.clear { clear: both; }

.con_2_box {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/con_2_box.jpg) no-repeat center;
	width: 100%;
}

.con_2 {
	width: 1000px;
	height: 610px;
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/con_2.jpg) no-repeat;
	margin: 0 auto;
	position: relative;
}

.weibo {
	position: absolute;
	top: 318px;
	left: 5px;
}

.xinwen_bg {
	position: absolute;
	top: 30px;
	left: 281px;
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/xinwen_bg.jpg);
	width: 719px;
	height: 581px;
}

.zuixin {
	width: 364px;
	float: left;
}

.zuixin .redian {
	background: #806c56;
	display: block;
	color: #FFFFFF;
	font-size: 16px;
	margin: 0 auto;
	width: 370px;
	height: 28px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}

.liebiaonum {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/list.png) no-repeat left;
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 40px;
	margin-top: 19px;
	width: 21px;
	height: 14px;
	text-align: center;
	padding-bottom: 2px;
}

.liebiaonum2 {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/list.png) no-repeat left;
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 40px;
	margin-top: 10px;
	width: 21px;
	height: 14px;
	text-align: center;
	padding-bottom: 2px;
}

.liebiaobt {
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 19px;
	width: 270px;
	height: 14px;
	text-align: left;
	padding-bottom: 2px;
}

.liebiaobt2 {
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 10px;
	width: 270px;
	height: 14px;
	text-align: left;
	padding-bottom: 2px;
}

.down {
	width: 1000px;
	margin: 0 auto;
}

.down_left {
	width: 268px;
	float: left;
	margin-top: 30px;
}

.down_left .xuanze {
	width: 253px;
	height: 48px;
	border: #b59063 1px solid;
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/xuanze_bg.jpg) repeat-x;
	margin-left: 9px;
	color: 000;
	font-size: 16px;
	font-weight: bolder;
}

.kefu {
	background: url(http://gmws.gamedo.com.cn/statics/images/gamedo_gmws/kefu.png);
	width: 262px;
	height: 286px;
	margin-left: 3px;
	margin-top: 30px;
}

.kefu h1 {
	float: left;
	margin-top: 26px;
	margin-left: 24px;
	border-radius: 5px;
	background-color: rgb(63, 36, 28);
	width: 54px;
	height: 22px;
	font-size: 12px;
	color: #fff;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 5px;
}

.kefu p {
	float: left;
	margin-top: 28px;
	margin-left: 10px;
	color: black;
	font-size: 16px;
}


