{assign var="seotitle" value=$article->seotitle}
{assign var="seokeywords" value=$article->seokeywords}
{assign var="seodescription" value=$article->seodescription}
{assign var="seotitle" value="关于我们"}
{include file="header.tpl"}
<!--main start-->

<!-- 1 产品 , 2 新闻 , 3 关于 , 4 活动  , 5 招聘 -->
<style type="text/css">
{literal}
	body {
{/literal}
		{assign var="indexImgList" value=$navdata->TakePageBg()}
		{foreach from=$indexImgList item=img}
			{if $img->cid eq "3"}
				
				background-image: url({$siteurl}{$img->src});
			{/if}
		{/foreach}
{literal}
	}
{/literal}
</style>






<div class="page">
	<h1>关于我们</h1>
	<div class="page_content news_page">
		<div class="main">
			<div class="width640">
				<div>
					


					<h1 class="fn_clear">
						{$companyname}
					</h1>
					<div class="content">
						{$companysummary}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--main end-->
{include file="footer.tpl"}
