{assign var="seotitle" value=$category->seotitle}
{assign var="seokeywords" value=$category->seokeywords}
{assign var="seodescription" value=$category->seodescription}
{include file="header.tpl"}
<!--main start-->

<!-- 1 产品 , 2 新闻 , 3 关于 , 4 活动  , 5 招聘 -->

{literal}
<style type="text/css">
body {
{/literal}
{php}
	if(strpos($_SERVER['REQUEST_URI'],'category/news/') !==false) {
		/*echo '新闻';*/
{/php}
		{assign var="indexImgList" value=$navdata->TakePageBg()}
		{foreach from=$indexImgList item=img}
			{if $img->cid eq "2"}
				background-image: url({$siteurl}{$img->src});
			{/if}
		{/foreach}
{php}
	}
	if(strpos($_SERVER['REQUEST_URI'],'category/activity/') !==false) {
{/php}
		{assign var="indexImgList" value=$navdata->TakePageBg()}
		{foreach from=$indexImgList item=img}
			{if $img->cid eq "4"}
				background-image: url({$siteurl}{$img->src});
			{/if}
		{/foreach}
{php}
	}
	if(strpos($_SERVER['REQUEST_URI'],'category/jobs/') !==false) {
{/php}
		{assign var="indexImgList" value=$navdata->TakePageBg()}
		{foreach from=$indexImgList item=img}
			{if $img->cid eq "5"}
				background-image: url({$siteurl}{$img->src});
			{/if}
		{/foreach}
{php}
	}	
{/php}
{literal}
}
	</style>
{/literal}

<div class="page">
	<h1>文章列表</h1>
	<div class="page_content news_list">
		<div class="main">
			<div class="mainbody">
				{if (count($subcategory) > 0)}
				{if ($curpage == 1)}
				<!--sub_category-->
				<div id="sub_category" class="combox">
					<h2>{$category->name}下的分类</h2>
					<div class="content">
						<ul>
							{foreach from=$subcategory item=cat}
							<li>
								<a href="{formaturl type="category" siteurl=$siteurl name=$cat->filename}">{$cat->name}</a>
							</li>
							{/foreach}
						</ul>
					</div>
				</div>
				<!--/sub_category-->
				{/if}
				{/if}
				<div class="combox">
					<div class="content">
						{if ($total > 0)}
						<ul class="news_ul">
							{foreach from=$articlelist item=artinfo}
								{if $artinfo->status eq "ok"}
									<li>
										<h2>
											<a href="{formaturl siteurl=$siteurl type="article" name=$artinfo->filename}" target="_blank">{$artinfo->title}</a>
										</h2>
										<P>{$artinfo->content|replace:"&nbsp;":""|strip_tags|truncate:280:"...":true}</P>
										<div class="result_list">
											<span class="fr">{$artinfo->adddate}</span>
										</div>
									</li>
								{/if}
							{/foreach}
						</ul>
						<div class="page_number">
							<label>共{$total}个文章 当前{$curpage}/{$totalpage}页</label>
							{assign var="nextpage" value="`$curpage+1`"}
							{assign var="prepage" value="`$curpage-1`"}
							<span class="fr">
								{if ($curpage > 1)}
								<a href="{formaturl type="category" siteurl=$siteurl name=$category->filename}">首页</a>
								<a href="{formaturl type="category" siteurl=$siteurl name=$category->filename page=$prepage}">上一页</a>
								{/if}
							{if ($curpage > 0) && ($curpage
								< $totalpage)}
							<a href="{formaturl type="category" siteurl=$siteurl name=$category->filename page=$nextpage}">下一页</a>
								<a href="{formaturl type="category" siteurl=$siteurl name=$category->filename page=$totalpage}">尾页</a>
								{/if}
							</span>
						</div>
						{else}
					该分类下暂时没有内容
					{/if}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--main end-->
{include file="footer.tpl"}