	<!--footer start-->
	<div class="footer">
		<!--<div class="link">
			{assign var="linklist" value=$linkdata->GetLinkList()}
			{foreach from=$linklist item=linkinfo}
				<a href="{$linkinfo->url}" title="{$linkinfo->title}" target="_blank">{$linkinfo->title}</a>
			{/foreach}
		</div>
        -->
		<div class="footer_content">
			<p>{$sitecopy}</p>
		</div>
	</div>
	<!--footer end-->

</body>

</html>
