{assign var="seotitle" value=$product->seotitle}
{assign var="seokeywords" value=$product->seokeywords}
{assign var="seodescription" value=$product->seodescription}
{include file="header.tpl"}
<!--main start-->

<!-- 1 产品 , 2 新闻 , 3 关于 , 4 活动  , 5 招聘 -->
<style type="text/css">
{literal}
	body {
{/literal}
		{assign var="indexImgList" value=$navdata->TakePageBg()}
		{foreach from=$indexImgList item=img}
			{if $img->cid eq "1"}
				background-image: url({$siteurl}{$img->src});
			{/if}
		{/foreach}
{literal}
	}
{/literal}
</style>


<div class="page">
	<h1>纵横游戏</h1>
	<div class="page_content news_page">
		<div class="width640">
			<h1>{$product->name}</h1>
			<!-- <div class="attr">
				<div class="fr">发布时间:{$product->adddate}</div>
			</div> -->
			<div class="content">{$product->content}</div>
		</div>
	</div>
</div>
<!--main end-->
{include file="footer.tpl"}
